[2020-10-14 08:41] roshanrajaratnam commented on #337
@kcjian we don't plan to support version 1.2.0 anymore since the library has matured a lot since this version. I would suggest upgrading to the latest library 2.1.4 as it is the most stable version as of now.

[2020-10-14 08:41] #337 closed

[2020-10-14 08:52] roshanrajaratnam commented on #333
@Eklow02 Have you gotten around this?

[2020-10-15 08:53] Lelight-Iot commented on #342
Sorry to disturb you, I know how to solve it.

Need
`-keep class org.spongycastle.** { *; }`

[2020-10-15 08:53] #342 closed

[2020-10-16 02:50] BaiduSu opened #347 "mesh adv parameters"
how to understand the diff between  ble adv interval, adv period, and network tarnsmit count, network transmit interval steps?

[2020-10-20 08:28] Eklow02 commented on #333
Hi @roshanrajaratnam, sorry for the late reply.
The bug is still there. But it doesn't happen that often anymore

[2020-10-20 08:30] Eklow02 commented on #335
Sorry for the late reply.

unfortunately my client don't let me share the code with you 😢

[2020-10-20 09:45] roshanrajaratnam commented on #333
@Eklow02 I've had no luck trying to reproduce this issue. Have you tried using the latest library version?

[2020-10-20 10:08] Eklow02 commented on #333
Yes I have updated to the latest library version. For me it's also hard to reproduce. The error appears irregularly

[2020-10-20 12:02] roshanrajaratnam commented on #333
I'll keep an eye on this.

[2020-10-26 09:46] #347 closed

[2020-11-02 15:06] zp0605 opened #352 "How to read data from vendor modle？"
1, we have a control command that needs to transfer 12 bytes of data.
2. On the Android side, we plan to use vendor modle to send data
3. How to read data from vendor modle in Android?

[2020-11-02 15:53] #352 closed

[2020-11-02 16:13] Kleak opened #353 "Having the ability to have our own MeshNetworkCallbacks"
As of today we only have onMeshNetworkUpdate but we lost a lot of information on why it's updated.

It would be great if we can have our on MeshNetworkCallbacks. By having this we will not lost why the MeshNetwork is updated and allow more granularity when executing functionality.

[2020-11-03 10:46] roshanrajaratnam commented on #353
Hi @Kleak, could you elaborate a little bit more on this?

As of now every time the network is changed due to a mesh message that is sent/received you receive a callback `onNetworkUpdated()` and this is because the network is saved to the database at each operation. However there is also `MeshStatusCallbacks` that are invoked for each message received/sent meanining you have both these callbacks g

[2020-11-03 10:48] Kleak commented on #353
in fact onNetworkUpdated is loosing lot of information.
I would like to have the event after updating the provisioner for example but i can't because i'm not sure the onNetworkUpdated is the response of my update provisioner or something else.
But lot of other things can't be waited because we don't have the information :/

[2020-11-03 10:56] roshanrajaratnam commented on #353
Right I see, this is something I can look into but it will have to wait a little bit unfortunately. What I can do is add a callback for each database update i.e. provisioner,  app keys and etc. hope this would work for you?

[2020-11-03 10:58] Kleak commented on #353
Yes that would be ok :+1:
Or maybe expose an other MeshNetworkCallbacks and trigger event at the same place the current one is.

[2020-11-03 11:01] roshanrajaratnam commented on #353
ok, as of now I have some other priorities but i will look in to as soon as I get some time.

[2020-11-13 23:07] haicongfu opened #354 "mesh packet reassembly termination implementation is wrong"
---

**Describe the bug**
The current implementation of reassembled mesh packet termination is based on last packet size which is wrong. It should be based on GATT_SAR_END bits in the incoming or outgoing packet.

**To Reproduce**
Steps to reproduce the behavior:
User third party tool to generate two mesh segments, each segment equal to the MTU.
Because the last segment length equals mtuSize, the

[2020-11-16 07:24] coolxv opened #355 "Is there an interface available on Mac/Linux/Windows?"

[2020-11-16 13:17] roshanrajaratnam commented on #355
The libraries available as of now are meant to for Android and iOS platforms. Please open a ticket on Devzone and you should be able to get a clear answer on this.

[2020-11-16 13:17] #355 closed

[2020-11-16 13:19] roshanrajaratnam commented on #354
@haicongfu thanks for reporting this i'll take a look at this.

[2020-11-25 15:52] zp0605 opened #357 "How do I know if the device is online？"
How do I know if the device is online？
For example, there are 10 provisionedmeshnodes,how do I listen for every device going online or offline in my APP?

[2020-11-25 15:56] bradjwilson commented on #357
You could ping each one of the Unicast addresses for the devices. Sending a message like "proxy-get" and if you get a response then its online. Or if the devices have proxy turned on and are in the range of your app you could see them in the proxy scanner.

[2020-11-26 07:08] roshanrajaratnam commented on #357
@bradjwilson you are correct however I would suggest @zp0605 to use Heartbeat messages for this purpose. Heartbeat messages have three functions and one of them is to know if a node is still active within a mesh network. You can set them from the configuration server model to publish periodically and is recommended that the configured destination be a group address. You can find more information a

[2020-11-27 08:44] R0m4in-dooz commented on #344
Hello @roshanrajaratnam ! We are using the library and need this feature for Android. Can we get a deadline on the future release containing GenericDeltaSet for Android ?

[2020-11-27 11:19] roshanrajaratnam commented on #344
Hey @R0m4in-dooz unfortunately I cannot promise a deadline as I have some other priorities related to mesh and I will add this on one of the upcoming releases. However feel free to send us a pull request if you decide it to implement it yourself.

[2020-11-27 12:21] R0m4in-dooz commented on #344
Allright thank you for quick response !
Well we have already some custom classes to wrap GenericMessage, but not sure if it could help you to indeed implement the feature.
We will try to implement a workaround until a release containing this DeltaSet feature for Android is published 👍 Keep up the great work :)

[2020-12-04 16:06] saty9 commented on #320
@roshanrajaratnam  I have been encountering the same issue and don't understand your response. The code block at the start of this issue still assigns the network's address not one from the provisioning nodes range. Unless there is another place the unprovisioned node gets its address assigned?

[2020-12-14 06:15] harishkumar12k opened #359 "Deleting App Key Failed to remove from DB"
**Describe the bug**
Deleting the App Key for first time once it is created failed.
1. Add App Key(Application Key 2)
2. Delete App Key(Application Key 2)
3. Kill the App
4. Open App
5. Now in App List screen "Application Key 2" is still present, which was deleted previously.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to App Key List screen.
2. Click on button "ADD APP KEY"(Even if i

[2020-12-14 09:26] roshanrajaratnam commented on #359
@harishkumar12k nice catch, I'll fix this in the upcoming release!

[2020-12-15 09:46] #359 closed

[2021-01-04 12:50] ximen opened #369 "Sensor models not provisioning"
---
Latest versions (2.4.4 and 2.4.3 checked) not properly provisioning nodes with sensor server and/or client models.
Device gets all provisioning info and successfully finishes process, but application do not add it to network list, so it is not usable.
App version 2.1.1 does such provisioning flawlessly.

**To Reproduce**
Steps to reproduce the behavior:
1. Get nRF Mesh android app v2.4.4 or 2.

[2021-01-05 07:53] roshanrajaratnam commented on #369
@ximen  Thanks for reporting this issue, I'll take a look at this and get back to you.

[2021-01-05 13:40] roshanrajaratnam commented on #369
Hi I tried to reproduce this issue and had no luck. It seems to work perfectly without any issue on version 2.4.4 on Android 8.0 on Galaxy S7 as well as on Android 10 on Pixel devices.

Do you know exactly when it might be failing as I am failing to reproduce this issue?

[2021-01-08 14:54] ximen commented on #369
Hi! Thank you for your answer. I've made some more debugging and pretty sure the problem is in option CLOCK_CONTROL_NRF_K32SRC_SYNTH in device's Kconfig - when I change 32Khz clock source from CLOCK_CONTROL_NRF_K32SRC_XTAL to CLOCK_CONTROL_NRF_K32SRC_SYNTH I see provisioning problems (dsm link loss disconnect in android logcat after sending provisioning data).

So, I think problem is on the other

[2021-01-08 16:50] roshanrajaratnam commented on #369
Thanks for the feedback. Could you kindly create a ticket for this on DevZone please? Our tech support should be able to help you regarding the issue on the SDK.

[2021-01-08 17:16] ximen commented on #369
Surely I'll create DevZone ticket, thank you.

[2021-01-08 17:16] #369 closed

[2021-01-10 11:22] KcLeung514 opened #370 "How do I subscribe the status message from devices?"
How do I subscribe the status message from devices?

Here is the scenario.
In this mesh network, there are 2 provisioners created, and 2 devices provisioned.
- Provisioner A ( unicastAddress: 1 )
- Provisioner B ( unicastAddress: 1024 )
- Device A ( unicastAddress:2 )
- Device B ( unicastAddress:5 )

We have 2 clients; mobile client A and B. They selected different provisioners, joined this networ

[2021-01-12 04:46] xhtlxa opened #371 "Import network problems"
---

**Describe the bug**
The node cannot be set normally after importing other networks.

**To Reproduce**
Steps to reproduce the behavior:
1. Settings-Export
2. Settings-Import
3. connect

**Expected behavior**
The node can be set normally.

**Platform details:**
 - Device: Android
 - OS: 8.0
 - Library Version (2.4.3)

**Logs / Screenshots**
Add any logs or screenshots that can help us debug th

[2021-01-13 01:52] #215 closed

[2021-01-20 13:55] philips77 commented on #370
Hello,

What I would do:
1. Set publication on Device A to some group address. Not to 0xFFFF, as this goes to all devices, but to some custom one.
2. On Provisioner A and B add this group address to Whitelist filter.
3. Send `GenericOnOffSetUnacknowleded(state=true)` instead.

You should not receive 2 status messages on any node, as they only originate from Device A. Device B should only relay tha

[2021-01-22 01:46] kiyoshi-brilliant opened #374 "Provisioning Data Flag appears to be in wrong bit order"
---

**Describe the bug**
The provisioning flags do not appear to be the in the correct bit order.
[Android's implementation](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/81c6e9efec569d9dd9fa700ba9f96de7a2f05366/mesh/src/main/java/no/nordicsemi/android/mesh/MeshNetwork.java#L627) uses the two high-order/left-most bits, whereas [iOS implementation](https://github.com/NordicS

[2021-01-22 08:00] roshanrajaratnam commented on #374
Nice catch and thanks for reporting this! Will fix this in the upcoming version.

[2021-01-22 13:22] PM-BubblyNet opened #376 "Release Schedule"
Hey!
We see a lot of movement over here, its great, thanks! have a couple of questions:

the iOS project next release is on Beta due to incompatibility with Android project:
https://github.com/NordicSemiconductor/IOS-nRF-Mesh-Library/releases/tag/3.0-beta1
May I ask if its planned for the next Android release to fix this?

And second Q, can I ask if there is a panned schedule for this release? whe

[2021-01-22 14:22] philips77 commented on #376
We are planning to release 3.0 final next week or in 2 weeks. We're fixing some bugs we found during testing and adding some missing features, e.g. Key Refresh Procedure. Both Android and iOS versions will be compatible with each other and will accept the JSON generated by previous versions (although will generate only new scheme).

[2021-01-22 14:39] PM-BubblyNet commented on #376
Hey @philips77 sweet, thanks! you made my day with the last 2 sentences, was worried about projects migrations from JSONs 2.X to 3, so thats nice! Thanks!

[2021-01-23 02:05] kiyoshi-brilliant opened #377 "Migration Issue in feature/version-3"
*CAVEAT*: I realize feature/version-3 is not released, just wanted to check if this was already known as I'm hoping this will be fixed in the final 3.0 release.

---

**Describe the bug**
When running the Example app on a build w/ feature/version-3 after having previously had 2.4.1, the following runtime error is seen:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install and run ap

[2021-01-23 02:31] kiyoshi-brilliant commented on #377
I'm not that familiar with Room so I don't know if this is actually correct, but this error seems to be fixed by changing the annotations on the `BaseMeshNetwork` class:
Original:
[code]

Fixed:
[code]

[2021-01-23 07:12] roshanrajaratnam commented on #377
Thanks for the report, version-3 is no released yet. However the db migration did work when I tested from 2.4.4 to 3.0. But will double check, I handle the migrations the same way for partial [here](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/feature/version-3/mesh/src/main/java/no/nordicsemi/android/mesh/MeshNetworkDb.java#L933) and networkExclusion [here](https://github.

[2021-01-25 08:40] roshanrajaratnam commented on #377
@kiyoshi-brilliant you are correct on this issue. When migrating the Database version from 9 to 11 this issue seems to happen. I did not face this because I was migrating from 9 to 10 and 10 to 11 when I am developing. However I could fix my query or set the default value on the annotations. I would go with your solution since it's tested and working.

[2021-01-25 08:59] roshanrajaratnam commented on #377
In addition I had to add `@NonNull` annotation for the exclusions column.

[2021-01-26 08:39] #377 closed

[2021-01-27 09:05] xhtlxa commented on #371
I hope it can be used normally after importing the mesh. Later I found that it can be achieved by modifying the unicast address different from the previous one, but there are only a few thousand unicast addresses available and cannot be repeated with the previous ones. Is there any way I can clear the previous ones Unicast address cache

[2021-01-27 09:17] roshanrajaratnam commented on #371
I believe the problem you are having is sending messages after exporting and importing a network on a different phone?
If so the reason for this not to work is the sequence number being exported or imported for security reasons. However you can have multiple provisioners in the network for different devices.. This way you don't have to modify the unicast address of the provisioners to send message

[2021-01-29 02:30] xhtlxa commented on #371
I can’t use it after exporting and importing from the same mobile phone. Is there a way to directly clean up the unicast addresses that I have previously set?

[2021-01-29 02:43] xhtlxa commented on #371
Or is there a way to clear the serial number cache?

[2021-01-29 06:54] KcLeung514 commented on #370
I tried the suggestion, but it seen something went wrong.

Here is the nodes created in mesh network.
- Provisioner A ( unicastAddress: 1 )
- Device A ( unicastAddress:2 )
- Device B ( unicastAddress:5 )
- Group A ( groupAddress: 0xC000 )

I updated the publication settings of Device A and B, and set the publish address to 0xC000.
When connected to provisioned node, I enabled the whiteList Proxy F

[2021-01-29 07:54] roshanrajaratnam commented on #371
If you had export >> reset >> imported again the sequence numbers are lost and the messages won't work sent from the same address because the nodes will have the last used sequence number. However, if you had just exported and imported it should just work out of the box, I will take at look at this on my end as well.

If you want to change address of a provisioner you can do that in settings >> pr

[2021-02-02 00:47] xhtlxa commented on #371
I can’t continue to use it after exporting and importing. It seems that the serial number has become zero, and the serial number of the node is still the previous one, so the message is filtered.

[2021-02-02 00:51] xhtlxa commented on #371
Is there a way to get and modify the serial number?

[2021-02-02 07:32] roshanrajaratnam commented on #371
Here's how to set the sequence number manually https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/05ccaf31796939e8e47d138e2a91bf37c24d54bf/mesh/src/main/java/no/nordicsemi/android/mesh/transport/ProvisionedMeshNode.java#L242-L253

[2021-02-02 08:58] xhtlxa commented on #371
Excuse me, can this serial number overlap infinitely? Or will it automatically return to 0?

[2021-02-03 07:48] xhtlxa commented on #371
Why is my getSequenceNumber always -1?

[2021-02-03 09:08] roshanrajaratnam commented on #371
as I said, when exporting the network, we don't export the sequence number so when you import again it's reset.

[2021-02-04 00:57] xhtlxa commented on #371
After the sequence is reset to 0, I cannot interact with the node. How to deal with this?

[2021-02-04 06:54] roshanrajaratnam commented on #371
You will have to manually handle this in your app, this is the reason the library allows to set the sequence number manually. Sequence number is not exported due to security reasons.

[2021-02-04 06:54] #371 closed

[2021-02-04 07:35] Nuclear6 opened #385 "provisioning to proxy"
I have a little doubt, why provisioning complete, need rescan mesh proxy service and then connect this device. Why not connect the device directly when completing the provisioning.

[2021-02-04 12:08] roshanrajaratnam commented on #385
This is because when a node is not provisioned, it is advertising with Mesh Provisioning Service and then the device switches to advertising with Mesh Proxy Service. These two separate services help us to identify nodes that are provisioned and not.

Also after provisioning we need to ensure we are connecting to a node that has the same Node identity or the Network ID, this is advertised with the

[2021-02-04 12:08] #385 closed

[2021-02-04 14:42] Nuclear6 commented on #385
I got it, thanks!!!

[2021-02-05 07:15] xhtlxa commented on #371
How do I receive the acquisition and modification sequence? The sequence I get with getSequenceNumber()  is always -1.

[2021-02-05 07:33] roshanrajaratnam commented on #371
I will be changing the default sequence number to zero, however, like I said before sequence numbers are not exported so you will have to handle it manually. What I mean by handling manually is that keep track of the the sequence numbers. Because every time you export and import the network from a json file the sequence number is not present. Hence it can be -1 or will be 0 in the future. May be y

[2021-02-05 07:41] xhtlxa commented on #371
What I think is getSequenceNumber()   before export and setSequenceNumber()   after import, but the value I get from getSequenceNumber()    before export is -1, is there a problem with my writing?

sharedViewModel.getNodes().getValue().get(0).getSequenceNumber()

[2021-02-05 07:56] roshanrajaratnam commented on #371
Sequence number is incremented for each message sent, so if your node has not sent any messages it can be -1.  But I see a slight issue in the library which can be misleading. https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/ac4a019cf8079a89f0830162ca614178efa92753/mesh/src/main/java/no/nordicsemi/android/mesh/BaseMeshNetwork.java#L1038-L1040

This should allow you to get the s

[2021-02-05 14:36] fiveagle opened #389 "Time Set Message"
Hi,
we are wondering if on Android side is the same regarding https://github.com/NordicSemiconductor/IOS-nRF-Mesh-Library/issues/320 ?
Is it feasible to add it in 3.1?
Or is it fairly simple to implement ourselves like in iOS? Can you give some example?

Thanks a lot.

[2021-02-07 06:54] roshanrajaratnam commented on #389
Hi @fiveagle the same applies, 3.0 will be submitted Monday morning and we plan to keep the releases and features in sync as much as possible. Pull requests are welcome.

Yes it's pretty simple. You can base it on [GeneicOnOffSetUnacknowledged](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/dev/mesh/src/main/java/no/nordicsemi/android/mesh/transport/GenericOnOffSetUnacknowled

[2021-02-08 08:57] #374 closed

[2021-02-09 09:37] roshanrajaratnam opened #392 "Network Exclusions not getting saved in the DB"
Above affects version 3.0.0

[2021-02-09 09:38] roshanrajaratnam opened #393 "Parent address not exported as expected"
`parentAddress` of Group is not exported correctly.

[2021-02-09 10:43] #392 closed

[2021-02-09 10:43] #393 closed

[2021-02-09 13:58] KcLeung514 commented on #370
The issue is solved.

Here is the story.
When I try to apply the same suggestion at iOS platform.
I saw following message from logs.
[code]
So, I think that limit come from my device's firmware.
Finally, I empty the address list before add address `0xC000`, then my app client can receive status messages from `0xC000`. Issue solved.

[2021-02-09 13:58] #370 closed

[2021-02-10 08:00] roshanrajaratnam commented on #371
@xhtlxa #395 this should help you start sending messages after exporting and importing the same network.

[2021-02-11 08:14] #291 closed

[2021-02-15 10:45] Eklow02 commented on #341
I get the same error on different devices and not only when I delete a node, but also when I try to add one.
My current device is a Pixel 3a with Android 11

[2021-02-15 13:06] roshanrajaratnam commented on #341
Hey, what version of the library are you on?

[2021-02-15 13:45] Eklow02 commented on #341
I'm using Version 2.4.1

[2021-02-15 13:50] roshanrajaratnam commented on #341
Could you try to upgrade and see if that helps?

[2021-02-15 14:46] Eklow02 commented on #341
Yes, I will look into it and get back to you.

[2021-02-15 16:40] Eklow02 opened #399 "Is provisioner check inside BaseMeshNetwork is wrong"
---

**Describe the bug**
The method ` public boolean isProvisioner(@NonNull final ProvisionedMeshNode node)` inside the `BaseMeshNetwork` return for all nodes inside the network true.  The method compares the meshUuuid but the id is always the same, because the uuid from the network is set after provisioning.

**Expected behavior**
The check should compare the `provisioner.getProvisionerUuid()` w

[2021-02-16 06:44] KcLeung514 opened #400 "An error thrown when export mesh network"
---

**Describe the bug**
An error thrown when export mesh network at nRF Mesh App ( Android, v3.0.2 )

**To Reproduce**
Steps to reproduce the behavior:
1. Export mesh network json file from nRF Mesh App ( iOS, v3.0.2 )
2. Import this mesh network file at nRF Mesh App ( Android, v3.0.2 )
3. Try to export mesh network json file from nRF Mesh App ( Android, v3.0.2 )
4. See error

**Expected behavio

[2021-02-16 07:48] roshanrajaratnam commented on #400
Thanks for reporting this issue, await a fix :)

[2021-02-16 09:34] roshanrajaratnam commented on #400
Version 3.0.3 is now published.

[2021-02-16 09:34] #400 closed

[2021-02-16 17:56] roshanrajaratnam commented on #399
Hi, I did not notice this issue until now and I already released a 3.0.3. I'll take a look at this now.

[2021-02-16 18:04] roshanrajaratnam commented on #399
It's a stupid bug, I was comparing the network UUIDs instead of their own UUIDs, hence returning always true. Check out the latest Dev branch. You can close the issue, if it works for you.

[2021-02-16 18:06] #357 closed

[2021-02-17 13:44] Eklow02 commented on #399
Yes, I was also a little bit confused 😅. The fix is working for me👍

[2021-02-17 13:44] #399 closed

[2021-02-17 14:11] Eklow02 commented on #341
Hi, I have updated to the latest Version `3.0.3`.
Unfortunately  I get a similar error as described above:

`-------- beginning of crash
2021-02-17 15:07:31.238 19738-19809/de.jung.lbconnect E/AndroidRuntime: FATAL EXCEPTION: pool-4-thread-1
    Process: de.jung.lbconnect, PID: 19738
    java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.next(ArrayList.java:860)
        a

[2021-02-18 06:53] roshanrajaratnam commented on #341
Right ok now I might have a clue what's happening. This is probably because the list is being modified. Could you also give me the steps to reproduce please or is it just very random?

[2021-02-18 08:31] Eklow02 commented on #341
I just want to delete a Node from the network. The error is happen very randomly. Therefore, I myself do not know exactly when this is happening. Maybe I get a notification from somewhere and the library is trying to update the network and in the same time I'm trying to delete the node

[2021-02-26 12:02] Mavericksb opened #403 "Null Pointer Exception : InternalTransportCallbacks.onMeshPduCreated"
---
Hello,
during Provisioning phase we experienced occasional crashes.

Here you can find the stacktrace log :

**StackTrace
Fatal Exception: java.lang.NullPointerException: Attempt to invoke interface method 'void no.nordicsemi.android.meshprovisioner.InternalTransportCallbacks.onMeshPduCreated(int, byte[])' on a null object reference
       at no.nordicsemi.android.meshprovisioner.transport.Mes

[2021-02-26 13:03] roshanrajaratnam commented on #403
Hi what's the mesh library version you are using and have you made any changes to the internals?

[2021-03-08 12:32] kcjian opened #406 "Message reassembly may not be completed yet"
---

**Describe the bug**
I have a packet of data not received, the log shows `Message reassembly may not be completed yet`

**To Reproduce**
Steps to reproduce the behavior:
1. sendVendorModelMessage:0xF20208FF
2. VendorModelMessageStatus 0xF7C8091C1208FF005515111171777770111111010011DD
3. sendVendorModelMessage:0xF4070EFF0203041E1F
4. received  many `Message reassembly may not be completed yet`

[2021-03-08 16:07] Syn38 opened #407 "nodeIdentityMatches crashes because of oldIdentityKey being null"
---

**Describe the bug**
Just after provisioning, we are trying to reconnect to the product as a proxy. So we check the advertising data using the `MeshManagerApi` function `nodeIdentityMatches`.

We managed to find that the `oldIdentityKey` attribute of the `NetworkKey` is **null**

It results as a crash, here is the error output:

**To Reproduce**
Provision a product and scan for proxy.

**Plat

[2021-03-09 02:01] kcjian commented on #406
Use nRFMesh:

app send : `Created Access PDU F4C809000208FF`
app received: `AccessLayer: Received Access PDU F7C809001208FF005515111171777770111111010011DD`
and many `Message reassembly may not be completed yet`

The logs：
[code]

[2021-03-09 07:54] roshanrajaratnam commented on #407
Hi, this should fix the issue. Could you give this a spin and see?

[2021-03-10 06:22] kcjian commented on #406
Line 500 of `LowerTransportLayer` is changed to 2.4.4 and everything is normal

![WechatIMG1504](https://user-images.githubusercontent.com/15611112/110585374-a5717900-81ab-11eb-9212-c04fac634977.png)

[2021-03-10 07:51] roshanrajaratnam commented on #406
Hi Kcjian I will take a look at this. I did some changes to the LowerTransportLayer so may be this was causing the issue. Thanks

[2021-03-10 09:32] Syn38 commented on #407
Hi Roshan,

Thank you for the quick fix! Unfortunately I am using the library with the release version so I'm currently not able to test it properly. Anyway as far as I can see, your fix will do the job!

[2021-03-10 10:10] roshanrajaratnam commented on #407
Great thanks for the detailed bug report and the confirmation, this was not properly tested. I will publish a version before the end of the day.

[2021-03-10 10:27] #406 closed

[2021-03-10 10:27] #407 closed

[2021-03-11 06:23] kcjian commented on #406
The test found that there are still the same problems with non direct connected devices

[2021-03-11 07:02] roshanrajaratnam commented on #406
Are your messages not getting completed?

[2021-03-11 07:24] kcjian commented on #406
There is no problem with direct connection device.

Use nRFMesh:

app send : Created Access PDU F4C809000208FF
app received: AccessLayer: Received Access PDU F7C809001208FF005515111171777770111111010011DD
and many Message reassembly may not be completed yet

It does not affect the function of nRF mesh, but my own app will send the next message after receiving this reply, and the device will not re

[2021-03-11 08:13] roshanrajaratnam commented on #406
Agree, I will try to take a look at this before end of this week.

[2021-03-11 09:18] kcjian commented on #406
Mesh SDK 3.1.1，thank you very much

[2021-03-11 09:47] roshanrajaratnam commented on #406
Great, do you mind sharing the hex file? you could also email it to us if you don't want it publicly available here...

[2021-03-15 11:08] kcjian commented on #406
@roshanrajaratnam

Here is the simplest DK demo file，
And nRFMesh Log, please have a look.
The test found that the more DK devices, the greater the probability of this problem

![WechatIMG30](https://user-images.githubusercontent.com/15611112/111144226-c4b04200-85c1-11eb-813e-9c8a7c74fcac.jpeg)
[3.1.1_log.txt](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/files/6140877/3.1.1_log.

[2021-03-16 08:30] franzney opened #409 "Sensor values are not correctly decoded."
Since App version 3.1.1 there is support to get detailed sensor information.

Unfortunately the Android version of the App is not showing (decoding) the sensor values correctly!
The IOS version (3.1.0) has this bug not and sensor values are shown correctly.

The following sensor values are tested:

- Ambient temperature / IOS=OK / Android=NO
- Ambient rel. humidity / IOS=OK / Android=NO
- Ambient

[2021-03-16 08:53] franzney commented on #409
Android: 3.1.1
Device firmware is based on the Nordic nrf Mesh sensor example. The example only support motion sensed for now!
I have added Temp, Hum, Lux by myself.... - Maybe you can yust change the property ID for testing purpose.

[2021-03-16 08:57] roshanrajaratnam commented on #409
Ok will do that.

[2021-03-16 10:20] roshanrajaratnam commented on #409
Hi I just tested the the Sensor Server examples in the nRF Mesh SDK v5..0.0 and I see only a Motion Sensor example on it. Were you referring to the NCS example?

[2021-03-16 11:09] franzney commented on #409
No, as already mentioned the example only supports the motion property... I have added the temp, hum property by myself...
But the IOS version is handling those correctly... It looks if the Android version only supports the motion property...

Maybe the nordic connect SDK or Zephyr OS has examples to check those... If not you have to modify the nrf sensor example and add those properties for testi

[2021-03-16 11:44] roshanrajaratnam commented on #409
Would be really glad if you can share a hex file with me so I can try to take a look at this since I'm assigned with some other priorities.

[2021-03-22 11:49] #403 closed

[2021-03-23 10:32] xhtlxa opened #411 "networkJson to MeshNetwork"
Is there a way to convert networkJson to MeshNetwork?

[2021-03-23 18:22] roshanrajaratnam commented on #411
Importing a mesh network  json will create a MeshNetwork object.

[2021-03-24 00:47] xhtlxa commented on #411
Can I get the MeshNetwork object without importing the mesh?

[2021-03-24 07:26] roshanrajaratnam commented on #411
As of now, no you cannot do that.

[2021-03-26 09:22] xhtlxa commented on #411
I want to add or subtract lights in json and then switch back to json. Is there a better way?

[2021-03-26 09:52] roshanrajaratnam commented on #411
hmmm right now thee is no possibility. I guess I should add functionality where users can add pre-provisioned nodes..

[2021-03-26 10:42] xhtlxa commented on #411
If you just add a method to convert json to MeshNetwork, can you add it?

[2021-03-29 02:20] kcjian commented on #406
@roshanrajaratnam
Is there any progress on this issue? I need to solve this problem urgently and need your help，Thank you very much.

[2021-03-29 07:40] roshanrajaratnam commented on #406
More devices in a mesh network can cause more retransmissions depending on a lot of factors. Starting from connection interval between the proxy client and the proxy node. Not entirely sure how you have formed your network but a simple CompositionDataGet seem to be behaving as expected. I see that you are referring to your vendor model here. Is there any chance you can share it with us?

[2021-04-01 02:19] kcjian commented on #406
@roshanrajaratnam  The project file is too large, please download it here

[https://pan.baidu.com/s/1JgGPfJVX-WhKlTFy8pB33w ](https://pan.baidu.com/s/1JgGPfJVX-WhKlTFy8pB33w )

 Password: `m82o`

[2021-04-02 11:12] Nuclear6 opened #414 "Delay in sending data"
hi, Why do I need to add a delay every time I send data? These delays are too long, can this time be changed?

[2021-04-02 12:01] xhtlxa opened #415 "Scan node"
How to scan BleMeshManager.MESH_PROVISIONING_UUID and BleMeshManager.MESH_PROXY_UUID at the same time

[2021-04-05 16:18] ankit-thealchemist opened #416 "Scene Recall "Read" button functionality!!"
Hello,

I am using the esp32 micro controller. I created the time scene server and the time scene server setup server model on the element.
I provisioned the node and bind the keys by using the nrf mesh app. When I click on the scene server, I saw no scene number which are stored on the node(or not reading the scene register state of the scene numbers). So I clicked on the "Read" button, nothing h

[2021-04-06 06:45] roshanrajaratnam commented on #416
Hi Ankit, the app does not support time scene server setup as of now, so I am not sure how you managed to send those messages from the app unless you have added those messages yourself? As far as I remember the only scene related models that are supported in the app are Scene Server and Scene Setup Server.

However there seems to be a bug in the UI, I'll double check and get back to you on this.

[2021-04-06 06:58] roshanrajaratnam commented on #416
So the idea of the read button to read the current scene (by sending SceneGet) that's on the device. There was some refactoring done on the UI which has caused the list of scenes to be invisible after receiving SceneStatus. I will fix this right away.

[2021-04-06 07:01] roshanrajaratnam commented on #415
You can include both UUIDs in the scan filter and this should allow scanning for both at the same time.

[2021-04-06 07:01] #415 closed

[2021-04-06 07:02] roshanrajaratnam commented on #414
Hi where do you add delays? is it something to do with longer messages with block acknowledgements?

[2021-04-06 07:49] #416 closed

[2021-04-06 08:22] ankit-thealchemist commented on #416
Thanks for the speedy reply. I just want to know that, is there is any way by the app to send the scene register get message, so that the micro controller will  send the scene register status.  Because when I check the debug logs, the app never send the scene register get message. So that nrf mesh app would have all the scene stored in the element.  This is sometimes necessary in the case when sce

[2021-04-06 08:37] roshanrajaratnam commented on #416
Hi Ankit

I understand your concern, the app UI does not support sending a scene register get as of now. We are on a feature freeze as of now due to some other priorities except for some maintenance on this app so unfortunately you will have to add this message yourself.

Thanks for your feedback really appreciate it.

[2021-04-07 14:40] BubblyNetDev opened #418 "Migration Issue in version 3.1.5"
---

**Describe the bug**
Running new release 3.1.5 after having run 2.1.3 the app crashes with the following exception.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run app from tag 2.1.3
2. Then run app from tag 3.1.5
3. See error

**Expected behavior**
App to run, I have checked against later versions and this exception is not thrown from at least 2.4.1 and up. Seems to fail on

[2021-04-07 17:23] roshanrajaratnam commented on #418
@BubblyNetDev thanks for the report, did you have any data in the database?

[2021-04-07 17:28] BubblyNetDev commented on #418
I had created a group but not added any nodes or anything else

[2021-04-07 17:33] roshanrajaratnam commented on #418
Right i'll try that then.

[2021-04-12 02:57] Nuclear6 commented on #414
![image](https://user-images.githubusercontent.com/49468241/114334696-b5e78b80-9b7d-11eb-8b6f-9eb37c9bf338.png)
![image](https://user-images.githubusercontent.com/49468241/114334741-c861c500-9b7d-11eb-8a70-9f2dea703de9.png)
Delays have been added in these places.

[2021-04-12 05:56] roshanrajaratnam commented on #414
Hi Nuclear you are free to remove these delays. I will remove them in the next release. These were added long time ago to ensure any messages weren't colliding this shouldn't be the case now.

[2021-04-12 05:56] #414 closed

[2021-04-12 05:57] roshanrajaratnam commented on #409
Closing due to inactivity, please feel free to re-open.

[2021-04-12 05:57] #409 closed

[2021-04-13 09:13] youxikaifa opened #419 "how to use retofit"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-13 09:25] roshanrajaratnam commented on #419
Hi I believe this is more of a question for Stack Overflow depending on what you want to do.

[2021-04-13 09:25] #419 closed

[2021-04-15 15:07] BubblyNetDev commented on #418
Hello Roshan, any news on this issue? Were you able to reproduce?

[2021-04-16 06:21] roshanrajaratnam commented on #418
Hi been a bit busy with some other things unfortunately. I'll try to take  a look at this today.

[2021-04-19 09:54] smohan1098 opened #421 "NFC support for nRF mesh android application"
It would be great if the nRF Mesh android application would support the NFC feature while using OOB authentication during provisioning. The output OOB random number can be read as NFC record and it would be great if this Android app parses the NFC record .

[2021-04-19 10:41] philips77 commented on #421
Hello,
Is the OOB data in some standard form in the NFC record?
We are currently busy with other tasks, but we can add this to feature requests. Unfortunately, I can't promise any dates.

[2021-04-19 12:07] smohan1098 commented on #421
Yes. Just a suggestion that , NFC data can be used as one of the output OOB for authentication. For example the currently supported output OOB from Mesh Profile are {blink, beep ,vibrate, output numeric, output alphanumeric}. In case of blink - a random number is outputted through LED blinks, and the user must give that as input in GUI of the android app. My idea is to turn on NFC scanning at this

[2021-04-21 10:32] fiveagle opened #422 "iOS/Android MTU value"
Hi,
we are facing a strange issue while implementing iOS/Android cross mesh network support.

We successfully import the mesh created from iOS in Android but we can't proxy with nodes provisioned on iOS.
Apparently the nodes still expect a message segmentation based on the iOS MTU and so they refuse the Android segmentation.

`2021-04-21 09:43:03.762 6608-6608/com.xxx.xxx E/MeshManagerApi: Parsing

[2021-04-21 10:37] roshanrajaratnam commented on #422
Hi this is not the expected behavior but have not noticed this on our end. Does the MTU request succeed at all on your case?

[2021-04-21 10:42] fiveagle commented on #422
Right now we don't send any MTU request explicitly

[2021-04-21 10:50] roshanrajaratnam commented on #422
I would suggest sending the MTU request explicitly or set it to 23 as default (as done in the example app) as it is used in the library to [handle](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/46b559cfb35bf4ec451397a27ee62bd501b6064d/app/src/main/java/no/nordicsemi/android/nrfmesh/viewmodels/NrfMeshRepository.java#L497) the gatt level segmentation of the notifications recei

[2021-04-21 10:51] philips77 commented on #422
Remember, that iOS sends MTU request automatically just after connection. Android requires sending it manually using [setMtu(...)](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/11c9c8469d3a6399541e4a50e7998b94cb6f1851/app/src/main/java/no/nordicsemi/android/nrfmesh/ble/BleMeshManager.java#L115).
But higher MTU should not be required, as Proxy Protocol is used to send packets

[2021-04-21 10:56] fiveagle commented on #422
In fact iOS negotiates at least 66 in my tests. Is it correct that the mesh device still expects 66? Should I close o reset something on iOS side?

[2021-04-21 10:57] fiveagle commented on #422
Anyway setting MAX mtu makes the trick. Our fork was still requesting default instead of max.

Thanks a lot for the super quick responses!!!

[2021-04-21 10:57] #422 closed

[2021-04-21 14:45] BubblyNetDev opened #423 "Crash after updating app from any version 2.4.4 and below to 3.0 and above"
---

**Describe the bug**
Downloaded 2.4.4 and added a device, bound keys, and added subscriptions. Controlled device from 2.4.4 with no issues. Downloaded 3.1.5 and built app. Device TTL unknown and app crashes when trying to send messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Build 2.4.4 and add a device, bind keys, and add subscriptions
2. Update the app to version 3.0 or above

[2021-04-22 05:48] roshanrajaratnam commented on #423
Hi, yes there have been multiple migrations in between these versions, but should not crash the app when trying to control. I will have to debug this and see. I can't promise any dates as I have some other tasks in my plate.

[2021-04-22 11:51] BubblyNetDev commented on #423
Okay, I added ttl to the migrations as a fix for now.

[2021-04-23 03:35] xhtlxa opened #424 "Send a temporary message"
How do I send a temporary message to the device I connected via mViewModel.connect(this, device, false)?

[2021-04-23 08:23] roshanrajaratnam commented on #424
Hi could you elaborate your issue a little bit more please?

[2021-04-23 08:28] xhtlxa commented on #424
How to send a message to a device after mViewModel.connect() instead of sending a message to the model under node

[2021-04-23 08:37] philips77 commented on #424
Hello,
Could you clarify what do you mean by temporary message? Or what View Model are you talking? What do you want to achieve? In Bluetooth Mesh you always send messages to all nodes, which may be consumed by some models on some nodes, so I don't know what is your question about.

[2021-04-23 08:58] xhtlxa commented on #424
How can I send a message to the device without getting the Element and MeshModel of the node?

[2021-04-23 08:59] roshanrajaratnam commented on #424
What is the message you are trying to send?

[2021-04-23 09:06] xhtlxa commented on #424
Some byte[] defined by ourselves

[2021-04-23 10:03] roshanrajaratnam commented on #424
Are you referring to a vendor model message?

[2021-04-25 06:47] xhtlxa commented on #424
Yes, before you get Element and MeshModel

[2021-04-25 15:49] #376 closed

[2021-04-25 19:13] Countrygrl00 commented on #376
- [ ] - ```
``
[code]

[2021-04-30 18:23] Cplantijn opened #425 "Inconsistent UUID formatting between iOS mesh export and Android mesh export"
Sharing configurations between iOS and Android is problematic since node UUID formats differ between the two platforms.

Example mesh export from `Android`:
[code]

Example mesh export from `iOS`:
[code]
The UUID is a string in both cases, but the dashes are only present in the Android export. This inconsistency is also present in the `meshUUID` key in the JSON export.

**Describe the solution you

[2021-05-02 03:54] philips77 commented on #425
Are you using the latest ios version, which is 3.1.2?

[2021-05-02 04:02] philips77 commented on #425
This has change in nRF Mesh 3.0:
https://github.com/NordicSemiconductor/IOS-nRF-Mesh-Library/commit/e095ffdc34c9dc710b5c0259a290fd735cb01e8b

If your cocoa pods doesn't find newer version, update cocoa pods in Mac.

[2021-05-06 18:26] Cplantijn commented on #425
@philips77 Thank you for your suggestion. We went ahead and upgraded our iOS mesh library and we are getting expected casings for node UUIDs. Thank you.

[2021-05-06 18:26] #425 closed

[2021-05-07 06:26] R0m4in-dooz commented on #406
Hello @roshanrajaratnam . We are facing a problem similar to this nowadays with v3.1.5. Sending segmented msgs and construct back segmented answer is fine with proxy device. However as soon as we try to send such msg to non-proxy devices, it fails to construct the Status, even if all feedback segments has been received. I will create a detailed report during the morning and open a new issue.

[2021-05-07 06:35] roshanrajaratnam commented on #406
Hi @R0m4in-dooz, sorry for any inconvenience. Some details would be very nice as this can get tricky. Thanks for looking in to this.

[2021-05-07 15:05] R0m4in-dooz opened #426 "Segmentation feedback of acknowledged msg is mostly failing when sent to non-proxy device"
---

**Describe the bug**
As title states, when sending **segmented** acknowledged messages to **non-proxy** devices, it is too often failing to construct back the Status.

**To Reproduce**
Steps to reproduce the behavior:
1. Provision at least 2 nodes
2. Connect to proxy
3. Send either `CompositionDataGet`, `ConfigModelPublicationSet`, or any msg that would result in segmented answer to the devic

[2021-05-08 08:41] kcjian opened #427 "Data transmission failure of non directly connected device"
---

**Describe the bug**
VendorModelMessageAcked Send data `F1C809CB3132333435363738393031323334353637383930313233343536373839 `. The direct connected device sends successfully and receives a reply. The non direct connected device does not respond

The data length is 33. If I only send data below 33, there is no problem

**Platform details:**
 - Device: HuaWei P40 Pro
 - OS: android 10
 - Library

[2021-05-10 07:31] roshanrajaratnam commented on #426
Hi Rom4in thanks for the detailed report. I will try to take a look at this to see where the issue might be. In the mean time could you check if you are having the same problem on version 2.4.1?

[2021-05-10 07:55] R0m4in-dooz commented on #426
I tried to make code comparison between 3.1.5 and 2.3.0, but too much changes 😅 And I don't really know where to look in the codebase, except lower transport layer changes that seems to be ok

[2021-05-11 12:36] Mavericksb opened #428 "Identify a provisioned device when in DFU"
Hello,
I'm using SDK 3.1.5.
Let's say I have a mesh network with 3 nodes and I want to update the firmware of a "specific" previously provisioned Mesh Node.
How can I discriminate which one of those 3 devices has been put in DFU ?

In other words, apart form storing the mac address of a device somewhere on a local DB, how can I match the device put in DFU with the device I want to update ?
Is ther

[2021-05-12 01:51] xhtlxa opened #429 "Version 2.4.4 app crashes"
When the data received by the app is divided into frames (greater than 11 bytes), the program will crash。
Below is the error log：

java.lang.NullPointerException: Attempt to invoke virtual method 'int no.nordicsemi.android.mesh.transport.Message.getTtl()' on a null object reference
        at no.nordicsemi.android.mesh.transport.MeshMessageState.getTtl(MeshMessageState.java:138)
        at no.nord

[2021-05-12 04:05] Nuclear6 commented on #429
can you show capture air packet data?

[2021-05-12 04:14] Nuclear6 commented on #427
Is the direct connected device set proxy white list, include provisioner address?
The non direct connected device will adv response, these data  will arrive first the direct connected device, and then check dst address in white list. if in white list, the direct connected device will send data to Provisioner.
Hope it helps you!!!

[2021-05-12 05:26] #429 closed

[2021-05-14 10:27] R0m4in-dooz commented on #426
Hello @roshanrajaratnam :) any updates ?

[2021-05-14 13:44] Mavericksb commented on #418
Had the same crash.

Should be because, in **MeshNetworkDb**.java, you have this method :

    private static void addColumnNetworkExclusionList(@NonNull final SupportSQLiteDatabase database) {
            database.execSQL("ALTER TABLE mesh_network ADD COLUMN network_exclusions TEXT NOT NULL DEFAULT '{}'");
    }

And then migration method is called , which has :
 private static void migrateMeshNe

[2021-05-14 17:30] roshanrajaratnam commented on #426
Hey sorry, been busy with some other tasks. Unfortunately i won't be back to work until Tuesday due to national holidays in Norway. I'll try to take a look at this next week!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: R0m4in-dooz ***@***.***>
Sent: Friday, May 14, 2021 12:27:58 PM
To: NordicSemiconductor/Android-nRF-Mesh-Library ***@***.***>
Cc: Rajarat

[2021-05-18 08:37] #424 closed

[2021-05-18 08:37] xhtlxa commented on #424
solved

[2021-05-18 08:45] xhtlxa opened #430 "Subscribed and Publication Addresses issues"
If my device defaults to Subscribe and Publication Addresses, is there an API to directly set Subscribed and Publication Addresses after adding a device to the app?

[2021-05-19 06:05] kcjian commented on #427
@Nuclear6 No, I am not allowed to add provisioner address to the proxy white list in the app

[2021-05-19 14:17] Cplantijn opened #431 "Provisioning a node that was previously deleted."
Hello, I am trying to figure out the `networkExclusions` object that gets populated after a node is removed. When I remove a node, I see that it's address is added to the list. If I try to provision that same node again on the same network, I am unable to send messages to it to start the provisioning process.

How can I clear the `networkExclusions` list when I want to re-provision an unprovisione

[2021-05-19 16:45] R0m4in-dooz commented on #431
Hello @Cplantijn . From my understanding you should not try to reuse the addresses that are in network exclusions.
You should assign a new address, getting it via `nextAvailableUnicastAddress` method

[2021-05-19 16:49] roshanrajaratnam commented on #431
What @R0m4in-dooz  mentions is correct. According to the specification an address can be re-used only after the current iv index is updated. Check section 3.10.7 on mesh profile spec 1.0.1.

[2021-05-19 16:51] roshanrajaratnam commented on #430
There is no default API. You will have to send the ConfigModelSubscription and ConfigModelPublication messages.

[2021-05-19 16:51] #430 closed

[2021-05-19 16:53] roshanrajaratnam commented on #427
Duplicate of #426

[2021-05-19 16:56] roshanrajaratnam commented on #426
@R0m4in-dooz I have had some training programs yesterday and today so I have not had time yet to look in to your issue. I will try my best to have a look at this during this week.

[2021-05-19 16:57] R0m4in-dooz commented on #426
Thanks @roshanrajaratnam, if I may help, with other logs or giving you our custom msg, feel free to ask :)

[2021-05-19 17:05] roshanrajaratnam commented on #426
Could you also confirm if this is happening with the nRF SDK examples as well?

[2021-05-19 17:12] R0m4in-dooz commented on #426
If you mean with the nrf example app, yes

[2021-05-19 17:14] roshanrajaratnam commented on #426
yes example app with the nRF SDK Mesh light/switch examples?

[2021-05-19 17:17] R0m4in-dooz commented on #426
🤔 i only use our firmwares, based on nrf mesh sdk 4.0

[2021-05-19 17:18] R0m4in-dooz commented on #426
And I reproduced with publication set msg

[2021-05-19 18:37] Cplantijn commented on #431
Thank you for the responses. I currently call ...
[code]
during a device's `PROVISIONING_CAPABILITIES` state during setup (at `onProvisioningStateChanged()`). I do see that the new node gets an updated unicast address (for example it was 002 the first time, then deleted, then reprovisioned at 003). However transmission after that is not picked up by the mesh. For example, the `ConfigCompositionDat

[2021-05-20 09:41] TungKL commented on #333
Hello @roshanrajaratnam ,
are there any solutions to this problem yet?
I'm encountering the same bug "Caused by: java.lang.NumberFormatException: For input string: "422802952" " as described here.
I built an app using the Library version 2.4.3 and run it on a Xiaomi MI 8.

I can post my error logs if needed (although they are pretty much the same compared to the ones posted from the author of this

[2021-05-20 09:55] roshanrajaratnam commented on #431
Well it's a bit strange that it's not getting picked up. Just to confirm I believe you are sending it to the correct address?

[2021-05-20 10:15] TungKL commented on #333
Do you mean the MeshNetworkDb.java file?
Or what do you mean by DB file?

[2021-05-21 13:04] Cplantijn commented on #431
I am definately getting a different address on the second provisioning attempt. `ConfigCompositionDataGet` is getting sent however

[2021-05-21 21:09] Cplantijn commented on #431
I can absolutely confirm that the device unicast address is being incremented during the second provision. For example, the first unicast address is 2, then after unprovisioning the node and deleting it from the mesh, the next provisioning attempt has the unicast as address 3. Both times are using `nextAvailableUnicastAddress` and `assignUnicastAddress` in `override fun onProvisioningStateChanged(

[2021-05-21 21:45] Cplantijn commented on #431
Thanks for the help, all! It was an issue with my app code. Once I removed the node I still had it marked for removal, so when it was added the second time it was instantly wiped out. Thanks for all the help!

[2021-05-21 21:45] #431 closed

[2021-05-24 16:18] TungKL commented on #333
@roshanrajaratnam In there are the DB files I copied from the Device File Explorer in Android Studio. The app was in the same error state as described earlier.

[mesh_network_database.zip](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/files/6533605/mesh_network_database.zip)

[2021-05-25 12:43] Mavericksb opened #432 "Potential ConcurrentException in MeshNetworkDb:InsertNetworkAsyncTask()"
---
Hello, I'd like to report a second bug found during importing a MeshNetwork (The first one and solution has been post under BubblyNetDev post named "Migration issue in 3.1.5", not sure if it has been read and is planned to be fixed in next releases).

By the way, In class MeshNetworkDb.Java

**Problem :**
In class :
[code]
This can cause troubles down the line, in our case it caused several (s

[2021-05-25 12:51] roshanrajaratnam commented on #432
Hi, thanks for reporting this. Asynctask has been deprecated in the library. However like you mentioned the migration can cause an issue. I will take a look.

[2021-05-25 18:07] #418 closed

[2021-05-25 20:23] roshanrajaratnam commented on #354
Sorry for the delayed reply, but is fixed and tested.

[2021-05-25 20:23] #354 closed

[2021-05-25 21:07] roshanrajaratnam commented on #426
Hi @R0m4in-dooz finally found sometime to look at your issue. However looking at your logs and also after some debugging, I notice that "Message reassembly may not be completed yet!" is logged only when the message is not completed or when the reassembly might be in progress.  If you notice when this is logged not all expected segments are received.

[2021-05-26 06:22] roshanrajaratnam commented on #411
You can achieve the same thing by importing the mesh network json file.

[2021-05-26 06:22] #411 closed

[2021-05-26 06:28] roshanrajaratnam commented on #17
The latest version 3.1.5 of the library contains support for all Sensor messages and the sample app allows sending `SensorGet`.

[2021-05-26 06:28] #17 closed

[2021-05-26 07:55] R0m4in-dooz commented on #426
Yeh, sometimes I expect this log but:
- in compositiondataget_KO.log --> after receiving the 2nd segment which was missing, I indeed get the status, but after that I again receive something. Can you explain ?
[code]
- in compositiondataget_KO_2.log --> i never have my status even if all segments have been logged at some point (0,1,3,4,5 and then 1,2,3,5)

- in configmodelpublicationset_KO.log -->

[2021-05-26 09:10] roshanrajaratnam commented on #426
In a mesh network you may receive messages that are not directed to you as they are being relayed, in the network layer we could find out if it was directed to us. There could be instances where you can receive such messages hence we drop it. So the segments you are referring are the once received by the device.

The decryption failure is not something I am able produce using our sample app at all

[2021-05-26 10:24] roshanrajaratnam commented on #427
@kcjian  could you test this issue against the latest dev branch please? I have fixed an underlying GATT level segmentation issue where sometimes the lib was waiting for messages when it should not.

[2021-05-26 10:51] R0m4in-dooz commented on #426
Ok makes sense :)

I will try again with sample app and give you those logs if I have it again 👍🏼 but we only added our custom ApplicationMessage on top of 3.1.5 + new build flavor which fallback to your definition (specific flutter bug fix).
So you don't have any issue to have ConfigModelPublicationSetStatus when it comes from non-proxy device ?

What about composition data log KO_2 and publicati

[2021-05-26 11:20] roshanrajaratnam commented on #426
ok sounds good. I do not see any issues relating to  CompositionDataGet or ConfigModelPublicationSet message sent via proxy or to proxy. Let me know how this goes for you.

[2021-05-26 11:55] roshanrajaratnam commented on #423
Sorry for the delay but is fixed on dev now.

[2021-05-31 10:14] #423 closed

[2021-06-09 06:05] #333 closed

[2021-06-09 06:08] roshanrajaratnam commented on #427
Closing due to inactivity and we can continue the discussion on #426

[2021-06-10 06:45] kcjian commented on #427
@roshanrajaratnam
I tested nrfmesh version 3.1.5, but the problem still exists

When successful：send 32 bytes
Send：       F1C8091234567890123456789012345678901234567890123456789012345678
Received：F3C8091234567890123456789012345678901234567890123456789012345678
![Screenshot_20210610-142925](https://user-images.githubusercontent.com/15611112/121476372-29304100-c9f9-11eb-9218-40bfcaae2eca.png)

On fa

[2021-06-10 06:49] roshanrajaratnam commented on #427
did you test the version from dev branch?

[2021-06-10 09:04] kcjian commented on #427
@roshanrajaratnam Yes, the result is the same

[2021-06-10 09:07] roshanrajaratnam commented on #427
Could you share your fw ? if it's based on nRF 5Sdk could you share the fw bundled with the softdevice please?

[2021-06-10 09:19] kcjian commented on #427
Yes, I'm planning to make the simplest demo, including a vendor model, which can reply to whatever I send. It may be provided to you tomorrow or next week

[2021-06-10 09:24] roshanrajaratnam commented on #427
great that would be very helpful to debug this.

[2021-06-10 13:10] saty9 commented on #432
We are hitting this repeatedly when making multiple changes to the network in quick succession

[2021-06-11 02:15] kcjian commented on #427
![Screenshot_20210611-100931](https://user-images.githubusercontent.com/15611112/121620638-428ac900-ca9d-11eb-95a5-65c48082f879.png)

- Vendor Modek : 0x00590000
- OpCode: 0xC1
- Parameters: 0x123456789012345678901234567890123456789012345678901234567890

A minimum of two devices are required

[light_switch_server_nrf52832_xxAA_s132_7.2.0.hex.zip](https://github.com/NordicSemiconductor/Android-nRF-

[2021-06-11 06:25] roshanrajaratnam commented on #427
Great will take a look at this now, is this bundled with the soft device?

[2021-06-11 09:45] roshanrajaratnam commented on #427
Hi @kcjian so I managed to reproduce your issue and after some hours of debugging found the root cause.

[2021-06-11 10:06] kcjian commented on #427
Can you send and receive successfully on non direct connected devices？

[2021-06-11 10:12] roshanrajaratnam commented on #427
yes it works for devices when they are not connected directly. This was more of an issue on the network layer causing this to happen.

[2021-06-11 10:16] roshanrajaratnam commented on #427
@kcjian oops I missed one file in my commit :( . Check the latest commit :)

[2021-06-11 10:31] kcjian commented on #427
That's right, I can receive the correct reply，Thanks for your work.

And Can you take a look at this problem that still exists

[#406](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/issues/406)

The same happens in non direct connected devices.

[2021-06-11 10:34] roshanrajaratnam commented on #427
I believe this should also be fixed with the current fix.

[2021-06-11 10:39] kcjian commented on #427
But I tested the above test method, which shows that this problem still exists,I'll test it again

![WeChat2c3cc93ee31587bea35409ba7d418154](https://user-images.githubusercontent.com/15611112/121674194-51489e80-cae4-11eb-8b70-f8ec7b5ac5d8.png)

[2021-06-11 10:42] roshanrajaratnam commented on #427
ok let's move the conversion to the other issue. I will close this now.

[2021-06-11 10:42] #427 closed

[2021-06-11 11:27] roshanrajaratnam commented on #406
@kcjian let me know here how your test goes!

[2021-06-15 14:23] DevHachi commented on #280
I wanted to ask. If there is any progress to that. Cause I would also like to have this functionality this would reduce significally the amount of work to do this myself.

[2021-06-16 06:38] roshanrajaratnam commented on #280
Hi, we have not done any work on this and will have to wait due to some other priorities.

[2021-06-17 06:30] DevHachi opened #433 "Unknown pattern character 'X'"
---

**Describe the bug**
When trying to load the mesh beacon data the app crashes when trying to get mesh beacon data from scan record.

**To Reproduce**
Open App once. Close App and open it again.
Or: Scan for device, read meshBeaconData from scan Record.
Both ways do lead to an crash.

**Expected behavior**
should not crash.

**Platform details:**
 - Device: Huawei P8
 - OS: Android 6.0
 - Libr

[2021-06-17 06:54] roshanrajaratnam commented on #433
Thanks for reporting and this should be caught in the app.

[2021-06-17 07:03] roshanrajaratnam commented on #433
Hi what firmware are you using to test this?

[2021-06-17 07:56] DevHachi commented on #433
You mean the firmware of the lights?
If so I can't tell you because I don't know. Those are Toran lights.

[2021-06-17 11:11] DevHachi commented on #433
From my perspective it seems like this is the culprit:
`private static final SimpleDateFormat SDF = new SimpleDateFormat("yyyy-MM-dd'T'HH:mm:ssX", Locale.US);`
Because 'X' is not supported on devices before nougat, which an android 6 device definitely is.

[2021-06-17 11:14] roshanrajaratnam commented on #433
this is indeed hte culprit. I will push a fix later today

[2021-06-21 06:00] DevHachi commented on #335
Are there any news to this subject?

[2021-06-21 06:26] roshanrajaratnam commented on #335
Hi, we don't have any updates on this right now as we are busy with some other tasks. We gladly accept pull requests if you get around implementing them :)

[2021-06-21 10:43] roshanrajaratnam commented on #433
@DevHachi check this please. the last fix introduced a timestamp parsing issue however now is handled properly and maintains compatibility between both Android and iOS.

[2021-06-21 12:19] DevHachi opened #435 "ApplicationMessage public accessible"
**Is your feature request related to a problem? Please describe.**
Currently I can't implement my own messages, because I get an error when trying to inherit from ApplicationMessage.

`Cannot access '<init>': it is package-private in 'ApplicationMessage'
Cannot access 'ApplicationMessage': it is package-private in 'no.nordicsemi.android.mesh.transport'
'public' subclass exposes its 'public/*packag

[2021-06-21 14:05] roshanrajaratnam commented on #435
you may use VendorModelMessage to send vendor specific messages.

[2021-06-22 21:27] NanaDada opened #436 "Upgrade from 2.4.4 to 3.1.5 fails with "Could not resolve all artifacts for configuration ':classpath'""
---

**Describe the bug**
Upgrading from version 2.4.4 to 3.1.5 fails with the following error messages:

[code]

Do you have any ideas what could be the issue here? Or how to fix it?

[2021-06-23 05:48] roshanrajaratnam commented on #436
So looking at the error, I see that the room version is not compatible. Have you included the mesh library from MavenCentral or have you cloned the project from GitHub?

[2021-06-23 05:49] #435 closed

[2021-06-23 05:49] #433 closed

[2021-06-23 05:52] roshanrajaratnam commented on #428
I guess it depends on your DFU implementation?

[2021-06-23 07:51] NanaDada commented on #436
It's used through MavenCentral, and it's still working fine when reverting the version back to 2.4.4.

The same error (although not related to room) also appears when trying to upgrade [Android-Scanner-Compat-Library](https://github.com/NordicSemiconductor/Android-Scanner-Compat-Library). Maybe they are somehow related.

[2021-06-23 14:07] R0m4in-dooz commented on #426
Hello there. Sorry I didn't have time to look into this issue as we have a workaround on prod and I was busy with some other priorities! We may find some time to look for it. But first we will try out the new release 🕺

[2021-06-28 03:15] diida opened #438 "Where's the example mentioned in README?"
Hello
I'm sorry if I disturbed you.
I found description "Open 'Example/nRf Mesh Provisioner'" at install section in README file.
But I can't find the 'Example' folder.How can i get it?

[2021-06-28 06:00] roshanrajaratnam commented on #438
Hi this is as an error on the Readme file. You should just clone the project and and open it on Android Studio. We changed the project and did not update the readme file.

[2021-06-28 06:18] #438 closed

[2021-06-30 09:19] Rawa opened #439 "How to list and select meshes?"
Scenario: I have one device and want to maintain multiple meshes, how would I use the library?

It seems like the database for this library supports having multiple meshes, however from the entry point of the `MeshManagerApi` there is only `loadMeshNetwork()` which will generate a mesh if none exists.

What is the intended way of selecting an existing mesh? There doesn't seem to be any function to

[2021-06-30 10:04] roshanrajaratnam commented on #439
Hi @Rawa, you are correct the database was designed in such a way that multiple mesh networks can be stored. As of now we don't have the intended API ready to list multiple mesh networks yet. This is something I have in the backlog.

You are correct, this is one way to do it until the API is ready.

[2021-07-01 08:18] Rawa commented on #439
Ok, thanks for the reply. :)

[2021-07-01 08:18] #439 closed

[2021-07-06 05:36] R0m4in-dooz opened #440 "Question : select node as provisioner"
Hello !

Is it possible to elevate a previously provisioned node to be a provisioner of the n/w ?

[2021-07-06 06:44] roshanrajaratnam commented on #440
Hey, if you are referring to a physical node, I am not sure if it's possible. A provisioner is a special node/client that is a part of the network that can provision without having to be provisioned. I don't think the mesh profile specification states anything about this either.

[2021-07-06 06:52] R0m4in-dooz commented on #440
Alright ! Yes it was more of a naive question, I didn't check spec. We have a special node that will need to be provisioner so we can improve its capabilities. Then ok, we'll see how to handle. Thx

[2021-07-06 06:52] #440 closed

[2021-07-06 07:00] R0m4in-dooz commented on #426
Hello !
After upgrading to latest release, we still have issues on segmented answers. It is behaving better tho !
I don't have anymore issues on CompositionDataGet, nor our custom 2 segments ApplicationMessage.
However, for ConfigModelPublicationSet, I still experience troubles to construct Status from segments. I think it has changed behavior and now, I always have these two logs when it fails:
[

[2021-07-06 07:02] R0m4in-dooz commented on #426
It is still rly better, so thank for your work on low layers :)

[2021-07-06 07:15] roshanrajaratnam commented on #426
hey again, no problem, does this happen on a custom firmware, could you share it? I am not able to reproduce this on our sdk.

[2021-07-06 07:19] R0m4in-dooz commented on #426
I will ask our embedded team

[2021-07-06 07:19] roshanrajaratnam commented on #440
Well one more thing is that, this is kind of an application specific feature and there is nothing stopping you from implementing such a feature. :)

[2021-07-06 07:27] R0m4in-dooz commented on #440
Yes of course, I just wanted to quick check with you if it was smth that the ADK was prepared for. My main concern about the feature request for our app, is to always be in sync with what this special node will do in the network... From what I understood with embedded team, it may be autonomous and I'm afraid that our app will loose track of changes in the network and could cause huge bugs. We wil

[2021-07-06 07:29] R0m4in-dooz commented on #426
@roshanrajaratnam is roshan.rajaratnam@nordicsemi.no a valid email to receive a Google Drive share link ?

[2021-07-06 07:44] roshanrajaratnam commented on #426
android-devs@nordicsemi.no

[2021-07-06 08:01] R0m4in-dooz commented on #426
I just sent the .hex file

[2021-07-06 08:06] roshanrajaratnam commented on #426
Thanks I just got it, I will take a look at it later during the day. What dk is this built for ?

[2021-07-06 08:13] R0m4in-dooz commented on #426
This one :)
![compatible_DK](https://user-images.githubusercontent.com/72380352/124565838-bcb33100-de42-11eb-825c-1a523e774017.jpeg)

[2021-07-12 20:17] R0m4in-dooz commented on #426
Hello ! Any update on the subject?

[2021-07-14 06:24] philips77 commented on #426
Hi, we're all on vacations right now. Please expect some delays in responses in July.

[2021-07-18 14:38] NanaDada commented on #436
I've made the mistake to put the dependency into a `build.gradle` file in which it didn't belong. The Android-nRF-Mesh-Library is used at a Flutter app which contains a native plugin that uses Android-nRF-Mesh-Library. The dependencies should be added to the `build.gradle` **file of the native flutter-library only**, and not to the build.gradle of the example app.

Thanks for your help!

[2021-07-18 14:38] #436 closed

[2021-07-18 14:56] NanaDada opened #441 "Prevent nextAvailableUnicastAddress() from returning an already assigned address."
---

**Describe the bug**
`nextAvailableUnicastAddress()` will return an already assigned unicast address.

A new node is added to a mesh by:
1. Provisioning the device.
2. Connecting to the new node and...
3. (only if the connection is established) assigning and binding an app key by sending `ConfigDefaultTtlGet`, `ConfigNetworkTransmitSet`, `ConfigAppKeyAdd`, `ConfigModelAppBind`.

If step 1. su

[2021-07-20 19:23] roshanrajaratnam commented on #441
Hi will have to look at this after getting back from vacation.

[2021-07-25 22:04] NanaDada commented on #441
Another way to reproduce the issue is by provisioning multiple devices without ever connecting to a node.

[2021-07-29 01:54] 123yangu opened #442 "Could not get unknown property 'sonatypeStagingProfileId' for object"
Caused by: groovy.lang.MissingPropertyException: Could not get unknown property 'sonatypeStagingProfileId' for object of type io.github.gradlenexus.publishplugin.NexusRepository.

[2021-07-29 10:02] philips77 commented on #442
Yes, true. That's needed only for releasing. The issue only happens when you try to build the project without some constants in local.properties file. If you clone the repo and add the mesh module to your project this issue should not occur. If you, however, want to compile this project for some reason, just remove/comment out the references to release scripts in build.gradle files.

[2021-07-29 10:02] #442 closed

[2021-07-29 10:03] philips77 commented on #442
E.g. this lines:
https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/e03b1eba6cf4d7bb41b1fa36d3ce8055e8df4208/build.gradle#L54-L56

[2021-08-03 12:04] Eklow02 commented on #341
Is there an update for this bug? I still get the error (version 3.1.6)

[2021-08-06 12:53] Eklow02 commented on #403
Hi, I get the same error with version 3.1.6

It looks like the error occurs when I try to send several messages in quick succession.

[2021-08-11 13:15] NanaDada opened #443 "How to operate one mesh network with multiple devices/app instances at the same time?"
**Describe the bug**
Unable to use a mesh network on multiple Android devices at the same time.

**To Reproduce**
Steps to reproduce the behavior:
1. Export a mesh on one Android device by calling `MeshManagerApi.exportMeshNetwork()`
2. Import the mesh on another Android device by calling `MeshManagerApi.importMeshNetwork()`
3. Connect with both devices to the mesh network.
4. Only one device can

[2021-08-11 13:32] roshanrajaratnam commented on #443
So do you use the same provisioner from the second instance? if so the messages sent from the second instance would be ignore because of the sequence numbers keep incrementing. So you would have to create a new provisioner on the second device with a different address and this should help I believe.

[2021-08-12 07:46] KcLeung514 opened #444 "Mesh network export has data loss problem"
**Describe the bug**
The "App key binding data" of last provisioned node is missing in the exported JSON file.
Import this mesh network data to the iOS nrf mesh library, and send mesh message to the model, the library will throw `AccessError.modelNotBoundToAppKey` error.

**To Reproduce**
Steps to reproduce the behavior:
1. Provision one node to the mesh network.
2. Bind app key to its vendor mode

[2021-08-19 09:56] 123yangu opened #445 "return DaggerMeshApplication_HiltComponents_SingletonC.builder() run error"
DaggerMeshApplication_HiltComponents_SingletonC  not find
![image](https://user-images.githubusercontent.com/6700363/130048915-13533b0f-10fb-4618-9291-0532a7895b82.png)

[2021-08-19 15:38] NanaDada commented on #443
Thanks for the hint! I've ended up adding a bunch of provisioners and a setting to chose one.

[2021-08-19 15:38] #443 closed

[2021-08-19 16:02] NanaDada opened #446 "ProvisionedBaseMeshNode.setNodeName() doesn't change a node's name."
---

**Describe the bug**

The name of a node can be changed by calling `ProvisionedBaseMeshNode.setNodeName()`. This however only effects the calling app. The actual mesh node isn't effected by it.

**Expected behavior**
The node whose name was changed should advertise itself with the new name.

**Platform details:**
 - Device: Any
 - OS: Android
 - Library Version: 3.1.6

[2021-08-20 02:36] 123yangu commented on #445
update  ext.hilt_version = '2.33-beta'
delete //    implementation "androidx.hilt:hilt-lifecycle-viewmodel:1.0.0-alpha04"

run ok

[2021-08-20 07:13] roshanrajaratnam commented on #446
Hi, to update the provisioner you need to use Provisioner.setProviosionerName and then call., Network.updateProvisioner with the provisioner object.

[2021-08-20 07:13] #446 closed

[2021-08-20 07:13] roshanrajaratnam commented on #445
Will close the issue since you have fixed this.

[2021-08-20 07:13] #445 closed

[2021-08-20 08:43] NanaDada commented on #446
Dear Roshan Rajaratnam,

Thanks for your help!

Just to clarify a little further: After changing a node's name, I'd like to have the node advertise itself with the newly changed name. So if you scan for BLE devices with another smartphone, the new name should be visible.

The node whose name should be changed is a simple light bulb that only contains a generic level/onoff server model - i.e. it is

[2021-08-20 09:11] roshanrajaratnam commented on #446
You are correct, as of now there is no way to change the advertised name of a device.

[2021-08-20 09:18] NanaDada commented on #446
Thanks for the clarification.

Imagine somebody wants to implement it anyway, what needs to be done? How would you tackle that requirement?

[2021-08-20 09:55] KcLeung514 opened #447 "java.lang.NullPointerException: Attempt to invoke interface method 'void no.nordicsemi.android.mesh.InternalTransportCallbacks.onMeshPduCreated(int, byte[])' on a null object reference"
---

**Describe the bug**
Exception may thrown if Invoke "MeshManagerApi#createMeshPdu" too often.

**To Reproduce**
Invoke "MeshManagerApi#createMeshPdu" method with high frequency. ( User send "VendorModelMessageAcked" via trigger UI, the interval around 1 seconds.  )

**Expected behavior**
Let app client catch the exception to avoid app crash.

**Platform details:**
 - Device: Samsung Galaxy S7

[2021-08-24 09:14] NanaDada commented on #446
This sounds like a huge design flaw...

Imagine you change some node names from Node1, Node2, Node3 to Kitchen, Attic, Basement.
Now, if you're operating the mesh network with more than one smartphone, and you want to have the new names applied to each of them, (which seems like an obvious idea considering we're talking about a mesh network), you have to either:
* change the names on every smartph

[2021-08-24 10:13] roshanrajaratnam commented on #446
I get your point but this is how the mesh specification is defined. You are free to implement a we service that could sync the exported mesh network across devices. Remember this library supports comfiguring and controlling mesh networks but depending on the application you are free to extend your own functionality since this requirement is application dependant.

[2021-08-24 13:47] NanaDada commented on #446
Dear Roshan Rajaratnam,

thanks for the clarification.

Predetermined inconsistency. Makes it look like the mesh specification was just halfheartedly tinkered together. But OK, let's implement a _Proprietary-Node-Name-Server-Model_ then.

[2021-08-24 16:55] philips77 commented on #446
Mind, that provisioners (phones) need to be synchronized using the Internet. For example if a new Node is added this can only be shared this way. So the names can be shared the same way.
In mesh it is more important what the node does, than what is the node name. Recommended way of sending messages is by group address, to be able to replace the node with a different one and subscribing the new one

[2021-08-24 19:09] NanaDada commented on #446
Hi Philips,
Thanks for the additional clarification.

Unfortunately we can't use the internet to synchronize the provisioners - the niche we're serving simply doesn't allow it. So I must find another way. Something like this might work:

1. The node gets a proprietary-node-data-server-model (PNDSM) implemented. It saves node specific data at the node's flash memory and provides the data upon reque

[2021-08-25 05:06] roshanrajaratnam commented on #446
Hi, one other thing is that you can look in to storing the json (or atleast some information that you think is important for your usecase) on the proxy node of the network. This way you don't need to send a hello to all the nodes. You could sync the information on the phone with the proxy to see if there have been any changes.

[2021-09-09 04:01] LoongFei opened #449 "Could not get unknown property 'sonatypeStagingProfileId' for object of type io.github.gradlenexus.publishplugin.NexusRepository"
Build
Could not get unknown property 'sonatypeStagingProfileId' for object of type io.github.gradlenexus.publishplugin.NexusRepository

[2021-09-09 07:07] roshanrajaratnam commented on #449
Hey, sorry about this, please comment out the following lines. I forgot to comment out the lines relating to mavenCentral publishing and this should fix your issue
https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/e03b1eba6cf4d7bb41b1fa36d3ce8055e8df4208/build.gradle#L56
https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/e03b1eba6cf4d7bb41b1fa36d3ce8055e8df4208

[2021-09-09 07:07] #449 closed

[2021-09-14 08:21] Rawa commented on #441
We are having this issue as well, is there a workout to avoid this issue?

[2021-09-14 08:46] philips77 commented on #441
Hello,
Currently we are busy with another project, but will get back to mesh in coming weeks.

[2021-10-13 13:11] NanaDada opened #450 "Inconsistent group subscriptions."
**Describe the bug**
Sending a `ConfigModelSubscriptionDelete` message removes a model's subscription. At the firmware side, that's working well, and the model does no longer react to messages sent to the group address.
The library however, does not recognize that the subscription has been removed and still reports the node as subscribed to the group.

**To Reproduce**
Steps to reproduce the behav

[2021-10-14 07:57] roshanrajaratnam commented on #450
Hello, thanks for the report. Will take a look at this soon.

[2021-10-15 07:54] Nuclear6 opened #451 "rssi"
When the application receives a mesh message, can I get the signal strength(rssi) of the message?

[2021-10-15 08:45] NanaDada opened #452 "Please provide a way to tell through which node the app is connected to."
**Is your feature request related to a problem? Please describe.**
Our app provides a feature to disable a node's proxy model. This makes it quite easy for the user to lock herself/himself out of the mesh by disabling all proxy models.
To avoid this (for our target audience common situation), we need a way to tell through which mesh node the app is connected to the mesh.

**Describe the solution y

[2021-10-18 06:45] roshanrajaratnam commented on #452
Hi thanks for your feedback. If your want this feature, this is more of a feature request to the [Android-BLE-Library
](https://github.com/NordicSemiconductor/Android-BLE-Library). The issue with using the mac address is that , it may change upon a power recycle or a firmware update depending on the firmware implementation.

Another approach to this would be, upon connecting to a proxy node you ma

[2021-10-18 06:53] #451 closed, assigned to nobody

[2021-10-18 11:41] NanaDada opened #453 "Please harden/fix MeshParserUtils.toByteArray()"
**Describe the bug**
There are a few issues with the current implementation of MeshParserUtils.toByteArray()
[code]

It's going to fail:
1. on a little endian system.
2. if `hexString` is of odd length.
3. if the `hexString` starts with `"0x"`.

[2021-10-26 11:45] #452 closed, assigned to nobody

[2021-10-30 17:00] roshanrajaratnam commented on #441
@lenguyenthanh I have a few more fixes to do before I release a snapshot. You could clone this repo as it is and give it a shot.

[2021-11-08 04:32] Nuclear6 commented on #263
hi, I want to understand the end result of this question, thanks!!!!

[2021-11-17 09:40] DomiR opened #454 "Better handling of secure network beacon"
On android handling of the secure network beacon is not implemented in a way that it handles ivIndex updates correctly.

---

**Describe the bug**
When receiving a secure network beacon with an increased ivIndex this library does not seem to validate the secure network beacon. Instead it calculates a local network beacon (potentially with a lesser ivIndex, which then will fail) and compares the au

[2021-11-17 10:10] roshanrajaratnam commented on #454
@DomiR thanks for catching this. I will take a look in to this soon currently a bit busy with some other project. We would gladly accept a pull request if you get around it.

[2021-11-22 10:41] FluffyBunniesTasteTheBest opened #455 "MeshParserUtils.getOpCode() flips the bytes of the vendor id."
---

**Describe the bug**
In NCS, when defining a custom opcode, for example `BT_MESH_MODEL_OP_3(0x01, 0x22ee)`, the result is a three byte opcode with value `0xc122ee`. When the library's `onMeshMessageReceived()` gets called, `VendorModelMessageStatus.getOpCode()` returns an opcode of `0xc1ee22`, in which the two bytes of the vendor or id (`0x22ee`) are flipped.

The bug happens in `MeshParserUt

[2021-11-23 09:14] xiangxiangjiang opened #457 "send unacknowledged message should not open DialogFragmentTransactionStatus"
unacknowledged message will not get the response from the remote node according to the ble mesh specification.
when I send unacknowledged message to the remote node, the app show the DialogFragmentTransactionStatus with R.string.operation_timed_out after a few seconds, it seems to wait for respons message.

[2021-11-23 11:22] roshanrajaratnam commented on #457
@xiangxiangjiang could you confirm if the message is received on the node? Is it sent via a proxy node?

[2021-11-24 02:03] xiangxiangjiang commented on #457
yes, I'm sure. I use the TI's simplelink launchpad cc2652r with sdk&nbsp;simplelink_cc13x2_26x2_sdk_5_20_00_52.&nbsp;My device was set as relay and proxy node, the node received the&nbsp;unacknowledged&nbsp;&nbsp;message&nbsp;that I send using vendor model controls in Vendor Model Actvity with Acknoledged Message checkbox unchecked and printed the message on the screen. Because the message from mo

[2021-11-29 13:45] FluffyBunniesTasteTheBest opened #458 "Sequence number is not properly updated when broadcasting segmented VendorModelMessageAcked messages."
**Describe the bug**

When broadcasting a segmented `VendorModelMessageAcked`, NetworkLayer's sequence number seems to be incremented only once per message, rather than once per segment, causing the firmware to discard subsequent messages.

Let's start with the **OK** case:
Here's an example of a `VendorModelMessageAcked` that's transmitted in three segments. The message was sent to a single node

[2021-11-30 02:55] mmlingyu opened #459 "is here hava a open source Firmwares open source project?"
---

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Platform details:**
 - Device: [e.g. Pixel XL]
 - OS: [e.g. Android 8.0]
 - Library Version (or Commit)

**Lo

[2021-11-30 07:22] roshanrajaratnam commented on #458
Hi are you reproducing this via the sample app? how do you send the same message a second time?

[2021-11-30 07:25] roshanrajaratnam commented on #459
Hi you can download the nRF Connect SDK examples [here](https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/samples/samples_bl.html) or nRF Mesh SDK samples [here](https://www.nordicsemi.com/Products/Development-software/nRF5-SDK-for-Mesh/Download) or

[2021-11-30 07:25] #459 closed

[2021-11-30 09:23] FluffyBunniesTasteTheBest commented on #458
It happens during automated tests of my own app.

Same as the first time:
1. Waiting for one second to ensure the mesh has processed any previously sent messages.
2. Instantiating a new `VendorModelMessageAcked` instance.
2. Filling the message with the same data as at the first call.
3. Sending the message by calling: `MeshManagerApi.createMeshPdu(0xffff, myVendorModelMessageAckedIntance);`

Summ

[2021-11-30 10:10] roshanrajaratnam commented on #458
Ok thanks for the detailed info. I'll try to take a look at this as soon as possible.

[2021-11-30 10:53] FluffyBunniesTasteTheBest commented on #458
Thanks for your help!

Sure, but the network layer is quite far down the stack, and the library nicely hides it behind a comfortable high level interface - great work btw - so I'd be very surprised if it behaves different at the sample app. Anyway, please give me a few days...

[2021-11-30 15:36] FluffyBunniesTasteTheBest commented on #458
Unfortunately the same with the sample app...

Here's a bare minimum firmware application based on NCS's chat example to help reproducing the issue. It just prints the payload at the NRF Terminal: [vendor-message-test.zip](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/files/7626888/vendor-message-test.zip)

The java code to send a message to the firmware looks like this:

[code]

[2021-11-30 19:47] roshanrajaratnam commented on #458
Thanks again, I should have some time to take a look at this tomorrow!

[2021-12-07 11:09] roshanrajaratnam commented on #455
Hi, you are correct java stores multibyte values in big endian format. However IMHO the 3 byte opcode for a vendor model should be depicted according to the specification. Therefore when you call `VendorModelMessageStatus.getOpCode()` should return the opcode as mentioned in the last paragraph of section 3.7.3.1 in the Mesh profile specification 1.0.1.

[2021-12-07 11:12] roshanrajaratnam commented on #457
Hi is your vendor model message a segmented message? The runnable you are referring to is related to segmented messages.

[2021-12-07 11:48] roshanrajaratnam commented on #458
Sorry for the delayed reply. I did some digging in to your issue. First I would advise against sending acknowledged messages to a group address as this can cause a lot of traffic in the mesh network. In your case you are sending it to all nodes and you will get a status back from all nodes in your network. However it's up to you.

Currently I am testing against the NCS vendor model sample and I do

[2021-12-07 12:30] FluffyBunniesTasteTheBest commented on #458
It seems like you're trying to reproduce with a payload that fits into one segment, which won't trigger the issue.

Please try again with a bigger payload - the [java snippet from above](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/issues/458#issuecomment-982752740) is copy&past-ready. So is the provided bare-minimum-example firmware. Should be easy to reproduce with it.

[2021-12-07 12:38] roshanrajaratnam commented on #458
Can confirm it's reproduceable. Will dig in to this.

[2021-12-07 12:44] roshanrajaratnam commented on #458
So I am also testing against the NCS chat example the only difference are the model id and opcodes which should not matter and I don't see this issue happening via the sample app.

[2021-12-07 12:59] FluffyBunniesTasteTheBest commented on #455
Thanks, can you please provide a link to the specs?

But even without looking into the specs, I doubt that a value of 0xc122ee is supposed to become 0xc1ee22. See, right now you have to use two different opcodes: 0xc122ee when sending and 0xc1ee22 when receiving, but shouldn't the opcode be the same, regardless if you send or receive data?!?

[2021-12-07 13:34] NanaDada commented on #458
Interesting...

Can you please provide the logged messages from `MeshTransport`, `AccessLayer`, `UpperTransportLayer`, `LowerTransportLayer` and `NetworkLayer`? Basically the same log messages as in this threads first message.

Please note that you must send the segmented payload twice - the first call works as intended, subsequent calls trigger the issue.

[2021-12-07 13:37] FluffyBunniesTasteTheBest commented on #458
Interesting...

Can you please provide the logged messages from `MeshTransport`, `AccessLayer`, `UpperTransportLayer`, `LowerTransportLayer` and `NetworkLayer`? Basically the same log messages as in this threads first message.

Please note that you must send the segmented payload twice - the first call works as intended, subsequent calls trigger the issue.

[2021-12-07 14:03] roshanrajaratnam commented on #458
Hey I see you are referring to the network layer sequence number. This seems like an issue, let me check on this again.

[2021-12-08 12:39] roshanrajaratnam commented on #458
@FluffyBunniesTasteTheBest Could you give this a test and confirm if everything looks fine on your end?

[2021-12-08 12:49] roshanrajaratnam commented on #453
Hi this is just a utility function to convert a hex string to a byte array
1. This would just convert to a byte array irrespective of the endianness
2. This also assumes the hex string is of even length and not sure why you would use a hex string of odd length.
3. If the hex string starts with `0x` you can omit this.

[2021-12-08 12:49] #453 closed

[2021-12-08 12:55] philips77 commented on #453
It also doesn't check if the input is not null, but it's an internal method of the library. Made public, as Java can't restrict it to compilation unit.

[2021-12-08 12:56] roshanrajaratnam commented on #457
Also you have a point here. Will fix this!

[2021-12-08 19:38] roshanrajaratnam commented on #444
Closing due to inactivity. Feel free to open if the problem persists.

[2021-12-08 19:38] #444 closed

[2021-12-09 09:59] roshanrajaratnam commented on #441
Closing due to inactivity and is not reproduceable anymore on my end.

[2021-12-09 09:59] #441 closed

[2021-12-09 10:26] R0m4in-dooz commented on #426
Hi there !
I see you are closing issues due to inactivity.
This issue is **still there**, and I'm still awaiting support from you guys. I provided a .hex file in beginning of summer and still no feedback but this issue is labelled "awaiting user input" ??
Please notify me if you find any time to try to reproduce the issue with our firmware 😁

[2021-12-09 11:17] roshanrajaratnam commented on #426
Hi, it was labelled awaiting user input long time ago I guess. I have been busy with some other projects. I will look in to yours ;)

[2021-12-09 11:44] roshanrajaratnam commented on #426
@R0m4in-dooz could you share your fw again please? Can't seem to find it anymore!

[2021-12-09 11:47] R0m4in-dooz commented on #426
sure, I may have deleted it 😅

Still this mail ?

[2021-12-09 11:48] roshanrajaratnam commented on #426
indeed!

[2021-12-09 11:51] R0m4in-dooz commented on #426
sent 👍

[2021-12-09 18:36] roshanrajaratnam commented on #426
Hi couple of things here, I find the firmware a bit flaky. Sometimes it provisions and sometimes it doesn't if I disconnect after completing provisioning before going in to configuration. I see this happening only with the debug firmware that you had sent.

Also I noticed a decryption failure that you have pointed out earlier in our conversation which only seem to happen with your firmware. I have

[2021-12-10 08:22] roshanrajaratnam commented on #455
Here's the link to the spec. https://www.bluetooth.com/specifications/specs/mesh-profile-1-0-1/

The behavior I mentioned are the internals or the behavior expected and when sending/receiving also the opcode is set to 0xc1ee22 internally just to save the hassle of doing it yourself.

But you do have a point here, I will fix this for consistency purposes so that you could get the `OpCode` and the `

[2021-12-10 09:27] FluffyBunniesTasteTheBest commented on #458
@roshanrajaratnam Thank you for the fast fix. I'll have a look at it in the next few days.

[2021-12-10 09:58] roshanrajaratnam commented on #458
I have already merged this to develop so you can check it there!

[2021-12-10 11:15] R0m4in-dooz commented on #426
Hello !
Thank you for your time @roshanrajaratnam !

It may be possible that the FW I sent is buggy, we made numerous updates since then 😅 (I sent you firmware from July)

🤔 ok then, if it is only with our firmware I will tell our embedded team to investigate

Does this means that you indeed see a bug ? But you think it's only with our custom firmware ?

We recently upgraded the Mesh SDK and are i

[2021-12-10 11:15] FluffyBunniesTasteTheBest commented on #455
@roshanrajaratnam Thanks for looking into this. Allow me to explain in a little more detail:

From section 3.7.3.1 of the specs:

(Please note: Only the 16-bit vendor id is little endian).

Now, when this buffer (containing `0xE3 0x36 0x01`) gets handled in `MeshParserUtils.getOpCode()`, the following happens:

[code]
It just copies the buffer into an integer using the same byte order as the buffe

[2021-12-10 11:44] roshanrajaratnam commented on #455
So basically when both sending and receiving the order should be as follows `0xE3 0x36 0x01` and `MeshParserUtils.getOpCode()` will now return the opcode on its own without the company identifier in place. It's not sent properly the vendor model message will fail and will not get a respond which does not happen. The issue was that I was simply returning the full 3-octet opcode instead of the messa

[2021-12-10 11:54] roshanrajaratnam commented on #426
@R0m4in-dooz there was a fix made couple of days ago on #458, but this applies to all segmented messages relating to the sequence number getting reset. The decryption failure in your case has still been the same as pointed out earlier in our conversations. Please test it on your end as well just see if we are on the same page!

[2021-12-10 13:00] roshanrajaratnam commented on #454
Hey @DomiR i'm testing the iv index update and it seems to authenticate the SNB for an increased IV index. The local `SecureNetworkBeacon`  is generated based on the received `SecureNetworkBeacon`s iv index so this allows us to generate the authentication values to match the SNBs. How are you testing this?

[2021-12-10 13:25] R0m4in-dooz commented on #426
Hello !
Thank you for your time @roshanrajaratnam !

It may be possible that the FW I sent is buggy, we made numerous updates since then 😅 (I sent you firmware from July)

🤔 ok then, if it is only with our firmware I will tell our embedded team to investigate

Does this means that you indeed see a bug ? But you think it's only with our custom firmware ?

We recently upgraded the Mesh SDK and are i

[2021-12-10 13:26] FluffyBunniesTasteTheBest commented on #455
Yes, because this matches section 3.7.3.1 in the Mesh profile specification 1.0.1

No, that would be wrong. The opcode must contain the company identifier.

Let's ignore the implementation details for a moment and take a look at it from a simpler angle:
Let's imagine the firmware uses an opcode with a decimal value of 14.890.497. You would expect that `MeshParserUtils.getOpCode()` return the same

[2021-12-15 21:06] FluffyBunniesTasteTheBest commented on #458
Works well. Thank you for the fast fix!

[2021-12-17 09:49] Rawa opened #461 "Bug in parseMeshPduNotifications"
---

**Describe the bug**
parseMeshPduNotifications get stuck in loop if node is not in provisioner's config:
https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/e03b1eba6cf4d7bb41b1fa36d3ce8055e8df4208/mesh/src/main/java/no/nordicsemi/android/mesh/transport/BaseMeshMessageHandler.java#L113

https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/e03b1eba6cf4d7bb41b1f

[2021-12-17 09:58] roshanrajaratnam commented on #461
@Rawa Thanks for reporting this issue. Do you delete from the list of nodes in the app?  what do you mean by Configure it as proxy  after connecting to it?

[2021-12-17 10:19] roshanrajaratnam commented on #389
Hi @fiveagle #448 adds support for Time set message.

[2021-12-17 10:19] #389 closed

[2021-12-17 10:21] roshanrajaratnam commented on #335
Hi @DevHachi thanks to @Eklow02 #448 fixes this.

[2021-12-17 10:21] #335 closed

[2021-12-17 10:51] Rawa commented on #461
@roshanrajaratnam Thanks for the quick reply.

I did not use the Nrf Mesh app but the library directly, the node was deleted without unprovisioning which means it still has the configuration of network and app key, then the connection was made as a proxy to that very same deleted node since it was still advertising with network ID etc.

By configuring the proxy I meant setting up a inclusion filte

[2021-12-17 11:07] roshanrajaratnam commented on #461
Ok let me test with that setup. Also you do have a point about reconnecting to deleted nodes with the same configuration. The deletion here is allows to get rid of a node that may have failed to operate.

Currently the loop will always be true ivIndex <= ivIndex + 1 which essentially means we are bruteforcing IVIndex and not just looking at IVIndex and IVIndex-1? E.g if we are unable to find getMa

[2021-12-17 11:32] roshanrajaratnam commented on #461
So this is my setup

- I have a switch and a light server.
- I configured the switch to turn on and off the light server.
- Then connected to the switch, configured the inclusion filter with light server address
- Deleted the switch from the list of nodes (Note the sample app is still connected to the switch)
- Turn on and off from the switch

I don't see the issue with looping here though...

[2021-12-17 11:55] R0m4in-dooz commented on #461
Hello there !

We also face this issue from time to time (because of bad n/w handling). If a provisioned node is ever deleted from database but is not really unprovisioned this "infinite loop" is indeed hapenning and may stuck the host device (phone, tablet,...).

We face it for instance if we delete a LPN from the network, but the friend didn't forward the ConfigNodeReset for some reason. If this

[2021-12-17 11:57] R0m4in-dooz commented on #461
not sure if it is high priority bug though, because it's due to desync of the database against reality, usually due to some bad handling from the library consumer...

[2021-12-17 11:59] roshanrajaratnam commented on #461
so do you mean delete or a reset of the node?

[2021-12-17 12:00] R0m4in-dooz commented on #461
for our case, it only happens when we receive a msg from unknown node. We face it if we *delete* the node without having a ConfigNodeResetStatus using the good API to send a node reset

[2021-12-17 12:05] roshanrajaratnam commented on #461
OK let me dig in to this more because this is something I've not seen before.

[2021-12-17 12:10] R0m4in-dooz commented on #461
there is also another bug related to this. It **crashes** the app if the library tries to send a block ack to an unknown node, due to calling incrementSeqNum to null node (`NullPointerException`).

Again, for me it's not that high priority (but I'll let you define them 🤣) as it is usually due to bad database handling from the library consumer

[2021-12-17 12:11] roshanrajaratnam commented on #461
@R0m4in-dooz  may be you should create a new issue?

[2021-12-17 12:17] R0m4in-dooz opened #462 "Crash app in sendBlockAck"
---

**Describe the bug**
When the library receives a segmented message that needs a block ack **from an unknown node**, the app will crash due to a `NullPointerException`.

**To Reproduce**
Steps to reproduce the behavior:
1. provision two nodes to the network
2. manually delete one node from the database without sending a `ConfigNodeReset`
3. connect to the second node of this network
4. make th

[2021-12-17 12:18] R0m4in-dooz commented on #461
#462 created, I think related to this issue because I faced both issues while an unknown was publishing to the current connected network

[2021-12-17 12:24] roshanrajaratnam commented on #462
Do you use the proxy filter in this case to receive the message on the phone that is send to other nodes?

[2021-12-17 12:28] R0m4in-dooz commented on #462
No, we still have to integrate this I think...at least I never worked on this feature, and I know we should (embedded team request)

[2021-12-17 12:29] R0m4in-dooz commented on #462
Sooo, sorry but the answer is maybe ? 😅 consider we don't

[2021-12-17 12:29] roshanrajaratnam commented on #462
so you basically delete the node, connect to and send some message that's segmented? I'll test this.

[2021-12-17 12:30] R0m4in-dooz commented on #462
connect to **another** one, yes

[2021-12-17 12:30] R0m4in-dooz commented on #462
it's not the phone that initiate the msg actually, it's the unkown node

[2021-12-17 12:33] R0m4in-dooz commented on #462
hmmm 🤔

Well you can also simulate it with two phones I think :
- create one network with a phone, provision two nodes with it
- load the network with another phone, assign a new provisioner (the first phone won't know about this)
- send a segmented msg with second phone to (any?) node in the network **while the first phone is still connected**
- the first phone should trigger `sendBlockAck` but t

[2021-12-17 12:34] roshanrajaratnam commented on #462
ok that should help me to produce this. What's the segmented message you are sending here?

[2021-12-17 12:37] R0m4in-dooz commented on #462
😅 I think it was proprietary message. So I never tested with other ones

[2021-12-17 12:43] roshanrajaratnam commented on #462
By just looking at the code I don't see how this could happen because the message is not processed any further if the node does not exist. https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/e03b1eba6cf4d7bb41b1fa36d3ce8055e8df4208/mesh/src/main/java/no/nordicsemi/android/mesh/transport/BaseMeshMessageHandler.java#L127

[2021-12-17 12:49] R0m4in-dooz commented on #462
Well, yeh I would expect the library to do such check indeed... The thing is, it happens ahah.
To be more precise on our case, it was happening because we let an external BLE device to be a provisioner without declaring it on the phone (prototyping where phone was not compatible with this new device). This external device was sending a proprietary segmented message (extending `ApplicationMessage`)

[2021-12-17 12:50] R0m4in-dooz commented on #462
it can also happen if a provisioner change unicast without the phone knowing about it (shared network)

[2021-12-17 13:02] R0m4in-dooz commented on #462
If it can help you, [here](https://github.com/OZEO-DOOZ/Android-nRF-Mesh-Library-1/blob/master/mesh/src/main/java/no/nordicsemi/android/mesh/transport/MagicLevelGet.java) is the implem for our fork of this library

[2021-12-17 13:24] roshanrajaratnam commented on #461
@Rawa @R0m4in-dooz you succeeded proving me wrong!

[2021-12-17 13:28] R0m4in-dooz commented on #461
lol not sure if it is a great achievement 😅 Have fun fixing this !

[2021-12-17 14:31] roshanrajaratnam commented on #461
@Rawa could you confirm if this works for you?

[2021-12-20 12:08] Rawa commented on #461
Just read through your commit, this seems more correct, but I also think there should be a print if the node was not found because this mean you have a configuration that is not in sync.

Another caveat is that this message will not be processed fully by the library and fail silently. E.g in my case I try to setup a proxy filter (e.g set exclusion filter), I will not receive a message back after t

[2021-12-20 13:49] roshanrajaratnam commented on #461
Great that it works, I will look in to adding some kind of log.

As of there is no way of notifying the user of any messages sent from an unknown node, but this can be done by simply notifying the user by adding a callback.  I will look in to this.

As you may know, the correct approach to delete a node from the network is by sending the `ConfigNodeReset`. Upon receiving the status `ConfigNodeRese

[2021-12-20 14:13] Rawa commented on #461
👍

Yes, something like this seems like it would suitable.

👍  Yes, this I'm aware. I agree with you on the behavior, the result of this is would be because of improper disposing of the device after the removal. Technically the mesh can also perform the key refresh procedure.

[2021-12-29 08:47] Itxupengfei opened #465 "Sent data to the group address. No data was returned"
---

**Describe the bug**
Two firmware subscribes to the same set of addresses, sends data to the group address, replies to only one piece of data, or none at all

**To Reproduce**
Steps to reproduce the behavior:
1 Two firmware vendor models subscribe to the same set of addresses
2 Sends one piece of data to the group address. Only one piece of firmware data is returned
3 Unsubscribe the firmware

[2021-12-30 02:35] Itxupengfei commented on #461
Hello, I also have an error in this "parseMeshPduNotifications "function, but it is not necessary. The ANR is more likely to occur when the status of the device is frequently reported

12-29 14:42:50.028 15924-22277/? E/DEBUG: --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---
2021-12-29 14:42:50.028 15924-22277/? E/DEBUG: Process Name: 'com.hle.lhzm'
2021-12-29 14:42:50.028 15924-222

[2021-12-30 21:01] roshanrajaratnam commented on #461
This issue have been fixed in dev branch. Could you check?

[2022-01-03 10:37] Eklow02 opened #466 "Exclusion list filter with empty Address Array ignores messages"
**Describe the bug**
The DefaultNoOperationMessageState does not process the messages correctly, if the proxy filter  EXCLUSION_LIST_FILTER is set with an empty addresses range.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the Filtertype to EXCLUSION_LIST_FILTER, but don't add any addresses to the array yet.
2. The method `isReceivedViaProxyFilter` returns true

**Expected behavior**

[2022-01-03 10:42] roshanrajaratnam commented on #466
Thanks for catching this.

[2022-01-12 07:59] ZubairAkber opened #468 "networkIdMatches method with only one param of class MeshManagerApi is missing in 2.4.3"
---

**Describe the bug**
I just pull the latest code and build it successfully, but when i create my own project and included 'no.nordicsemi.android:mesh:2.4.3' as library and try to call networkIdMatches method, i found that the overloaded method is missing with one argument that is present in the project.

**To Reproduce**
Simply add 'no.nordicsemi.android:mesh:2.4.3' in your project and try to

[2022-01-12 08:05] roshanrajaratnam commented on #468
Hi is there a reason why you are not using 3.1.6? The sample app and the mesh library should be the same version.

[2022-01-12 08:07] ZubairAkber commented on #468
Hi, i am just trying to build my own wrapper class that will only do the provisioning part, so for that i just include the library

[2022-01-12 08:16] roshanrajaratnam commented on #468
I don't see an issue with version 2.4.3  https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/1677257b1b23661b7e85b22da2c7e7cbdedce25b/mesh/src/main/java/no/nordicsemi/android/mesh/MeshManagerApi.java#L757

https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/1677257b1b23661b7e85b22da2c7e7cbdedce25b/app/src/main/java/no/nordicsemi/android/nrfmesh/viewmodels/ScannerR

[2022-01-12 08:16] #468 closed

[2022-01-12 08:21] ZubairAkber commented on #468
@Override
    public boolean networkIdMatches(@Nullable final byte[] serviceData) {
        final byte[] advertisedNetworkId = getAdvertisedNetworkId(serviceData);
        if (advertisedNetworkId != null) {
            for (NetworkKey key : mMeshNetwork.getNetKeys()) {
                if (Arrays.equals(key.getNetworkId(), advertisedNetworkId) || Arrays.equals(key.getOldNetworkId(), advertisedNetwo

[2022-01-12 08:29] roshanrajaratnam commented on #468
Hi, if you check the source directory it is in the mesh project and has been since version 1.0. Check the following line, it's called from the app and the method is in the library.

https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/1677257b1b23661b7e85b22da2c7e7cbdedce25b/app/src/main/java/no/nordicsemi/android/nrfmesh/viewmodels/ScannerRepository.java#L86

[2022-01-19 08:11] KcLeung514 commented on #444
Finally, I found out that the problem was caused by my usages. Sorry for that.

I created 2 `BleManager` instances.
In order to handle the callback, they have their own `MeshManagerApi` instances.
Let's say "meshManagerApi1" and "MeshManagerApi2"

Here is the scene.
[code]
And the "App key binding data" is not included in "MeshManagerApi2" 's mesh network data.

==========
@roshanrajaratnam

Is th

[2022-01-19 11:58] roshanrajaratnam commented on #444
Hi @KcLeung514  that's fine. It's an easy mistake to make.

To answer your question you have to export the network and import it from the other mesh manager instance.

[2022-01-19 14:39] KcLeung514 commented on #444
I think this solution can let "meshManagerApi1" and "MeshManagerApi2" have the same mesh network data.
But I think I need to do this again when one of the "meshManagerApi" made any changes in mesh network.
`MeshManagerApi#importMeshNetworkJson` involves write DB operations, will it write the same data to the DB again?

- I have 2 `MeshManagerApi` instances, so that I can handle the callback separa

[2022-01-20 06:45] roshanrajaratnam commented on #444
Well both instances will be using the same database in my opinion and mesh network UUID is used as the primary key in the database so theoretically this should work. Although I have not tested this thoroughly.

First why do you use 2 separate instances to manage the same network data?

The correct way would be to import it as a json, this will validate the network before importing it.

[2022-01-20 14:24] KcLeung514 commented on #444
Because I want to manage to 2 bluetooth connection in one mesh network.
One for provisioning device, One for send control message to device.

I have no idea how to use one `MeshManagerApi` instance to manage 2 bluetooth connections.

When I use `MeshManagerApi#createMeshPdu`, this method will return several responses through `MeshManagerCallbacks#onMeshPduCreated`.
If the application needs to send

[2022-01-21 08:47] roshanrajaratnam commented on #444
I don't see the need to use two instances of the mesh manager api. Here's a suggestion.

- Establish two connections, one to a provisioned device 'A' and an unprovisioned node 'B'
- Provision device 'B' and don't reconnect after provisionining.
- Continue configuration over the existing connection with device 'A'

I understand your issue, ususally there is no principle of `BluetoothDevice` or it's

[2022-01-26 07:37] #465 closed

[2022-01-26 14:41] Rawa commented on #461
Yes, I tested as mentioned before. This seems to have resolved it.

[2022-01-29 09:58] hipal31 commented on #370
Hello,
I tried same scenario but when I connect both client A and B to device A then I can receive status of device A only and when I control device B then both client not able to receive status of device B.

Here is the thing I want to test
-> I want to connect client with any device A or B but when I send GenericOnOffSetUnacknowleded to device A then  both client nodes should receive status of d

[2022-01-31 09:41] Rawa opened #469 "Add group is broken if provisioner have more than 1 group range"
---

**Describe the bug**
If a provisioner has more than 1 groups range the add Group function will always fail.

**To Reproduce**
Steps to reproduce the behavior:
In mesh app:
1. Go to provisioner
2. Add new group range, e.g E000-EFFF
3. Try and add a new group to any of the ranges, it will always fail

**Expected behavior**
Group should work in either range.

Problem relies here, if the group is

[2022-01-31 09:44] Rawa commented on #469
Same goes for the other function as well.
https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/e03b1eba6cf4d7bb41b1fa36d3ce8055e8df4208/mesh/src/main/java/no/nordicsemi/android/mesh/MeshNetwork.java#L454

[2022-01-31 16:24] Rawa commented on #469
Added a pull request for a fix:
https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/pull/470

[2022-01-31 19:47] philips77 commented on #469
Good catch. Thank you for creating the issue and PR. We will look into it shortly.

[2022-01-31 19:47] philips77 commented on #469
I managed to replicate the issue using the most recent version.

[2022-02-01 14:15] philips77 opened #471 ""Resolve" button in Edit ... Ranges does not work as expected"
I have a single Provisioner. The RESOLVE button should not appear at all in this case, as the intention of it is to clear ranges overlapping with another provisioners. But it shows up and clears all the ranges, after which it disappears. But when i leave and enter the screen again, it's shown again.

[2022-02-01 15:35] philips77 commented on #471
![obraz](https://user-images.githubusercontent.com/6576580/151999195-7ed0c0d1-3ce1-4e6e-b4a9-88edeeecfb2f.png) ![obraz](https://user-images.githubusercontent.com/6576580/151998892-80b177f8-16d7-4531-b7e4-c920606c6197.png) ![obraz](https://user-images.githubusercontent.com/6576580/151999022-53c3f584-a026-42cd-adf9-d097f155ffd9.png)

[2022-02-07 00:37] FluffyBunniesTasteTheBest commented on #432
Any update on this issue? A few of our users are facing something quite similar:

[code]

[2022-02-07 00:50] Mavericksb commented on #432
What is the line of code at MeshNetworkDb.java:149
?
If there is an array passed to an insert() method, just copy the array first, and then pass the copy to the insert method instead of the original array, to avoid concurrency.

[2022-02-08 07:32] roshanrajaratnam commented on #432
@FluffyBunniesTasteTheBest sorry, been a bit busy with some other project and I just got back from my paternity leave. I will start looking in to these one by one!

[2022-02-08 12:10] Mavericksb commented on #432
Ok, BTW adding a delay shouldn't be necessary.

SQLiteConstrainException isn't related to the previous problem, it means that you are passing an Object (or list of Objects) that violate the constraints that are defined in Table constructor.
As far as I can tell you are trying to insert a Provisioner Node.
It's hard to help without any more detail on the Table you are trying to write on, its defini

[2022-02-08 12:41] FluffyBunniesTasteTheBest commented on #432
@Mavericksb Thank you very much for the clarification!

Yes. During startup, the app creates a bunch of provisioners, to enable multiple app instances to operate the mesh.

That's all handled by the library, but...

... that perfectly explains the cause of the `SQLiteConstraintException`:

If the app crashes because of a `ConcurrentException`, it tries to re-create the provisioners again during th

[2022-02-08 16:39] SteMMo33 opened #472 "Libraries in Flutter"
Hi all,
I need to develop an application for the Nordic chips and I'd like develop it in Flutter.
I'm wondering if someone also try the develop similar projects and maybe confirm me that is possible to insert the *-nRF-Mesh libraries (both Android and ios) in the specific folders and use them as plugins.

Anyone?
Are there problems??

Thanks!

[2022-02-08 17:57] R0m4in-dooz commented on #472
Hello @SteMMo33,
Yes it is possible to use the Nordic libraries in a Flutter project, we do it at our company 👍
We have a Flutter plugin that encapsulates Nordic native libraries and expose their API in Dart. The libraries are git submodules of the Flutter plugin. There are probably some other ways to do it such as importing library via the usual way (gradle scripts for Android), but we needed to

[2022-02-09 07:12] gujor opened #473 "Build error when running dev branch tests"
**Describe the bug**
Build error when running dev branch tests.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to dev branch.
2. Run tests.

**Expected behavior**
Tests should build and run.

**Platform details:**
 - Android Studio
 - dev branch

**Logs / Screenshots**
<img width="615" alt="Screen Shot 2022-02-09 at 08 05 13" src="https://user-images.githubusercontent.com/36726279/15

[2022-02-09 08:55] roshanrajaratnam commented on #473
Hi thanks for reporting this. Will fix this.

[2022-02-09 09:16] gujor commented on #473
Thanks. I have created a PR with the fixed we used. If it looks ok, feel free to use it, and maybe save some time :)

[2022-02-09 09:19] roshanrajaratnam commented on #473
There were some tests that was added in a pull request we got with the scheduler feature that may have had this issue. Thanks for your PR.

[2022-02-09 09:20] #473 closed

[2022-02-09 11:17] philips77 commented on #472
Good to know that it's working!
Sorry that the Android and iOS APIs differ much. We will work on making it more similar.

[2022-02-09 11:17] #472 closed

[2022-02-10 09:32] daretobeorjan commented on #447
I'm actually seeing this problem as well, although similarly difficult to reproduce.

What I'm doing is sending a lot of model app key bind and add subscription/publish messages when we configure our node after provisioning. Around ~15 messages in very quick succession.

I've made a helper utility that sends a Set-message and then waits for the corresponding Status-message (using RX java). I am th

[2022-02-10 09:50] roshanrajaratnam commented on #447
Does this happen when you send to multiple messages to multiple nodes? and when sending do you wait for one message to complete before sending the next message?

[2022-02-10 10:44] daretobeorjan commented on #447
I'm just working with one node at the moment.

This is basically my setup:
[code]

It seems to work when only chaining a handful of messages, but as soon as I approach 10, it starts failing. Not always on the same message, it varies a bit, probably due to timing.

[2022-02-12 12:20] FluffyBunniesTasteTheBest commented on #432
Just for the records, there's one more situation where the `ConcurrentModificationException` can occur and crash the app:
[code]

[2022-02-14 09:39] roshanrajaratnam commented on #462
@R0m4in-dooz does the fix made in #461 fixed this one?

[2022-02-14 09:40] roshanrajaratnam commented on #454
@DomiR  any updates on this?

[2022-02-14 09:52] roshanrajaratnam commented on #432
@FluffyBunniesTasteTheBest are you facing this issue on the latest version as well?

[2022-02-14 10:15] R0m4in-dooz commented on #462
Hello @roshanrajaratnam ! Unfortunately I'm not able to test it as of now..but as I explained earlier in this ticket, it's pretty easy to reproduce as long as you have two phones and two nodes. I may have time to test next week tho 👍

[2022-02-14 10:27] R0m4in-dooz commented on #432
To answer your question @roshanrajaratnam, yes it occurs on latest version (3.1.6). Actually we have been facing `ConcurrentModficationException` crashes pretty much from the beginning of our usage of this library (smth like v2.4 was the first version we used)

The places where such crash can happen :
- `ProvisionerDao`
- `GroupDao` (or `GroupEntityDao`?)
- `networkExclusionsToJson` (this one may

[2022-02-14 11:36] DomiR commented on #454
I just checked this again and saw that you're right. I guess I missed that you use the ivIndex from the receiving message to calculate the "localSecureNetworkBeacon". I probably was on an older version of this repo where this was calculated using the network ivIndex. Sorry for wasting your time and thanks for looking into this 🙏

I think a small refactor to move this authentication into the Secure

[2022-02-14 11:36] #454 closed

[2022-02-14 12:26] roshanrajaratnam commented on #432
I will use the approach that @Mavericksb has suggested since it's a working solution. All updates and inserts will be done after copying the data in to a new list.

[2022-02-14 12:38] roshanrajaratnam commented on #432
So while debugging I found that the reason for this to happen only in the above mentioned `Dao` objects is that, an unmodifiable list not being passed for the insert operation.

[2022-02-14 20:33] FluffyBunniesTasteTheBest commented on #432
@roshanrajaratnam yes, happens with 3.1.6.

[2022-02-15 21:57] roshanrajaratnam commented on #462
I gave this a test now and I am not able to reproduce this, I used the mesh chat example from the nRF Connect SDK where you can send a long message to a specific node. The fix from #461 have solved the issue in my humble opinion.

[2022-02-16 08:30] #457 closed

[2022-02-16 08:30] #458 closed

[2022-02-16 08:30] #461 closed

[2022-02-16 08:30] #466 closed

[2022-02-16 08:30] #469 closed

[2022-02-16 08:30] #471 closed

[2022-02-16 08:35] #462 closed

[2022-02-17 12:01] R0m4in-dooz commented on #432
Hello @roshanrajaratnam !
So I've pulled the new release to test the fixes, and it seems better, thanks for the update 🥳
Though the only place I flagged as "maybe our fault" is the one I can still get lol.. Of course you didn't apply the fix to the network exclusions list (by my fault?). But actually, I think it needs the fix too. ([here](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Lib

[2022-02-17 13:04] roshanrajaratnam commented on #432
Thanks for your feedback. You are correct I did forget to include network exclusions in the latest release.

[2022-02-17 13:07] roshanrajaratnam commented on #432
Could you try this please?

[2022-02-17 13:29] R0m4in-dooz commented on #432
I just had it again :/ Will try more times again to see

[2022-02-17 13:31] roshanrajaratnam commented on #432
ok, I haven't released yet. Please try it and let me know thanks.

[2022-02-17 13:46] R0m4in-dooz commented on #432
This time, I had it when force deleting node (ie. not sending ConfigNodeReset)
[code]
my exclusion list is pretty long (like 100+ addresses), maybe it can impact the async task ?

[2022-02-17 13:47] R0m4in-dooz commented on #432
I gotta move to some others tasks. I will test again tomorrow or next week 👍

[2022-02-17 13:50] roshanrajaratnam commented on #432
But the library has deprecated asynctasks in the DB operations. I will debug more. Thanks for testing.

[2022-02-19 17:05] roshanrajaratnam commented on #432
@R0m4in-dooz could you export and share your network with me? I can test against your large exclusion list!

[2022-02-19 17:28] R0m4in-dooz commented on #432
Sure, there you go :
[code]

[2022-02-22 13:31] FluffyBunniesTasteTheBest opened #479 "It seems like unicast addresses are assigned multiple times."
---

**Describe the bug**
When provisioning a node it can happen that a previously assigned unicast address is reassigned.

**To Reproduce**
1. Use a fresh installation of the library's demo app to provision a node. It will get the unicast address **0x0002** assigned.
2. Erase the node using the programmer from nrf toolbox.
3. Use Segger Embedded Studio to reprogram the firmware. While technically

[2022-02-23 08:08] roshanrajaratnam commented on #479
@FluffyBunniesTasteTheBest so each node has a unique UUID and if the UUID is the same for each provisioned device you will be overwriting the same node. When address 0x0003 gets assigned the same node is in the network with 0x0002. However provisioning will replace the existing node with address 0x0003. When re-provisioning the same node it will check what addresses are in use and will find that 0

[2022-02-24 04:19] choi-seung-min opened #480 "Not able to reset Node"
I'm trying to use this app's features in flutter app.

I impletmeted scanning, connecting, identifying, provisioning but I cannot run reset function with app.

After i call ```createConfigMeshMessage()``` with ```ConfigNodeReset()```, nothing happens.
it's not removed from provisioned list and device is found on provisioned devices scanning.

I followed ```NodeConfigurationActivity``` for reset me

[2022-02-24 07:36] R0m4in-dooz commented on #480
Hello @choi-seung-min,
We are using Flutter and have no issue sending node resets. But we don't use the method you mentioned, we are using `meshManagerApi.createMeshPdu(ConfigNodeReset(), unicastAddress)`..did you try this one ?

[2022-02-24 07:37] R0m4in-dooz commented on #480
The thing is, as long as you don't receive a feedback, nothing will happen. Checkout your node's logs if you can too 👍

[2022-02-24 07:39] choi-seung-min commented on #480
@R0m4in-dooz Thanks for reply.

I'm using this ```nrfMesh.mMeshManagerApi.createMeshPdu(node.getUnicastAddress(), new ConfigNodeReset());``` method to reset node.

[2022-02-24 07:45] choi-seung-min commented on #480
@R0m4in-dooz  Thanks for reply.

I’m using ````nrfMesh.mMeshManagerApi.createMeshPdu(node.getUnicastAddress(), new ConfigNodeReset());```` for node reset now.

I’ve checked this repo to implement my goal functions. Node reset too.

Is this repo’s source does not sure work on flutter?

My ```MashManagerApi.java``` file's ```createMeshPdu``` is like this:

[code]

Do i have to change my nrf mesh lib

[2022-02-24 07:50] R0m4in-dooz commented on #480
Ah yes, i messed the parameters order, but it should work indeed.
For Flutter, everything is working, you have to wrap the native code with method channels and event streams and you should be able to have a mostly Dart api. We may release our plugin in the future but for now I can't tell much except that it is possible to use the Nordic libraries in Flutter 👍

For the library version, always try t

[2022-02-24 08:12] roshanrajaratnam commented on #480
@R0m4in-dooz Thanks for helping out!

[2022-02-24 10:56] FluffyBunniesTasteTheBest commented on #479
@roshanrajaratnam Thank you very much for the detailed explanation!

Under what circumstances does a Key Refresh Procedure happen? Does the library do it in background? My app doesn't handle it (at least not knowingly), so the previously used mesh addresses _should_ remain in the exclusion list, I believe.

Also thanks for the links to the nRF Connect SDK. Unfortunately I had to revert back to nRF

[2022-02-24 12:00] roshanrajaratnam commented on #479
@FluffyBunniesTasteTheBest Let me rephrase myself and I have corrected my previous comment. Addresses are not unique in a mesh network, the reason being any deleted node's address gets added to an exclusion list and once the IV Index Update procedure is completed they are free to be re-used.

IV Index Update is automatically initiated by a node when it finds itself in the risk of exhausting it's s

[2022-02-25 09:57] R0m4in-dooz commented on #432
well, bad news : I had crash upon node reset status and it didn't occur on network exclusions handling
[code]
I didn't carefully check my network JSON maybe there is an issue inside, but i don't see why. Plus this crash not only occur with my network as we can see some users are facing it thanks to monitoring tools..
![image](https://user-images.githubusercontent.com/72380352/155694982-2ee64b5b-32

[2022-02-25 10:33] roshanrajaratnam commented on #432
Any node that is reset gets added to the exclusion list. I still haven't had time to test against your json file. I will push a fix, could you test it for me on your network?

[2022-02-25 13:29] FluffyBunniesTasteTheBest opened #481 "How to map a BLE scan result to mesh node?"
Is there a way to tell to which mesh node a BLE scan result belongs to?

**Is your feature request related to a problem? Please describe.**
When our app displays the firmware update UI, it should filter out all devices that are not part of the mesh network. Imagine, for example, multiple (isolated) mesh networks that are close to each other. When a user wants to do a DFU, it should not be possible

[2022-02-25 14:52] roshanrajaratnam commented on #481
@FluffyBunniesTasteTheBest So each provisioned node advertises with a Mesh Proxy Service and a `Network ID`. If you filter all provisioned nodes based only on the Proxy Service you will always see nodes belonging to the different mesh networks. This is where the `Network ID` comes in to the picture. Each provisioned node advertises with a `Network ID` based on it's primary network key. This allows

[2022-02-28 05:38] choi-seung-min opened #482 "ProvisionedMeshNode unicast address is always 1"
Hi, I was debugging for issue #480
then, I found my app always get ```ProvisionedMeshNode.getUnicastAddress()``` as 1
before I createMeshPdu with ```nrfMesh.mMeshManagerApi.createMeshPdu(node.getUnicastAddress(), new ConfigNodeReset());```.

I've reset the mesh device, and network. but it's always return 1 for ```getUnicastAddress()``` for any node.

before I createMeshPdu, I do
1. ```nrfMesh.conn

[2022-02-28 08:30] roshanrajaratnam commented on #482
Calling `getUnicastAddress()` will give you the unicast address of that node.

P.S: Also a Provisioner with an address in your mesh network is also a node in a mesh network.

[2022-02-28 08:30] #482 closed

[2022-03-02 02:30] zerosensei opened #484 "CID needs to be updated"
---
Now the CID has been increased to [0x0B38](https://www.bluetooth.com/specifications/assigned-numbers/company-Identifiers/).

[2022-03-02 04:04] tomato8160 opened #485 "Can I keep connection with node after identify?"
# Question

We must disconnect from any nodes that we are connected to before we start scanning.

Why do this?

I want to keep connection with node after identify (without provisioning)

[2022-03-02 08:40] roshanrajaratnam commented on #485
Well you don't have to disconnect. The sample app is designed in this manner.

There is a 60 second timeout defined in the mesh profile specification version 1.0.1 section 5.4.4. This states that you should disconnect if no message is sent during a time frame of 60 seconds during the provisioning stages.

[2022-03-02 08:41] roshanrajaratnam commented on #484
@zerosensei Will update the company identifiers for the next version. We gladly accept pull requests too.

[2022-03-02 10:20] tomato8160 commented on #485
Sorry, I think there is not enough of something. so I'm commenting more

while I connected to provisioned proxy nodes

![InkedScreenshot_20220302-190406_nRF Mesh_LI](https://user-images.githubusercontent.com/56227932/156341565-447cf4f1-e784-4d52-8b0e-2466150a9c50.jpg)

I tried to scan devices
![Screenshot_20220302-190350_nRF Meshd](https://user-images.githubusercontent.com/56227932/156341726-723b7

[2022-03-02 10:33] roshanrajaratnam commented on #485
The reason we disconnect here is that we did not want to stay connected to another proxy while provisioning. This approach allowed us not needing to figure out where a mesh packet arrived from and when sending provisioning message we did not have to verify which node to send to.

It's a sample app so we decided to take this approach which was easiest at that time. However you may decide to change

[2022-03-06 17:51] FluffyBunniesTasteTheBest commented on #481
@roshanrajaratnam Thank you very much for the detailed explanation! One more question though:

It's basically working with `isAdvertisingWithNetworkIdentity()`. Only problem is that if the proxy is switched off (a wanted feature of our device), then the node stops to advertise itself with network identity. Right now, I'm getting the service data from `MESH_PROXY_UUID` (same like in the librarie's

[2022-03-07 07:31] roshanrajaratnam commented on #481
Right. I guess in that case a Secure Network Beacon would be an option here, you can get the Network ID from a secure network beacon. Checkout section 3.9 and 3.9.1 and here https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/d7b7e61ef5944bb986a9d2fc99145f59ecfaed56/app/src/main/java/no/nordicsemi/android/nrfmesh/viewmodels/ScannerRepository.java#L166

[2022-03-07 08:52] choi-seung-min commented on #480
Thanks, I found that i did not set `unicastAddress` to network on provisioning process.

It’s working perfectly.

[2022-03-07 08:52] #480 closed

[2022-03-07 09:25] #479 closed

[2022-03-10 15:47] FluffyBunniesTasteTheBest commented on #481
@roshanrajaratnam Thank you very much for your help!

[2022-03-10 15:47] #481 closed

[2022-03-10 20:54] FluffyBunniesTasteTheBest opened #486 "How to avoid multiple nodes with the same UUID after DFU?"
---

**Describe the bug**
The first version of the firmware was a simple generic level model, which will be replaced by a proprietary vendor model.
When updating the firmware from the generic level to the vendor model, the node automatically unprovisions itself because Softdevice/Mesh SDK detects that the (generic level) model data is invalid for the new vendor model.

Now, when reprovisioning the

[2022-03-11 14:08] FluffyBunniesTasteTheBest commented on #432
Two of our (~500 active) users experience the same crash @R0m4in-dooz reported. Google Play console shows:
[code]
Beside that, Google Play also logged a few `SQLiteConstraintException` that could be related - both exceptions have a call of `ProvisionedMeshNodeDao_Impl.insert()` in their stack trace.
[code]

[2022-03-11 14:28] roshanrajaratnam commented on #432
@FluffyBunniesTasteTheBest  did you test against version 3.1.7? Although I have not had time to test the the reset issue @R0m4in-dooz has faced yet.

[2022-03-11 14:28] roshanrajaratnam commented on #486
I will try take a look at this beginning of next week and get back to you!

[2022-03-11 14:31] roshanrajaratnam commented on #486
Did you check if the UUIDs are the same after flashing both instances?

[2022-03-11 15:35] roshanrajaratnam commented on #486
@FluffyBunniesTasteTheBest I did speak to our mesh team. Check below.

Yes, because they did not fully erase the device before burning the second app. When device is not fully erased before burning the new application, the persistence memory data from old app gets preserved in such case and then this error is triggered. On the next reboot, stack will clean up dirty persistence storage data and sta

[2022-03-11 15:37] FluffyBunniesTasteTheBest commented on #432
@roshanrajaratnam Thanks for your help!

Not yet, the current app in production is still based on 3.1.6, but I've merged some of the fixes [
9bd1a82](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/commit/9bd1a82b67877820c3e73b8e620dcbe1bb55a68f) between 3.1.6 and 3.1.7.

Unfortunately I don't even know what triggered the crash. Problem is that privacy is very important to our targ

[2022-03-11 16:07] FluffyBunniesTasteTheBest commented on #486
@roshanrajaratnam Thanks for the quick response and the clarifications!

No, I just assumed that the UUIDs don't change because of [Tesc's first answer at this discussion at devzone](https://devzone.nordicsemi.com/f/nordic-q-a/38526/mesh-uuid). (The firmware uses the default implementation - i.e. does not provide UUIDs through `mesh_stack_init_params_t`, so the UUIDs can't change). But beside that

[2022-03-11 17:05] roshanrajaratnam commented on #486
If there are matching UUIDs library will overwrite it. That's how the spec is defined.  I believe you have two different UUIDs causing your old node not being overwritten.

[2022-03-11 21:04] FluffyBunniesTasteTheBest commented on #486
K, I'll check, but if the UUIDs are different, why are both nodes deleted when resetting one of the nodes?

[2022-03-13 22:18] #486 closed

[2022-03-14 08:57] roshanrajaratnam commented on #486
No worries, glad it works! :)

[2022-03-16 16:25] FluffyBunniesTasteTheBest commented on #432
@roshanrajaratnam Thanks for your help!

Unfortunately it happens with 3.1.7 as well. This time from line 195 at ProvisionersDao_Impl.java. The previous crash happened at line 317 at ProvisionedMeshNodesDao_Impl.java.

[code]

Would be nice if this could be fixed soon.

[2022-03-17 08:23] roshanrajaratnam commented on #432
@FluffyBunniesTasteTheBest  will take a look at this issue today and get back to you!

[2022-03-17 12:25] roshanrajaratnam commented on #432
question here though, what do you mean by adding nodes? are you referring to provisioning them in to the network?

[2022-03-18 09:26] R0m4in-dooz commented on #472
Hello @SteMMo33,
We just open sourced our Flutter plugin that provides a Dart API to use this library and its iOS counterpart.
It still lacks some "get started" documentation, but the example app should be enough to jump in with basic mesh network features 👍
If it can help you to develop your projects, feel free to give [our plugin](https://pub.dev/packages/nordic_nrf_mesh) a try !
Regards 👋

[2022-03-18 09:27] R0m4in-dooz commented on #480
Hello @choi-seung-min,
We just open sourced our Flutter plugin that provides a Dart API to use this library and its iOS counterpart.
It still lacks some "get started" documentation, but the example app should be enough to jump in with basic mesh network features 👍
If it can help you to develop your projects, feel free to give [our plugin](https://pub.dev/packages/nordic_nrf_mesh) a try !
Regards 👋

[2022-03-18 09:28] R0m4in-dooz commented on #486
Hello @FluffyBunniesTasteTheBest,
We just open sourced our Flutter plugin that provides a Dart API to use this library and its iOS counterpart.
It still lacks some "get started" documentation, but the example app should be enough to jump in with basic mesh network features 👍
If it can help you to develop your projects, feel free to give [our plugin](https://pub.dev/packages/nordic_nrf_mesh) a try

[2022-03-21 17:59] FluffyBunniesTasteTheBest commented on #486
@R0m4in-dooz Sounds promising. Thanks for sharing this! I'll have a look at it.

[2022-03-22 08:48] roshanrajaratnam commented on #432
@FluffyBunniesTasteTheBest I think I have found where the `ConcurrentModificationException` is  being thrown during the import and also when removing an item from the list of `networkExclusions`. Could you give this a spin please?

[2022-03-23 09:22] R0m4in-dooz opened #488 "BaseMeshNetwork.id is never updated"
---

**Describe the bug**
The `id` field of `BaseMeshNetwork` seems to never be updated and is equals to the [initial value](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/main/mesh/src/main/java/no/nordicsemi/android/mesh/BaseMeshNetwork.java#L68) : `http://www.bluetooth.com/specifications/assigned-numbers/mesh-profile/cdb-schema.json#`.

**To Reproduce**
Steps to reproduce

[2022-03-23 09:33] daretobeorjan commented on #432
Hi, watching this issue since we have similar problems.

Doesn't the new getNetworkExclusions also need to make a copy of the ArrayList(s) that is the value of the map as well?

[2022-03-23 09:36] roshanrajaratnam commented on #488
Hi, it's not meant to be updated. It's a part of the Mesh CDB JSON schema and will point to a schema for that version.

[2022-03-23 09:36] #488 closed

[2022-03-23 09:39] roshanrajaratnam commented on #432
Hi yes I am working on this at the moment. I would say that returning an unmodifiable list should work when inserting to db. What is your opinion on this?

[2022-03-23 09:45] daretobeorjan commented on #432
Yeah, I agree. I did a quick test with a re-implementation of getNetworkExclusions as such:
[code]
It seemed to get rid of the concurrent modification crashes completely. Probably shouldn't use streams, but I mostly work with Kotlin so it's the quickest way to prototype something for me.

[2022-03-23 09:59] roshanrajaratnam commented on #432
Good point. So it could be that the arraylist within the map is not an unmodifiableList causing this crash. Unfortunately cannot use streams on my end due to API limitations. I will push a fix soon, if you can please give it a test because I am having a hard time reproducing this.

[2022-03-23 10:17] R0m4in-dooz commented on #488
Oh I see ! Thx for explanation

[2022-03-23 14:47] roshanrajaratnam commented on #432
@R0m4in-dooz I think I may have found the issue relating to the `ConcurrentModificationException` when sending a ConfigNodeReset According my logs it seems like a timing issue following update method is called for , currently the following update is called when sending a message and I notice that for larger networks the db update is not completed even until the ConfigNodeResetStatus is received ca

[2022-03-23 17:44] R0m4in-dooz commented on #432
Hello @roshanrajaratnam !
Ok i may have time to test it this week. I should pull latest dev HEAD I suppose ?

[2022-03-25 13:04] philips77 commented on #484
Related for iOS: https://github.com/NordicSemiconductor/IOS-nRF-Mesh-Library/issues/404

[2022-03-26 15:08] #484 closed

[2022-03-28 08:57] #432 closed

[2022-03-30 08:06] daretobeorjan opened #490 "ConcurrentModificationException on insertNetwork"
Seems to be very hard to trigger, the is the first time ever for me, but still seems to be a similar timing issue in database writing to the others solved previously.

`Process: se.enequi.quipower.test.debug, PID: 1016
    java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.next(ArrayList.java:860)
        at java.util.Collections$UnmodifiableCollection$1.next(Collections.

[2022-03-30 08:13] daretobeorjan commented on #490
This seems like a safer approach to insertNetwork:
[code]

Or perhaps use new ArrayList in MeshNetwork.getNodes et all instead? Though I don't know if you would want to increase the overhead of those methods like that, although any iteration on the returned value may cause the exception, so perhaps it would be the safest.

[2022-03-30 08:14] roshanrajaratnam commented on #490
I think it will only increase the overhead IMHO, I can definitely try making a copy!

[2022-03-30 08:18] daretobeorjan commented on #490
It's probably fine if callers are the ones who decide if they need a copy or not.

[2022-03-30 08:23] roshanrajaratnam commented on #490
@daretobeorjan this is from 3.1.8? or 3.1.7?

[2022-03-30 09:19] daretobeorjan commented on #490
We're actually running the mesh SDK as a submodule on our own internal dev-branch for features that are not merged into upstream. Our most recently merged upstream commit is 4ecb0ede561a16ccac7da9d8e14e270da981fbf4.

[2022-03-30 09:49] roshanrajaratnam commented on #490
ok so you have the latest! I've made the suggested changes. Let me know if that works!

[2022-03-30 17:31] FluffyBunniesTasteTheBest commented on #432
@roshanrajaratnam please excuse the delay, it's a little busy right now.

The `ConcurrentModificationException` unfortunately still happens with version 3.1.8:

[code]

It's quite easy to provoke the crash using a test routine that:
1. Scans for unprovisioned devices and takes the first device found.
2. Provisions the device.
3. Sends a `ConfigNodeReset` message to unprovision the node.

I'm using

[2022-03-31 07:22] roshanrajaratnam commented on #432
@FluffyBunniesTasteTheBest sorry it's been a tricky one to fix here, I see that this is happening when updating the db. I have included a fix that copies the network exclusions to a new map before updating the db. Please give it a shot and let me know how it goes.

[2022-03-31 09:47] FluffyBunniesTasteTheBest commented on #432
@roshanrajaratnam Thanks for the quick fix!

~~It looks promising so far: 120 iterations without any issues.~~ Argh... Murphy's Law! Crash just while writing these  lines...

[code]
Happened with dev branch at a0774c137c4a5b76ed6066b53d40f611394d2f26.

[2022-04-03 18:11] FluffyBunniesTasteTheBest opened #492 "How to recover from a lost connection after provisioning?"
Dear @roshanrajaratnam,

I would appreciate your expertise with the following situation:

After provisioning, a new node advertises itself with node identity, which is used to connect to the new node to configure it (assign keys etc.).

Sometimes it happens that the first connection to the freshly provisioned node gets lost with error code 19 (REASON_TERMINATE_PEER_USER).

---

**A little backgrou

[2022-04-03 19:28] roshanrajaratnam commented on #492
@FluffyBunniesTasteTheBest Let me answer the question regarding identifying a node after provisioning first. if the node is not advertising with node identify, you can still check for the network id. If you refer to the sample app, we scan and check if a node is advertising with node identity or network id. If your connection times out, you can still find a device using network identity and config

[2022-04-05 13:36] #492 closed

[2022-04-06 14:36] philips77 opened #494 "Add option to subscribe to All Proxies, All Friends and All Relays"
Currently, when setting Subscription to a Model, one can only select a user-defined group.
However, spec 1.0.1 allows any Fixed Group Address EXCEPT All Nodes to be set as model subscription.
By design, messages targeting All XXX shall be processed by all modes on the primary element if they are subscribed to the Application Key (chapter 3.4.2.4). But is is possible to subscribe to any All XXX exc

[2022-04-06 14:40] philips77 opened #495 "App crashes when I try to add Provisioner"
I'm using version 3.1.8 of nRF Mesh for Android.
I imported a network [json](https://drive.google.com/file/d/1e6-N5ULOeHNXqPt7bto1GwqD6gA4AAxv/view?usp=sharing) and am trying to add a new Provisioner. Settings->Provisioners->ADD PROVISIONER.
At this moment the activity crashes and I land on Settings again.

[2022-04-06 14:45] philips77 commented on #494
![Screenshot_20220406-164352](https://user-images.githubusercontent.com/6576580/162001687-ffc75f9f-4cc7-420e-aff9-7deda879c80d.png)
Confirmed, only use defined groups are allowed.

[2022-04-07 07:55] roshanrajaratnam commented on #494
As of now the app allows only to subscribing to groups and virtual addresses. Thanks for pointing out!

[2022-04-07 08:00] roshanrajaratnam commented on #490
Possible fixes could be contained in #496

[2022-04-07 09:40] roshanrajaratnam commented on #494
Some more clarification:
1. All models on the primary element are automatically subscribed to all All XXX addresses, if the node supports such feature.
    E.g. If a node has Relay Feature enabled, all models on the Primary Element, that are bound to the App Key used to secure the message, will receive a message sent to All Relays encrypted with this App Key.
2. User may subscribe ANY model on ANY

[2022-04-07 13:33] #447 closed

[2022-04-13 07:04] SalimTerryLi opened #499 "OpCode 0x8046 not correctly implemented"
---

**Describe the bug**

According to page 174 of 333, [Mesh Profile 1.0.1](https://www.bluetooth.org/docman/handlers/downloaddoc.ashx?doc_id=457092), the opcode 0x8046 contains a two octets param which indicates netkey index.

But the implement [here](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/543d7630a5ecb6250dcb5c17c455bcd9da0baa64/mesh/src/main/java/no/nordicsemi/an

[2022-04-13 07:30] roshanrajaratnam commented on #499
Hi @SalimTerryLi, thanks for catching this. I will push a fix shortly.

[2022-04-13 07:31] #499 closed

[2022-04-21 11:52] FluffyBunniesTasteTheBest opened #500 "ConcurrentModificationException in networkExclusionsToJson() after sending ConfigNodeReset"
Dear @roshanrajaratnam

The following `ConcurrentModificationException` just happened with version 3.2.1:
[code]
It looks like at [MeshNetworkDb.update()](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/524bc009a21a3dea283b85d69a0f8df0f0b2014c/mesh/src/main/java/no/nordicsemi/android/mesh/MeshNetworkDb.java#L221), the result of `network.getNetworkExclusion()` also needs to be

[2022-04-22 02:01] tomato8160 opened #501 "ClassCastException removing stored scene in Scene Setup Server"
---

**Describe the bug**
when i try to remove stored scene, ClassCastException occurred because SceneUiState class cannot be cast to Scene class

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Scene Setup Server Model(Activity)
2. swipe stored scene to remove
3. See error

**Logs / Screenshots**

![image](https://user-images.githubusercontent.com/56227932/164581519-b4c75797-2cb5-486d-

[2022-04-27 07:24] likebobby opened #503 "Enable inheritance in VendorModelMessageStatus"
**Is your feature request related to a problem? Please describe.**
When using vendor models the VendorModelMessageStatus is a final class and can not be used in class inheritance. Is there a reason for this or could it be un-finalized?

**Describe the solution you'd like**
Can it be changed as:
[code]

**Describe alternatives you've considered**
The other option is to always parse the model as Ven

[2022-04-27 11:05] roshanrajaratnam commented on #503
Well I don't see why it shouldn't be public. The idea during implementation was just to return a array of bytes so that users can parse it in their app, but this could well be done by allowing VendorModelMessageStatus to be extended. I think this might be a good idea to open up the VendorModelMessageStatus.

I guess you plan on extending in your app?

[2022-04-27 11:45] likebobby commented on #503
Yes, the plan was to extending.

Den ons 27 apr. 2022 13:06Roshan Rajaratnam ***@***.***>
skrev:

[2022-05-09 06:15] NomanAziz51 commented on #30
Hi, @roshanrajaratnam, Is there any update on this module?

[2022-05-09 15:18] FluffyBunniesTasteTheBest opened #504 "LowerTransportLayer: Acknowledgement timer expires too early, causing replies to get lost."
---

**Describe the bug**
Approximately once every 20 to 40 sent `VendorModelMessageAcked` messages, it happens that the reply gets lost. If it happens the following messages are logged:

[code]

If the message gets through, the following is logged instead:
[code]

What's interesting is, that in the error case, the acknowledgement timer expired already 141 milliseconds after the pdu was sent. Wher

[2022-05-17 11:12] likebobby commented on #503
We saw some problems we the inheritance approached and used mapping of vendor status messages to vendor models instead.

[2022-05-17 11:12] #503 closed

[2022-05-25 08:53] FluffyBunniesTasteTheBest opened #506 "MeshStatusCallbacks.onUnknownPduReceived() when sending multiple messages to the same node."
**Describe the bug**
The app stores mesh messages in a queue. A background worker takes a message from the queue and sends it into the mesh - one message every 250 milliseconds. When sending **multiple messages to the same node**, `MeshStatusCallbacks.onUnknownPduReceived()` gets called quite frequently and hence the response of some messages get lost.

Question now is, is it valid to send multipl

[2022-05-25 09:08] roshanrajaratnam commented on #506
Hi, if the message is segmented or is acknowledged you should wait for the first message to be processed. A node can already be busy processing a message or if it was out of resources it might send a  block acknowledgement value with 0x00000000.

Could you check if you get a block acknowledgement with 0?

[2022-05-25 09:26] FluffyBunniesTasteTheBest commented on #506
Sure, will do, but will take till next week, as it's only reproducible at my clients test lab.

[2022-05-25 09:29] roshanrajaratnam commented on #506
ok, for now I am working on adding provisioning using OOB Public Key.

[2022-05-25 10:06] #501 closed

[2022-05-25 10:28] #500 closed

[2022-05-25 10:29] #490 closed

[2022-05-26 18:18] roshanrajaratnam opened #510 "Provisioning failure"
---

**Describe the bug**
App was failing to provision, if the user pressed ok without entering a key. This is related to the issue reported on Google play store.

**Expected behavior**
Display an error for an invalid key.

**Platform details:**
 - Device: All devices
 - OS: All versions
 - Library Version 3.2.2

[2022-05-26 18:26] #510 closed

[2022-05-29 06:10] anees17861 opened #513 "Database security"
**Is your feature request related to a problem? Please describe.**
Since any node can be provisioned into the network with netKey and an appKey, an attacker who gets hold of the keys can add a new node for listening in. While going through the source code, I could not find any security on the database that stores these keys. Although android provides sandbox storage for each app, it is still easil

[2022-05-30 06:26] roshanrajaratnam commented on #513
Hi thanks for pointing this out. This indeed is a known drawback in the library as of now. We'll try to get this fixed for the next release.

[2022-06-02 09:21] chinli opened #514 "nRF Mesh could not scaned my node device"
---

**Describe the bug**
I used Mynewt-nimble  to create node with pb_adv, but nRF Mesh could not scaned my device(in Scanner page not display).

**To Reproduce**
Steps to reproduce the behavior:
1. power on my ble device, and enable unprovisioned beacon adv;
2. use nRF Connect could scaned this device;
3.  use nRF Mesh, click the <ADD NODE> to enter the scanner page, but didn't displey always;

[2022-06-02 10:38] roshanrajaratnam opened #515 "Transaction Failed error being displayed when setting Network Transmit Count to 1"
---

**Describe the bug**
The library allows setting the transmit count to 1 however `NetworkTransmitSettings` incorrectly validates the `NetworkTransmit`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Cofiguration Server on any node
2. Click on Set Network Tranmit
3. Set Tranmission count 1
4. Transaction Failed

**Expected behavior**
Parse Network Transmit Settings correctly.

**Pl

[2022-06-02 10:46] #515 closed

[2022-06-03 06:18] roshanrajaratnam commented on #514
@chinli this is strange. Did you scan via "Add Node"?

[2022-06-05 13:33] FluffyBunniesTasteTheBest opened #517 "What's the most efficient way to ping all nodes in a mesh network?"
The idea is to monitor the nodes accessibility. One way to implement it would be to add a ping message to the firmware, but the way it looks any broadcasted acknowledged message would do. What message would be a good fit in terms of efficiency? (The message should cause as little work as possible on the nodes). How would you implement it?

[2022-06-05 17:19] Brew317 opened #518 "nRF Mesh only connects to last provisioned node"
---

**Describe the bug**
The nRF mesh andriod app only will connect to the last node that it provisioned

**To Reproduce**
Steps to reproduce the behavior:
I have three nodes in my dev system all nRF5340DK, I provision each one everything is find.
one node is a client, the other two are identical server/client nodes

1. I provision all three nodes and close nRF Mesh
2. System is working as expect

[2022-06-06 03:23] chinli commented on #514
@roshanrajaratnam Yes, I'm a little confused that it must be enable pb_gatt or not?  I wonder if you could suggest some testing.
thanks ~

[2022-06-06 04:11] roshanrajaratnam commented on #514
Hi, I'm not sure if I could answer you on my-newt nimble. If the device is advertising you should be able to see the device in the scanner.

[2022-06-06 13:58] RobertoGab opened #519 "Incorrect Retransmit Interval Step"
Hello,
We are actually using an old version of Mesh library : 2.1.4
We cannot currently upgrade at the moment per customer guidance.

That said , we are having a problem configuring a device.

Context :
We send a Publish Message using a custom vendor message (using your lib's ConfigModelPublicationSet.java object).
As Retransmit Count we set 2 and as Retransmit Interval Step we set 5

Message sent

[2022-06-06 19:01] #517 closed

[2022-06-07 09:13] #519 closed

[2022-06-07 09:40] RobertoGab commented on #519
Thank you so much Roshan !
Yes I will push some more to make it clear to client it is important to upgrade, meanwhile I'll try to fix it manually using the link you provided.
Thanks again :)

[2022-06-07 11:15] roshanrajaratnam commented on #519
Good luck with it :)

[2022-06-07 11:36] FluffyBunniesTasteTheBest commented on #517
Thanks for taking the time clarifying this. Just mentioning a mesh message would have done...

[2022-06-07 15:29] philips77 commented on #517
This is a bit complicated. I'm not aware of any ping type message from the spec. You may look into heartbeat config messages, which can configure a node to send periodical heartbeats. Or design vendor message. But perhaps the support team may have better ideas...

[2022-06-10 05:44] roshanrajaratnam commented on #518
Hi, I'll take a look at this today, this seems a bit strange.

[2022-06-10 09:16] roshanrajaratnam commented on #518
I did this give this a go and I can't seem to produce this on my end. I can connect to the node I selected from the list of nodes irrespective of where I am within the app. To ensure this you can have nRF Connect running in the background with "Gatt Server enabled" and try connecting to the node you want to using nRF Mesh and if you switch back to nRF Connect you can see which device you are conne

[2022-06-10 15:02] ashored-aross opened #520 "Samsung Galaxy Tab A8 does not work with nRF Mesh Android App"
---

**Describe the bug**
basically everything works great on our Galaxy Tab S6 Lite (SM-P610), can provision, everything. Same for the iOS version. However on the Samsung Galaxy Tab A8 (SM-X200) can see the device to be provisioned, but fails to provision it after the first steps.

We're using the 833 dev kit with soft device 140.

Thanks

**To Reproduce**
Steps to reproduce the behavior:
1. Go t

[2022-06-13 06:29] roshanrajaratnam commented on #520
Hi as far as I am aware, there is a ticket open on DevZone already on this and tech support is looking in to this issue. Let's not duplicate issues. Hence closing this!

[2022-06-13 06:29] #520 closed

[2022-06-13 14:12] anees17861 opened #521 "Provide option to process Nrf library logs"
**Is your feature request related to a problem? Please describe.**
The Library relies on Android Native Logging. This way we can observe logs by connecting to laptop but can't observe for remote devices

**Describe the solution you'd like**
I can think of following two options where option 1 seems the easier approach)
1. Provide an option to set callback for logger interface
2. Allow to extend Mes

[2022-06-14 19:58] anees17861 commented on #521
Will it be alright if I submit a PR to the same so that you can integrate it as quickly as possible?

[2022-06-15 06:45] roshanrajaratnam commented on #521
Hey, we gladly accept pull requests :)

[2022-06-21 05:10] roshanrajaratnam commented on #518
Hi, we don't have any internal test versions at the moment and if the version you have is the same as the one that's publicly available. I will try to have a look at this today.

[2022-06-22 04:52] anees17861 commented on #521
Hi @roshanrajaratnam
Sorry for the delay but I have created a pull request #522

Please go through the same and see if it has any issues

[2022-06-22 05:17] roshanrajaratnam commented on #521
Thanks I will take a look at this later today!

[2022-06-22 08:24] roshanrajaratnam commented on #518
Are you using NCS based examples and version? Do you have any chance to try on 52840 DKs?

[2022-06-23 05:42] anees17861 opened #523 "IV index doesn't update on a imported network"
---

**Describe the bug**
When a network is exported and imported to a new mobile device, the iv index of network is lost. Although it should update on receiving a secure network beacon after connecting to proxy, app discards the message and hence any message the app sends is ignored by the proxy.

Issue seems to be that when network is imported, IVIndex default transitionDate is set to currentDat

[2022-06-23 07:09] roshanrajaratnam commented on #523
Hi thanks for reporting this issue, I will take a look at this as soon as possible.

[2022-06-23 11:40] anees17861 commented on #523
@R0m4in-dooz Thanks for this. Instead of removing the check completely, I decided to update the iv index date after import is done since that api is public. I set the year to 1970 :P.
The advantage was I did not need to put the library under source control. I could still use maven plugin

[2022-06-23 23:02] Brew317 commented on #518
not using NCS using nrf examples nRF connect for desktop v1.9.1

[2022-06-24 05:40] roshanrajaratnam commented on #518
Have you tried to see if you notice the same behaviour? Or does it happen with your firmware?

[2022-06-24 15:53] Brew317 commented on #518
I don't understand the question. I am using the Android nRF Mesh application downloaded from the app store "AS IS".
I have not cloned the nRF Mesh SDK from this site. I don't intend to modify the nRF mesh provisioner.
it is just the tool (only tool) I have to provision the nRF5340DK eval boards

[2022-06-24 17:00] Brew317 commented on #518
Ah! yes I misunderstood you.
I am running the nRF Connect v1.9.1\nrf\samples\bluetooth\mesh\light
and the nRF Connect v1.9.1\nrf\samples\bluetooth\mesh\light_switch
and modifying the Generic OnOFF server/client model and the Generic Level server/client model
below is my modified Node element structure.
the code works could having a level server and client in the same element be the issue?
too many

[2022-06-25 15:35] roshanrajaratnam commented on #518
I suggest posting this issue on devzone as this is more related to the SDK and would help reaching a wider audience. Our dedicated tech support team should be able to help you on this.

[2022-06-25 15:35] #518 closed

[2022-06-28 07:19] anees17861 commented on #523
https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/6d9e71ac432d33f67c30f1ee16ce342fcf094952/mesh/src/main/java/no/nordicsemi/android/mesh/MeshManagerApi.java#L334

@roshanrajaratnam Is there any specific reason why the previous transition date is put here. In case of iOS it just replaces the entire ivIndex with the one generated by the received beacon

[2022-06-28 07:34] #521 closed

[2022-06-28 07:38] roshanrajaratnam commented on #523
Ideally it should, I'll have to investigate this.

[2022-06-28 08:57] roshanrajaratnam commented on #523
@anees17861 this was a good catch, IV Index update is a tricky one! Please give it a test and let me know if this works for you as expected.

[2022-06-28 08:58] roshanrajaratnam commented on #514
@chinli are you still facing this issue?

[2022-06-28 10:57] anees17861 commented on #523
Although it fixes the issue of the transition date not updating at all, it doesn't solve the issue raised here of export import.
I observed that the initial ivIndex transition date is actually `nil` in iOS but in android it is `Calendar.getInstance()` which ends up taking the date when the network is imported.
In `canOverwrite()` if date is found to be `nil` then it returns true
Keeping ivIndex tr

[2022-06-28 11:59] roshanrajaratnam commented on #523
Now I see your point, I thought it was doing this already but seems like I don't. Let me fix this.

[2022-06-28 12:21] roshanrajaratnam commented on #523
Hopefully this should work now!

[2022-06-28 13:39] anees17861 commented on #523
Unfortunately it still doesn't work.

As you mentioned for iOS the transition date is stored in preferences but it's only stored when the update procedure actually takes place. For a new network this never happens until at-least one beacon is received.
Following is the only point where iv index transition date is updated by the library.
https://github.com/NordicSemiconductor/IOS-nRF-Mesh-Library/b

[2022-06-28 13:48] roshanrajaratnam commented on #523
you are correct, but have you had a chance to increment the IV Index of the existing network and trying to import the same network again?

[2022-06-28 13:49] anees17861 commented on #523
Also is it safe to ignore the transition date altogether or provide an option for the app to set a flag to ignore it? It is a bit concerning that it will take the first packet and won't update for at-least 192 hours.
In case of provisioning + configuring a new node in existing network with higher iv index:

1. the proxy may first send secure beacon with iv index = 0
2. Nrf Library would update it'

[2022-06-28 14:07] roshanrajaratnam commented on #523
It's only an IV Index recovery that will not take place for 192 hours which means that the received Index must be current IvIndex + 1. And normal operation must last for at least 96 hours. :)

[2022-06-28 14:37] anees17861 commented on #523
Ok confirmed. Reimport works

[2022-06-28 14:59] anees17861 commented on #523
Hi @roshanrajaratnam I think PR #524 and your changes in https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/tree/hotfix/fix-iv-index-transition-date should together solve the issue fully

[2022-07-01 07:40] chinli commented on #514
Unfortunately, this issue remains. but i enable both of pb_adv and pb_gatt, then nRF Mesh APP can display my device, provionsoning successful.
In my opinion, is APP not support pb_adv only or not?

[2022-07-01 08:23] #514 closed

[2022-07-01 08:24] chinli commented on #514
Got it~~

[2022-07-01 12:02] #523 closed

[2022-07-02 17:08] Brew317 opened #525 "Revisit to closed Issue #518"
---

Issue 518 has all the information.
and I will bring this up directly with Nordic as was suggested when 518 was closed
but I have new information that might allow you to duplicate the problem
When I reported the problem of nr Mesh only remembering that last node it provisioned I was using nr5340DK eval boards, or a mix of nr5340DK and nr52840DK eval boards.

Now I am only using nr52840DK board

[2022-07-03 06:54] roshanrajaratnam commented on #525
Hi thanks for reporting this issue. Seems like it's related to the firmwares or the build)build configurations itself. I would recommend creating a ticket on devzone as this is not directly related to he mesh library. The tech support should be able to help on this.

[2022-07-03 14:06] #525 closed

[2022-07-05 06:50] tushar-patil-android opened #526 "Multiple node provisioning at the same time."
**As per our current implementation we can add only one node at a time**
Currently user can provision only one device at a time, this solution seems good if we have limited devices to provision. But it got hectic if we have many devices to provision.

**Do we have have upcoming feature release for this?**
It will be good if we can provision multiple devices on the same time in same network.

[2022-07-05 18:05] roshanrajaratnam commented on #526
Hi, yes as of now the library supports adding one node at a time. One of the reasons is that when provisioning you might have to enter use input/output authentication methods to authenticate. When provisioning multiple nodes this would make it even more complicated process for the user. Therefore we don't see us adding this feature.

[2022-07-05 18:05] #526 closed

[2022-07-06 09:49] FluffyBunniesTasteTheBest commented on #506
@roshanrajaratnam Please excuse the delay, it's been a busy time...

There are a lot of `BlockAcknowledgementMessage: Block ack value: 7f` messages logged, but all of them showing values greater than zero.

Although the vendor messages reply a lot of data (up to 30 and 100 bytes), the firmware processes them as fast as possible (it just copies the data into a send buffer that's passed to `access_m

[2022-07-22 11:40] daretobeorjan opened #527 "TimeZoneOffset encoding"
The current encoding of the time zone offset is implemented as "hours(double) * 4 + 64". Is this really correct? I see no information in the mesh specification that the offset should be offset from zero, it specifically say "positive numbers are eastwards" implying that negative values exist.

One positive hour offset is today encoded to 68 and one negative hour to 60. Shouldn't it be 4 and -4 (25

[2022-07-22 11:51] daretobeorjan commented on #527
Addendum: Looking at bit closer, the offset is described for the "offset current" property in the mesh specification, but not in the "offset new" section that I was looking it. I guess it is reasonably safe to assume that both are supposed to be used with an offset.

[2022-07-22 11:51] #527 closed

[2022-08-02 03:05] tea000001 opened #528 "Bluetooth mesh terminate before sending app key - Error: (0x13): GATT CONN TERMINATE PEER USER"
---

**Describe the bug**
I want to mesh a device, but it's not successed, I read the log and I think this is happend after provisioning complete and before sending app key,
i'm not sure the reason is releated **IV index: 00000000** or  **Key index: 0000**,

if everyone know what happen about that, please tell me or share the experience,
thanks.

**To Reproduce**
Steps to reproduce the behavior:
M

[2022-08-06 16:29] pmjagtap opened #529 "Provisioner sequence no incorrectly set upon visiting current provisioner"
---

**Describe the bug**
Upon updating provisioner, the sequence number of provisioner is set to lower than current. This causes further mesh communication failure while interacting with provisioned node.

**To Reproduce**
Steps to reproduce the behavior:
1. Put break point in public final void setSequenceNumber(final int sequenceNumber) located in ProvisionedMeshNode.java
2. Put break point in p

[2022-08-08 07:49] roshanrajaratnam commented on #529
Hi thanks for reporting this issue, could you kindly elaborate the scenario here so I could try to reproduce and test on my network.

[2022-08-09 15:43] pmjagtap commented on #529
Hi Roshan,

I'm not sure if this is reproducable on latest release.

Least on V2.1.4 library, I think variable "sequenceNumbers[ ]" does not have latest sequence no of the provisioner so it sets to last known(which is lower than current) after visit to current provisioner dialog on app.

Basically after returning "Current Provisioner" dialog (which calls updateProvisioner( )) parovisioner is not a

[2022-08-10 08:21] roshanrajaratnam commented on #529
ok, this could have been fixed in the later versions.

I would really recommend upgrading to the latest library as there have been a number of bug fixes and improvements and also  implements OOB provisioning as required by the mesh profile specification.

[2022-08-10 08:22] roshanrajaratnam commented on #528
Hi never seen this happening. Seems like the firmware dropping the connection here. Are you using our examples or is this happening on your own firmware?

[2022-08-10 21:40] pmjagtap commented on #529
Hi,

I'm afraid issue mentioned above still exist on nRF Mesh app V 3.2.4

To Reproduce on App v 3.2.4
1.	Install nRF Mesh app from play store (V 3.2.4)
2.	Provision a mesh node
3.	To increase provisioner’s sequence no, connect to provisioned node and read its proxy state then disconnect from node
4.	Go to Settings > Provisioners > nRF Mesh Provisioner > Once on “Edit Provisioner” dialog then pres

[2022-08-11 02:58] tea000001 commented on #528
Hi,

1. I use your examples code (Android-nRF-Mesh-Library), but it's old version, the version is 2 or 3 yeaes ago, i'm not sure.
 2. It's not only happaning on our own device.

[2022-08-11 07:43] roshanrajaratnam commented on #529
Hi thanks for reporting this, I will reopn the issue and look in to it as soon as possible.

[2022-08-12 01:35] tea000001 commented on #528
update:

I found the problem is in

private void sendConfigMeshMessage(final int src, final int dst, @NonNull final ConfigMessage configurationMessage){
final ProvisionedMeshNode node = mInternalTransportCallbacks.getProvisionedNode(dst);
..
..
}
(BaseMeshMessageHandler.java)

node is null, so it can't send the configAppKeyAddState

[2022-08-22 06:58] #528 closed

[2022-08-26 08:37] ZacharyTech commented on #344
It's been two years

[2022-09-07 14:31] JulesDommartin opened #531 "GenericBatteryGet and GenericBatteryStatus"
**Is your feature request related to a problem? Please describe.**
In my project, I would like to get the battery level of my device over mesh. It would be very nice if we could send a GenericBatteryGet message and get the status.

**Describe the solution you'd like**
Would it be possible to implement it ? I tried to extend in Java some classes but I could not because of the library restrictions.

[2022-09-19 14:49] Timmy5818 opened #532 "Automatically connects to Mesh"
Hello, I am new to Android development. I want to make a system that automatically connects to Mesh. How do I implement it?

Or can clearly explain the current code, because the file part is too complicated, I don't know where to start.

I would like to automate the input of the user pick, the Net Key, App Key, Groups and publication settings selected in the code section.

[2022-09-20 07:29] roshanrajaratnam commented on #532
Hi, Let me answer you last question first.

I would recommend you to prompt the user to select the configuration, i.e. which network key, app key, subscription and publication settings first and start provisioning and apply the selected configuration after.

When connecting to a mesh network you need to scan with the Mesh Proxy service uuid and check for the network id that is advertised by the me

[2022-09-20 08:12] Timmy5818 commented on #532
Hello, I have imported the original project into our project using the Library method. I would like to ask if you want to refer to the API description?
Because we don't know how to use the API on our side

[2022-09-20 09:47] JulesDommartin commented on #531
Any update on this ?

I saw that the GenericBatteryGet is implemented in the iOS project. I can retrieve battery level on iOS but not on Android.

[2022-09-20 11:32] roshanrajaratnam commented on #531
Hi, I haven't had time to look in to this. If you are looking in to implementing this yourself you could simple add the support to the library and send us a pull request. You could follow the same way as it is implemented for a GenericOnOffGet.

[2022-09-25 15:28] #531 closed

[2022-09-27 11:57] cjagdish opened #534 "Unknown Access PDU Received"
# Problem
I am using vendor model in my node. I have subscribed vendor model with a group. When I send a read request to node then i can receive reply from node in callback. But when I try same with group address to fetch data of multiple nodes then I'm getting `Unknown Access PDU Received` message.

**Steps to Reproduce**
1. Provision multiple node having vendor model.
2. Subscribe all vendor mod

[2022-09-29 04:52] hipal31 commented on #534
@roshanrajaratnam Can you help with this?

[2022-09-29 05:00] roshanrajaratnam commented on #534
I'll look into this later today.

[2022-09-29 06:31] roshanrajaratnam commented on #534
So the issue could be that you are sending an acknowledged message to a group address. The mesh specification states that we should avoid sending acknowledged messages to a group address.

The reason behind you get the response to your message as an unknown message is that the library doesn't wait for a response for a message send to a group. This applies to Config and Generic messages as well.

[2022-09-29 06:41] cjagdish commented on #534
So what should be my next step?
Can you provide unknown message to callback?

[2022-09-29 06:53] roshanrajaratnam commented on #534
IMHO I would not send a read request to a group message. You should rather send your read requests to each individual device. The other option is that you could parse your message when the UnknownAccessPdu is called.

[2022-09-29 08:35] hipal31 commented on #534
@roshanrajaratnam Thank you for providing the information. We'll find another way to archive our goal.

[2022-09-29 08:35] #534 closed

[2022-09-29 08:45] roshanrajaratnam commented on #534
Happy to help!

[2022-10-03 08:23] daretobeorjan opened #535 "Remaining problems with LowerTransportLayer.sendBlockAck"
It seems the previous attempts to resolve this issue didn't completely help.

We've now seen multiple crashes when the `mUpperTransportLayerCallbacks.getNode` call returns null, causing an unhandled NPE when calling `incrementSequenceNumber`.

Unfortunately, I still can't really produce a small sample that reproduces the problem, I think our meshes are usually rather crowded with lots of messages

[2022-10-04 17:48] Hung6129 opened #536 "A problem occurred evaluating project ':nordic_nrf_mesh'."
I have a problem that when I run the application on flutter, it gives me this error in the terminal

FAILURE: Build failed with an exception.
* Where:
Build file 'C:\%user%\flutter\.pub-cache\hosted\pub.dartlang.org\nordic_nrf_mesh-0.12.0\android\build.gradle' line: 44
* What went wrong:
A problem occurred evaluating project ':nordic_nrf_mesh'.

* Try:

that line 44 is come from the nordic_nrf_mes

[2022-10-05 07:00] roshanrajaratnam commented on #536
@Hung6129 this seems to be a question best suited for stackoverflow as we cannot help support with flutter as of now.

[2022-10-05 07:00] #536 closed

[2022-10-05 07:06] roshanrajaratnam commented on #535
@daretobeorjan Currently I am on paternity leave but i'll try to help when I have some time.

I remember this edge case being reported some time ago. How is your network setup? Do you have more than one provisioner? if so are all provisioners aware of all the nodes in the network?

[2022-10-10 08:06] Fabbros opened #537 "Problem with IV index udpate"
Hi,
I did some test with IV index using nRF Mesh, here the steps:
1. provisioned 2 devices in a new mesh (device that have nordic SDK, IV test flag enabled)
2. from one devices, I triggered the IV index update from 0 to 1
3. after the finish of the IV procedure, I tried to interact with devices using nRF Mesh -> OK (get/set status, bind app key etc)
4. from the same device of point 2, I triggered

[2022-10-11 03:03] Shane555 opened #538 "nrf mesh android app unable to provision in android 13"
---

**Describe the bug**
I have been using nRF mesh app as my BLE Mesh Provisioner and it has been working smoothly without any hiccups, until i updated my phone version from Android 12 to 13. After updating to Android 13, i cannot provision new nodes. I can scan new nodes but when i tried provisioning, it just gets stuck at the provisioning and does not proceed.

Tried testing provisioning the s

[2022-10-11 05:45] #538 closed

[2022-10-11 12:28] philips77 commented on #537
Have you toggled the "IV Test Mode" switch in nRF Mesh in Settings?

[2022-10-12 07:00] daretobeorjan commented on #535
We do have multiple provisioners, most of the time. The most common trigger for us is having two phones online at the same time, when provisioning a new device on one phone, the other almost always crashes. But I have also reproduced this with only one phone and provisioner, so it is not strictly limited to that situation.

Well, yes, but the app crashing completely with no way to catch the except

[2022-10-17 12:08] Rawa opened #539 "ConfigCompositionDataStatus message destroys subscribe information"
---

**Describe the bug**
A ConfigCompositionDataStatus message will destroy subscribe information for a given node.

In our usecase we set up a mesh, with subscribe to groups etc. Then we use DFU directly through BLE, to ensure that the node is up to date we ask the node about it's composition data (to get updated VID). This seems to cause a all subscribes to be removed from the config even thoug

[2022-10-17 12:11] Rawa commented on #539
https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/2ef8d19b278ae311802924bb76fe50eb031423bd/mesh/src/main/java/no/nordicsemi/android/mesh/transport/ProvisionedMeshNode.java#L509

I believe this line could be the culprit, basically replacing the entries in the hashmap w/o taking into account what is already there

[2022-10-17 13:06] Rawa opened #540 "Crash while setting subscribe"
---

**Describe the bug**
Crash while doing a subscribe to a group on a node.

**To Reproduce**
I'm, not exactly sure how to reproduce. But seems like it happens after i loaded another mesh (or the same) into my meshManagerApi. Basically I call, importMeshNetworkJson, then when using a mesh and receiving back a configuration message I get this internal crash.

The message is successfully sent away

[2022-10-17 13:42] Rawa commented on #539
Tested it locally, confirmed that it is this line that will remove the subscribe information. It literally replaces all information already in the elements.

[2022-10-18 13:03] Rawa commented on #540
Believe this is an issue on my side and accidentally having two instances of MeshManagerApi, gonna look into a bit more to confirm this is not a issue for the library.

[2022-10-19 02:12] DM-Li-Lee opened #542 "How to control bluetooth mesh on other phones?"
I created network 1 on phone A and I want to control network 1 on phone B. Is there a way to share the data of mobile phone A to mobile phone B, so that mobile phone B can control network 1.

[2022-10-19 08:00] Fabbros commented on #537
Is there anyone who can help me?

[2022-10-19 11:19] philips77 commented on #537
Hi, sorry for late reply.
Do you have that issue on both Android and iOS?
Our apps are getting the IV index from Secure Network Beacons. Try disconnecting the phone after each IV update, do that the phone could get the current version. It should be sent over GATT, but perhaps it's not. But for sure it will be when you reconnect to a proxy node.

[2022-10-20 08:57] philips77 commented on #537
Let me be more clear here.

During an IV Update procedure, the Proxy Node should rely Secure Network Beacons with updated IV state to the phone. However, seems like that is not the case. As SNBs are sent over ADV bearer regularly, all the other nodes get the current IV Index state almost immediately, but the Proxy Node filters them out and only sends them on new connection and when IV changes. Cou

[2022-10-20 09:06] philips77 commented on #542
I transferred the issue here, as it's related to mesh, not BLE library.

If you want to control send data between 2 phones you need 2 other proxy nodes: one relaying packets to each phone:
[code]

[2022-10-20 09:14] philips77 commented on #542
Mind, that the current version of the Android library does not support Server models automatically, not even Config Server. You can implement it on your own by handling selected message types and replying with Statuses.

The iOS mesh library supports Config Server and Scene server models, and allows to define your own models, both server and client. We're working on bringing this functionality to

[2022-10-20 10:57] roshanrajaratnam commented on #542
Also if you just want to share the data between two phones you can export the mesh network and import it on phone B. Just create a new provisioner and you should be able to control without needing the config server support.

[2022-10-20 12:32] Fabbros commented on #537
Hi Philips,
I have the issue on both, Android and iOS.

Can you please explain how to check if the SNB is retransmitted?
BTW, after a reconnect, app still can't communicate with provisioned devices.

[2022-10-20 15:50] philips77 commented on #537
Steps to test:
1. On a new brown provision a node.
2. Enable IV Index Test Mode in both the phone and the node.
3. Make sure the phone is connected to the node.
4. Trigger IV Index update from the node to IV=0, mode=active.
5. A SNB should be received in the phone:
![image001](https://user-images.githubusercontent.com/6576580/196996348-63d6061f-f16f-4a22-adaf-61c1afb6bfa8.png)
6. You should be abo

[2022-10-21 07:45] #542 closed

[2022-10-24 07:14] Fabbros commented on #537
Hi Philips,
I ran your steps without being able to get info from the devices in the end.
IV index is 2 and in normal operation.
![image](https://user-images.githubusercontent.com/29914055/197468079-69336adf-c42d-4f1c-adc6-46e1c942c2ce.png)

I tried a reconnect:
![image](https://user-images.githubusercontent.com/29914055/197468354-4014e7c6-96f7-466f-a235-71bfb5eaf0b3.png)

[2022-10-24 08:40] Fabbros commented on #537
Can you tell me how to better filter log obtained with iOS Console?

On Android, from terminal, I used the following:
adb logcat --pid=$(adb shell pidof -s no.nordicsemi.android.nrfmeshprovisioner)

[2022-10-24 11:25] Rawa commented on #540
Going to close this issue, I believe it occured because we had an old instance still receiving some data and thus not managing state correctly.

[2022-10-24 11:25] #540 closed

[2022-10-24 11:27] philips77 commented on #537
IV index is 2 and in normal operation.

Again, so is it working, or not? What would you expect instead?

Looks like in both listings you're getting a valid SMB with IV = 2 (normal operation).

[2022-10-24 11:33] philips77 commented on #537
In the Console app you may filter by SUBSYSTEM: com.nordicsemi.nRFProvisioner

![image](https://user-images.githubusercontent.com/6576580/197516333-f735fb49-0ef4-4c13-8939-b719b8aad186.png)

[2022-10-24 11:36] philips77 commented on #537
Also, make sure you enable Info and Debug messages:
![image](https://user-images.githubusercontent.com/6576580/197516938-6823accc-8389-4e05-b49f-70c9fa34dcae.png)

[2022-11-08 05:36] ZubairAkber opened #543 "What are the ProGaurd rules for the library"
---

**ProGaurd Rules for Mesh library**
I am using mesh library and have progaurd enable, can any one please share the rules for it, because i am getting errors i progaurd is enable in my project

**To Reproduce**
Steps to reproduce the behavior:
1. enable progaurd
2. build and run the app

[2022-11-11 15:16] PavelVPV opened #544 "Crash in nRF Mesh app version 3.2.4"
---

**Describe the bug**
The app started suddenly crashing when trying to add new node. Neither force stop, nor data clear didn't work. Had to reboot the phone.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Press on `ADD NODE`
3. See error

**Expected behavior**
Usually, when pressing `ADD NODE`, you can see `CAN'T SEE YOUR NODE` text until devices start appearing. But whe

[2022-11-19 06:38] philips77 commented on #544
Thank you for your report. We will look into it.