[2018-06-09 20:17] kabbi opened #2 "Provisioning fails for mynewt-based device"
---

**Describe the bug**
Provisioning fails after `Sending public key` state.

**To Reproduce**
I'm using hardware mynewt-based mesh network node, on RedBear blenano2 (nrf52) device.
This same device is confirmed to work with SiliconLabs demo app.

1. Reset the device
2. Scan for devices in the app
3. Select the device and confirm provisioning
4. I see "Provisioning failed" message with the text

[2018-06-11 05:01] roshanrajaratnam commented on #2
@kabbi Thanks for reporting this issue, I will look in to this. About the message being displayed, there's definitely a typo involved there. Could you also confirm what type of OOB was used for this mesh node? And its great that you are taking the initiative to write something for desktop, it will be very useful for a lot of people out there.

[2018-06-13 06:16] roshanrajaratnam commented on #2
@kabbi Is there any chance I could get hold of the fw you are using for testing?

[2018-06-14 08:08] kabbi commented on #2
@roshanrajaratnam I'm using number-based OOB, my device outputs a number in the log that I'm to input into provisioning device.
I'm using mostly unmodified `blemesh` example app from [mynewt](https://mynewt.apache.org/latest/network/ble/ble_blemesh/) os. I can provide the binaries, but you will need their tool (`newt`) to upload them, as I don't think pure hex will be enough.

[2018-06-20 12:59] xaviergmrinq opened #6 "Error while building basic example"
---

**Random values.xml pops up and build fails**
When I build the project, it fails with the message:

Error is in line 1073 of this file. Tried many solutions given on the net and they don't work. Also opening of resources tag:
`<resources xmlns:ns1="urn:oasis:names:tc:xliff:document:1.2" xmlns:ns2="http://schemas.android.com/tools">`
The values of ns1= and ns2= values are red in colour i.e. er

[2018-06-21 05:30] roshanrajaratnam commented on #6
@xaviergmrinq sorry for any inconvenience caused. This is quite strange have you tried a clean build?

[2018-06-21 06:04] xaviergmrinq commented on #6
@roshanrajaratnam Yes I have tried a clean build

[2018-06-21 07:43] roshanrajaratnam commented on #6
@xaviergmrinq Have you cloned the project as is and built it or have you made any changes in the settings.gradle file? If not could you try one more thing by invalidating cache on Android Studio to see if its of any help?

[2018-06-21 10:59] kcjian opened #9 "Use Android switch light"
Hi,
I want to click a button on this app to switch lights.
Can you tell me how to use an Android application to switch lights, such as the iOS application nRF Mesh?
Or can you add this feature to the Android application nRF Mesh?
Thank you!

[2018-06-21 12:35] xaviergmrinq commented on #6
@roshanrajaratnam Thanks a lot for your help. I had actually changed the gradel keyword 'implementation' in your code to 'compile' because it was not supported for my 2.3.3 version of Android Studio. After seeing your comment it dawned on me that I should go and update my Android IDE. I updated my version to 3.1.3. Changed back the gradel keywords to 'implementation' and it worked.

[2018-06-21 12:35] #6 closed

[2018-06-21 13:51] xaviergmrinq commented on #9
I had a similar doubt but it's more specific and not general. But I decided against creating a separate issue and I'm appending my query here.
@roshanrajaratnam I would like to take forward what @kcjian is trying to say in more technical terms (and @kcjian comment if what I'm asking for doesn't match with what you want).

@roshanrajaratnam Correct me if I go wrong on this.
I was going through the

[2018-06-21 14:48] roshanrajaratnam commented on #9
@kcjian I have implemented controlling generic light server model which is to turn on lights using tthe application. This feature is not pushed to play store yet but it will be by tomorrow. If you clone the latest [dev branch](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/tree/dev) you should be able to try this feature. Let me know how it goes.

@xaviergmrinq I would be really g

[2018-06-22 04:13] xaviergmrinq opened #10 "Sending data PDU byte array to the mesh through GUI on app"
@roshanrajaratnam Correct me if I go wrong on this.
I was going through the code and trying to figure out how to put data into the Proxy node i.e. PDU.
3 of the files caught my interest:

1. `meshprovisioner/MeshManagerApi.java`                     (as in meshprovisioner module)
2. `nrfmeshprovisioner/ble/BleMeshManager.java`           (as in meshprovisioner module)
3. `ble/BleManager.java`

[2018-06-22 04:54] xaviergmrinq commented on #9
In which activity of Dev branch is this controlling part there? It would be even better if you tell me the part of the code which does it.

[2018-06-22 05:32] roshanrajaratnam commented on #9
@xaviergmrinq ModelConfigurationActivity contains the controls to turn on/off light with a Generic OnOff Set Unacknowledged message. Please feel free to close the issue if this helps.

[2018-06-22 06:52] roshanrajaratnam commented on #10
@xaviergmrinq adding to the points you made above

1. MeshManagerApi is the public api for the mesh provisioner module.
2. BleMeshManager extends the BleManager, this way we can override certain methods from the BleManager to use in our BleManager. So you are correct that point 2,3 are related to ble gatt level stuff.

If you have used our nRF Toolbox examples before you may see the same design wh

[2018-06-22 08:13] kcjian commented on #9
@roshanrajaratnam   I find it,thanks for your help。And do you know where there is detailed documentation about the process of generating pdu, because we don't just want to turn on the lights，but just looking at the code is hard to understand.

[2018-06-22 08:13] #9 closed

[2018-06-22 11:37] xaviergmrinq commented on #9
@kcjian is right. I too want to send raw byte PDUs. Instead of `MeshManagerApi.setGenericOnOff()`.
`MeshManagerApi.sendPdu(BaseMeshNode meshNode, byte[] pdu);` looks correct to me. But what is BaseMeshNode? what should I enter here while calling `sendPdu()` function? Is it a byte, Hex, Int .etc.?

Or is it that I can use `instanceBleMeshManager.sendPdu(byte[] pdu)` instead of it.

[2018-06-22 11:46] xaviergmrinq commented on #10
Carrying forward from @kcjian 's thread because I felt that it being closed @roshanrajaratnam may overlook it.
I too want to send raw byte PDUs. How to send it with or without source, destination address, you tell me how to do it.
Instead of `MeshManagerApi.setGenericOnOff()`. `MeshManagerApi.sendPdu(BaseMeshNode meshNode, byte[] pdu);` looks correct to me. But what is BaseMeshNode? what should I

[2018-06-22 12:14] kcjian commented on #9
@xaviergmrinq

 hi，

1. I think you can look this [https://mp.weixin.qq.com/s?__biz=MzA4MTg3MTg2Mg==&mid=2651236886&idx=2&sn=12a439d75fffd15d2e837ec339e5cbb2&chksm=847c5c8fb30bd5996515ce0f35f85645c2e1952b3d519a8a51c0788009ce1ceee8892f92c5ab&scene=21#wechat_redirect](url) to understand the basic concepts.

2. sendPdu() need a byte array

3. The result of MeshManagerApi.sendPdu() is using BleMeshMan

[2018-06-22 12:20] xaviergmrinq commented on #9
Hi @kcjian ,
The link you shared in point 1 doesn't work.

[2018-06-25 11:07] roshanrajaratnam commented on #2
Hi @kabbi, the latest version on the device branch has the fix related to provisioning failure. This was due to a bug in parsing output action values.

[2018-06-25 11:07] #2 closed

[2018-06-26 05:17] xaviergmrinq commented on #10
Ok, @roshanrajaratnam or @kcjian . I need something that I can call on the press of a button in an activity. I need some documentation on how to send data from my UI activity and receive data from the mesh in the UI activity. I don't know what BaseMeshNode is and how to initialix\ze it in my activity. Please point me to some good documentation to send such PDUs from my UI activity.

[2018-06-26 05:43] roshanrajaratnam commented on #10
@xaviergmrinq what are you trying to achieve? What do you want to send as raw bytes, is it a particular mesh pdu? If you look at the MeshService.java you will see that you can call mBleMeshManager.sendPdu(bytearray) and send whatever data you want. You cannot initialize BaseMeshNode since its an abstract class. I'm not entirely sure how you're app's design is so you will have to create your own me

[2018-06-26 16:01] michal-narajowski opened #17 "Sensor Client Model"
**Describe the solution you'd like**
I want to be able to access sensor data by sending commands to Sensor Server Model on another Mesh device. Things like reading Sensor descriptors, reading sensor values, etc.

[2018-06-26 21:39] kabbi commented on #2
Works perfectly, thank you!

[2018-06-28 12:50] michal-narajowski opened #18 "Configuration Server controls"
**Describe the solution you'd like**
I want to be able to control Configuration Server settings of a Mesh node from the app.

[2018-06-28 12:51] michal-narajowski opened #19 "Generic Level Server controls"
**Describe the solution you'd like**
I want to be able to control Generic Level Server model of a Mesh node from the app.

[2018-06-28 12:57] POHakansson commented on #18
I too would like to be able to control TTL and relay status from the app :+1:

[2018-07-02 10:59] xaviergmrinq commented on #10
Hi, @roshanrajaratnam I wanted to try out a code where I have my own activity and I can jump to your MainActivity.java based on a button click. But, When I do so I get an exception saying that there is no Injector factory bound with the class. I did a search online and mostly got resources on Dagger but I guess this project used ButterKnife. I'm new to Bind, Injector and ButterKnife and don't know

[2018-07-03 05:16] xaviergmrinq commented on #10
Hi, @roshanrajaratnam I wanted to try out a code where I have my own activity and I can jump to your MainActivity.java based on a button click. But, When I do so I get an exception saying that there is no Injector factory bound with the class. I did a search online and mostly got resources on Dagger but I guess this project used ButterKnife. I'm new to Bind, Injector and ButterKnife and don't know

[2018-07-03 12:05] kcjian opened #20 "Provisioning the second Thingy will failed"
---

**Describe the bug**
Provisioning the second Thingy will failed，happen to Example/nrf-mesh 1.0

**To Reproduce**
Steps to reproduce the behavior:
1. Provisioning a Thingy,Succeed
2. Provisioning the second Thingy , Failed always

[2018-07-04 06:09] xaviergmrinq commented on #10
@roshanrajaratnam Also, [](https://devzone.nordicsemi.com/members/edvin-holmseth) told me that you are already looking into it.
Have a look at my problem in detail below:
[](https://devzone.nordicsemi.com/f/nordic-q-a/36029/unable-to-call-the-mainactivity-of-android-nrf-mesh-library-from-my-activity-in-android-for-my-version-of-nrf-mesh-provisioner-app)

[2018-07-11 12:23] vanbako opened #21 "Example mesh firmware for nRF52840"
Hello,

Can you add example mesh firmware for nRF52840?

Thanks

[2018-07-11 12:31] roshanrajaratnam commented on #20
Hi, sorry for the inconvenience, I just noticed this issue and I'll look in to it soon. what's  the fw you have used on the Thingy? Any chance you could provide it, if its a custom fw?

[2018-07-11 12:35] roshanrajaratnam commented on #21
Hi, you may find this in the latest mesh sdk release [2.1.1](https://www.nordicsemi.com/eng/nordic/Products/nRF52832/nRF5-SDK-for-Mesh/62721) in the bin\merged\ospace\examples since the 2.1.0 did not have the pre-built hex files.

[2018-07-11 12:35] #21 closed

[2018-07-19 08:55] roshanrajaratnam commented on #20
@kcjian any updates on this issue? Was there some kind of an error that was thrown while provisioning the second thingy? What fw did you use for this? If its a custom fw any chance you could share it with me?

[2018-07-24 09:14] kcjian commented on #20
Thank you for your reply, I thought i solved this problem by modifying the file MeshService.java
![2018-07-24 4 41 44](https://user-images.githubusercontent.com/15611112/43128608-fa67897c-8f64-11e8-98a1-d64800bbb3c3.png)

[2018-07-24 09:14] #20 closed

[2018-07-24 09:39] roshanrajaratnam commented on #20
Great thanks!

[2018-07-25 01:47] kcjian opened #25 "Vendor Model"
We hope to add a Vendor Model to config beacon,We consulted the GenericOnOffModel and made some necessary changes，implemented BeaconGet, BeaconSet,BeaconStatus；
we can receive BeaconStatus when i get Beacon Data,No matter how long the data is.
we can receive BeaconStatus when I send a short data to set beacon ,that valid data about 6 bytes ,example beacon major.
But we can not receive any data whe

[2018-07-25 02:38] kcjian commented on #25
Additional information , App can receive long bytes data but can not send ,It seems that  the data is discarded by the hardware  because of the length

[2018-07-25 03:41] kcjian commented on #25
oh,It looks like I've solved it, Do a little change in the library  [LowerTransportLayer.java](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/master/android-nrf-mesh-library/meshprovisioner/src/main/java/no/nordicsemi/android/meshprovisioner/transport/LowerTransportLayer.java)，Can you help me see it，thanks！
![2018-07-25 11 30 04](https://user-images.githubusercontent.com/1561

[2018-07-25 06:20] roshanrajaratnam commented on #25
@kcjian This is a bit strange that this is not working for you. This should work out of the box in my opinion. If you notice the AppKeyAdd message which is a segmented access message containing exactly 20 bytes and the best way for you to test is by adding an app key to you vendor model.

This change does not look right to me since you are assigning your length only if your segO is at a particular

[2018-07-25 07:42] kcjian commented on #25
@roshanrajaratnam  Yes,if the message only has 1 segments ,the code won't go here,even if code go here ,this "length" not important. I just want they are work when the message has 2 segments or more.The test found the same as I thought, included adding an app key to vendor model.

[2018-07-25 07:51] kcjian commented on #25
My change is because I found when the message has 3 segments and when the seg0=1,the "length" is bigger than “MAX_SEGMENTED_ACCESS_PAYLOAD_LENGTH”.

[2018-07-25 08:04] roshanrajaratnam commented on #25
@kcjian I'm not sure I understand you correctly here. Did app key add work for you without the changes you made on LowerTransportLayer? It should work for you because I have tested that and it seemed to be working fine.

I will test with some garbage values more than 20 bytes to create more than 2 segments to see how it behaves. I'll get back to you on this.

[2018-07-27 10:15] roshanrajaratnam commented on #25
@kcjian thanks for reporting this issue, you were correct about the segmentation not working properly when the number of segments increased more than 2. The fix was to calculate the length of the segmented payload length (excluding the header) dynamically. I will close this issue since I have tested this internally and seemed to be working fine. Let me know if this works for you.

[2018-07-27 10:15] #25 closed

[2018-07-31 01:51] kcjian opened #30 "Mesh DFU"
Hi，Do you have a plan to upgrade the mesh network ? Like the
[Android-DFU-Library](https://github.com/NordicSemiconductor/Android-DFU-Library)

[2018-08-06 05:09] roshanrajaratnam commented on #30
@kcjian Hi this is something we will be looking in to pretty soon.

[2018-08-06 12:11] roshanrajaratnam opened #31 "Add GenericLevel model"
As a user, I want to be able to send GenericLevel related messages so that I can test GenericLevel features on my hardware.

[2018-08-06 12:13] roshanrajaratnam opened #32 "Implement Server Configuration"
As a power user, I want to be able to enable or disable the relay and proxy services on a node so that I have granular control over how the nodes behave.

[2018-08-06 12:14] roshanrajaratnam opened #33 "Implement Identify for provisioned nodes"
As a user, I want to be able to identify nodes using nRF Mesh so that I can know where the models and elements are physically located and ease the process of configuring nodes.

[2018-08-06 12:15] roshanrajaratnam opened #34 "Implement GenericOnOff client and server models on the Provisioner"
As a power user, I want to be able to configure my phone to support mesh messages and behave as a virtual light and/or light switch so that I can test the mesh features even if I do not have the hardware and be able to control nodes within the specification.

[2018-08-06 12:20] roshanrajaratnam opened #35 "Implement retransmission on incoming block acknowledgements"
As a user, I want the library to resend segments that haven't been acknowledged
by the destination node so that I have a fully functional and stable network.

[2018-08-06 12:21] roshanrajaratnam opened #36 "Implement network Import and Export features following Bluetooth Spec"
As a power user, I want to be able to export my entire mesh database in json format that respects the bluetooth database spec so that I can easily migrate my network between mesh compliant apps and avoid losing my network's configuration.

[2018-08-06 12:22] roshanrajaratnam opened #37 "Implement publication parameters configuration"
As a power user, I want to be able to configure all the publication parameter so that I get granular control over how the mesh node behaves according to my needs.

[2018-08-06 12:24] roshanrajaratnam opened #38 "Implement a way to clear the publication address"
There is currently no way to delete a publication address, a method to clear the publication address as is done with subscription addresses

[2018-08-06 12:29] roshanrajaratnam opened #39 "Identify node before provisioning"
As _a user_  it would be nice to identify the node before starting provisioning process as there could be multiple un-provisioned nodes.

[2018-08-06 12:36] roshanrajaratnam opened #40 "Add ability to remove non-connected/non-configured nodes"
if a node is provisioned but due to edge cases, is not configurable, we cannot reconnect to the node or relay messages, causing it to be only removed by resetting the whole network, this was by design due to the fact that the node will still have the network key, etc..
a better approach would be allowing a specific node to be "force deleted" with a user warning about security complications.

One o

[2018-08-06 12:38] roshanrajaratnam opened #41 "Implement grouping using friendly names"
As a user, I want to be able to CRUD groups from the settings so that I do not have to input addresses into the node configuration view and improve my experience.

[2018-08-22 07:44] luoqii opened #43 "NullPointerException"
08-22 15:31:10.601 10887-10887/no.nordicsemi.android.nrfmeshprovisioner V/ScannerFragment: scan started
08-22 15:31:10.608 10887-10887/no.nordicsemi.android.nrfmeshprovisioner D/BluetoothAdapter: isLeEnabled(): ON
08-22 15:31:10.613 10887-22242/no.nordicsemi.android.nrfmeshprovisioner D/BluetoothLeScanner: onScannerRegistered() - status=0 scannerId=7 mScannerId=0
08-22 15:31:10.649 10887-10901/no.

[2018-08-22 08:01] luoqii commented on #43
device service list is incorrect.

[2018-08-22 08:01] #43 closed

[2018-09-04 09:49] roshanrajaratnam opened #48 "Add generic api support for Vendor Models"
Support adding a generic vendor model api so that users are able to type in the message that needs to be sent to a vendor model

[2018-09-10 05:32] roshanrajaratnam opened #51 "Handle connectivity status across the configuration UI"
As of now the user is not notified if the device disconnected when the user is configuring a node. It would be nice to notify the user of a possible disconnection

[2018-09-10 09:34] roshanrajaratnam opened #52 "transport level segmented message reassembly failure for vendor model messages"
Due to wrong state handling the vendor model message reassembly is failing.

[2018-09-13 11:01] roshanrajaratnam opened #56 "Implement GenericOnOffSet transition/delay"
Enable transition and delay on the app side

[2018-09-18 05:59] #35 closed

[2018-09-18 05:59] #37 closed

[2018-09-18 05:59] #48 closed

[2018-09-18 05:59] #56 closed

[2018-09-18 06:00] #51 closed

[2018-09-18 06:00] #52 closed

[2018-09-18 06:00] #39 closed

[2018-09-18 06:01] roshanrajaratnam commented on #38
Fixed in #37

[2018-09-18 06:01] #38 closed

[2018-09-18 06:05] roshanrajaratnam commented on #33
Fixed #39

[2018-09-18 06:09] roshanrajaratnam commented on #33
duplicate of issue #39

[2018-09-18 06:09] #33 closed

[2018-09-18 08:31] roshanrajaratnam opened #61 "Select mesh node based on src address"
Currently the app disregards the src of the messages and assumes that its the same node as the user is already communicating with. This may lead to wrong node being updated when receiving messages.

[2018-09-18 12:39] roshanrajaratnam commented on #18
Duplicate of #32

[2018-09-18 12:39] #18 closed

[2018-09-20 16:20] DomiR opened #65 "We would like to provision multiple networks"
**Is your feature request related to a problem? Please describe.**
The newest version of this library saves the provisioning settings to SharedPreferences, but should probably be passed to the MeshApi in some way.

**Describe the solution you'd like**
Pass the networkkey and application keys to the api like in the previous version, which would allow to manage multiple networks.

What's the strateg

[2018-09-21 07:09] roshanrajaratnam opened #66 "App crashing when sending unacknowledged vendor model messages"

[2018-09-21 08:48] #66 closed

[2018-09-21 08:54] DomiR commented on #65
@roshanrajaratnam thank you very much for your clarifications. We would like to offer support for multiple networks in our app and would appreciate a solution for this as well.

In the previous version we were able to

I would like to propose more

[2018-09-21 13:50] roshanrajaratnam commented on #65
@DomiR I just seen your edited comment, thanks for the suggestions. I will take a look in to this as I get time.

[2018-09-27 08:03] #31 closed

[2018-09-28 05:55] roshanrajaratnam opened #72 "Add support for sending real time Generic Level values"
As a user/developer this would allow setting real time values to a generic level mode.

[2018-09-28 06:34] roshanrajaratnam opened #73 "add a builder class for creating mesh messages"
Adding a message builder class will allow a better separation of logic within a mesh messages and mesh message states

[2018-10-09 06:24] pavan-hr opened #74 "control each lights individually through application"
I'm using nRF52 DK, mesh SDK version 2.2.0

I want give demo of the Light-Switch example application by forming network through mobile. I found that through mobile application switch, we cannot control the lights. Is there any mobile application apart from nRF Mesh (android/IOS). And yeah through switch device I can on/off the lights but not through mobile application.

My requirement is:

1. Cont

[2018-10-10 14:04] DomiR opened #75 "Handle multiple generic onoff server models with different elements on same device"
**Is your feature request related to a problem? Please describe.**
We have devices with multiple elements, that all support genericOnOffServer. Sending acknowledged messages return status messages, but it is not clear, which element sent which message. Currently the callbacks for onGenericOnOffStatusReceived won't allow to determine from which element these messages came from.

`public void onGene

[2018-10-11 05:42] roshanrajaratnam commented on #74
Hi @pavan-hr you need to go in to the GenericOnOffServerModel in the particular model and turn on the lights and this should work for you. Make sure you bind an app key to the model before you try to turn on/off.

PS. Please report these issues on [devzone](https://devzone.nordicsemi.com/) and you're guranteed to get a faster answer there.

[2018-10-11 05:42] #74 closed

[2018-10-11 05:45] roshanrajaratnam commented on #75
@DomiR Yes this was something missing in the library and is being worked on as we speak. This issue will be fixed once I'm done implementing #73. The plan is that I should have it ready by next week.

[2018-10-11 11:01] pavan-hr commented on #74
Hi Roshan,
I have already reported there. but they referred to github.
https://devzone.nordicsemi.com/f/nordic-q-a/39262/nordic-mesh2-2-0-implementing-through-mobile-application

I have bind the application key to the model. But my concern is if a switch is publishing at lets say C001 publishing address, if 3 lights subscribe to the same C001.  Now, if you go to light 1 and try to on/off other 2 l

[2018-10-11 11:05] pavan-hr opened #76 "control each lights individually through application"
I'm using nRF52 DK, mesh SDK version 2.2.0

I want give demo of the Light-Switch example application by forming network through mobile. I found that through mobile application switch, we cannot control the lights. Is there any mobile application apart from nRF Mesh (android/IOS). And yeah through switch device I can on/off the lights but not through mobile application.
I have bind the application

[2018-10-11 11:19] DomiR commented on #75
Hey @roshanrajaratnam, thank you for your reply. I saw that you are restructuring callbacks. Adding access to the message or the src of the message would be nice. If I can help, let me know 👍

[2018-10-11 12:01] roshanrajaratnam commented on #76
Hi @pavan-hr, please do not create duplicate issues just to get an answer. This will only create confusion among other users and us.. Thanks for understanding!

[2018-10-11 12:01] #76 closed

[2018-10-11 12:05] roshanrajaratnam commented on #74
@pavan-hr I see the problem you have faced. One thing we could do is not to publish the message to the whole group at all and just send it only to that particular bulb.  As of now we don't think we will be implementing this feature any soon as there are some more important issues in our backlog, but its something we can add to our backlog.

[2018-10-16 05:45] roshanrajaratnam opened #77 "Add ability to send vendor model messages to group addresses"
Currently the app only sends vendor model messages to only unicast addresses. If an acknowledged message is to be sent, the app should only send to the unicast address, otherwise send it to the group address if the model has subscribed to one.

[2018-10-23 08:14] WangManAndroid opened #78 "ConfigRelaySet"
how to defin ConfigRelaySet profile ?

[2018-10-23 09:03] #78 closed

[2018-10-23 09:13] 3bu1 opened #79 "nrf mesh app not connecting after provisioning"
---

**Bug description**
Hi, I am trying to use nrf mesh android app to switch on light, I am facing issue some times during reconnect after provisioning. My observation is after provisioning if i disconnect and try to connect again, device is not connecting at one shot, instead app gives me below issue

1. It just says connecting, nothing happens... as shown in this [screenshot](https://user-imag

[2018-10-23 13:09] roshanrajaratnam commented on #75
@DomiR Sorry for the delay on thsi and I have been away from work for a few days.

I have made a quite a lot of changes to the internals of the library. I also tried to keep the breaking changes to a minimum on the API. Some feedback would be really appreciated, on [this](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/tree/improvements/fix-repository) branch. As an example getting

[2018-10-24 04:51] 3bu1 commented on #79
@roshanrajaratnam my android version is 6.0, below are the hex files i am using.

[2018-10-25 04:28] WangManAndroid opened #81 "ConfigRelaySet"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-10-25 05:48] roshanrajaratnam commented on #81
@WangManAndroid Thanks for sending this feature request, but don't close after openning one unless you don't want it ;) I'll re-open it again. Duplicate of #32

[2018-10-25 07:49] WangManAndroid commented on #81
hao to make a file for ConfigRelaySet  function?

[2018-10-25 23:34] DomiR commented on #75
Wow, this was a lot of work, thank you very much for this huge effort. I've been checking out the new structure and the new api feels much cleaner as one only needs to implement one callback and handle just the necessary cases. I have a bit of rewriting to do to test this in our app, but from what I can tell these are much welcomed improvements.

[2018-10-26 05:09] roshanrajaratnam commented on #75
@DomiR Thanks for the feedback. Some of these changes were much needed and had to be addressed at some point. Sooner the better I suppose. Anyways hope there's not too many breaking changes.

[2018-10-26 07:30] roshanrajaratnam opened #84 "Fix default ttl for publication set"
Invalid ttl value is been set as a publishTTL parameter. The feedback provided to the user here is a bit unclear.

[2018-10-30 08:17] 3bu1 commented on #79
@roshanrajaratnam any update regarding above issue?

[2018-10-30 08:47] roshanrajaratnam commented on #79
This issue is fixed internally so far. Unfortunately I currently don't have the same device as yours to reproduce this though. This will bug fix will be out in the next app release.

[2018-10-30 08:48] 3bu1 commented on #79
@roshanrajaratnam that's great. Thanks for help, will be in touch for app improvements.

[2018-10-30 10:40] kcjian commented on #81
`package no.nordicsemi.android.meshprovisioner.configuration;

import android.content.Context;
import android.util.Log;

import no.nordicsemi.android.meshprovisioner.InternalTransportCallbacks;
import no.nordicsemi.android.meshprovisioner.MeshConfigurationStatusCallbacks;
import no.nordicsemi.android.meshprovisioner.messages.AccessMessage;
import no.nordicsemi.android.meshprovisioner.messages.Cont

[2018-10-30 12:39] roshanrajaratnam commented on #81
@kcjian Thanks for this :+1:

 I would really appreciate if you could send this as pull request. This way I can make release it as a part of the library.
Thanks again!

[2018-10-31 05:31] 3bu1 commented on #79
I am using standard NRF52 board, and when will the next update going to be live? Is there any way i can get the changes (may be in a separate branch) before the release, so that i can also do a round of testing.

[2018-10-31 06:06] roshanrajaratnam commented on #79
@3bu1 you may clone the dev branch and give it a go

[2018-10-31 10:05] 3bu1 commented on #79
@roshanrajaratnam i have cloned dev branch and tested, i see issue is still there. Is the code merged with Dev branch ?

[2018-11-06 11:12] WangManAndroid opened #94 "the bug of MeshModel"
---

`   protected MeshModel(final Parcel in) {

        final int modelId = in.readInt();
        if (modelId < Short.MIN_VALUE || modelId > Short.MAX_VALUE) {
            mModelId = modelId;
        } else {
            mModelId = (short) modelId;
        }
        in.readList(mBoundAppKeyIndexes, Integer.class.getClassLoader());
        sortAppKeys(in.readHashMap(String.class.getClassLoader()))

[2018-11-06 11:13] WangManAndroid commented on #94
maby  you forget add it   >>  publishRetransmitCount=in.readInt();

[2018-11-06 11:37] roshanrajaratnam commented on #94
@WangManAndroid Currently this has been moved in to a seperate class called PublicationSettings

[2018-11-06 11:37] #94 closed

[2018-11-08 17:34] misl6 opened #95 "Library usage example + clean methods."
**Is your feature request related to a problem? Please describe.**
As a dev, It's still a nightmare trying to get the library working in my custom app. (non-native)

**Describe the solution you'd like**
- Usage README. The provided snippet is useless.

**Describe alternatives you've considered**

**Additional context**

[2018-11-09 06:47] roshanrajaratnam commented on #95
@misl6 Sorry about this, the library is still not ready for production and we are continuously trying to improve this library. You can find the example app as reference.

[2018-11-09 06:47] #95 closed

[2018-11-12 11:01] shengMR opened #96 "Tid"
Hello, ask, I want to know where to modify the value of tid, because the value of tid is the same when sending data, but I can not find the attribute tid

[2018-11-12 11:46] roshanrajaratnam commented on #96
Hi, @shengMR as of now i'm using the sequence number as the TID, since its unique for every message. Hope this helps

[2018-11-12 11:46] #96 closed

[2018-11-12 12:15] shengMR commented on #96
Well, understand, but why do I call the Api without return, it takes 6 seconds to send the next data? Can I have any way to change this phenomenon?

[2018-11-13 00:48] shengMR commented on #96
Excuse me, I still want to ask a question, that is, the data tid that I send through setGenericOnOffUnacknowledged will not change, but the data tid sent by setGenericOnOff will change.

[2018-11-13 06:36] roshanrajaratnam commented on #96
Hi both messages use the sequence number of that particular message, so it is unique. From what I see in the source they are unique, but I'll look in to this. Have you made any changes in there?

[2018-11-13 07:19] AISkynet commented on #96
Hi, can you use the App to send the setGenericOnOffUnacknowledged cmd to control the led fluency from nrf52 development kit which flashed hex from the nrf5_SDK_for_Mesh_v2.2.0 -> light_switch -> proxy_server? I found out the tid is always the same one by the embedded IDE debug window.

[2018-11-13 09:55] shengMR commented on #96
Thank you, I found the SN, thank you for your help.

[2018-11-13 09:56] shengMR commented on #96
@roshanrajaratnam Thank you, I found the SN, thank you for your help.

[2018-11-13 13:05] roshanrajaratnam commented on #96
@shengMR sorry I just saw this. Hope everything is working as expected!

[2018-11-16 16:37] DomiR commented on #61
This is very important to us, do you have an ETA? We need to get updates from a node, based on the publish group it is sending messages to, as we want to be able to control the light via external button and still get the update in our app. BUTTON (should publish to 0xC001)=>(will subscribe to 0xC001) GENRIC ON OFF (should publish to 0xC002) => App (get on off changes)

[2018-11-18 05:44] ZhanQiDong opened #98 "the method "mViewModel.getMeshNode()" returns wrong params"
when the device  is connected，i try to press the IDENTFY Button , but the method mViewModel.getMeshNode()  returned wrong params.   params in method meshNode.getMeshNode() are all null;

[2018-11-19 06:06] roshanrajaratnam commented on #98
Hi  when you call identifiy, you get a callback with the onProvisioningStateChanged(). You get an unprovisioned node object with the capabilities.

[2018-11-19 06:29] roshanrajaratnam commented on #61
@DomiR As a matter of fact this is already in place in the library. I might have missed out on referencing this issue. If configured to suit your needs, app will get on/off commands in addition to the status (if you are sending acknowledged on/off). IMHO you should have the light bulb publish the status back to the app instead of having the app listen to the on/off message as well as the status on

[2018-11-19 13:58] shengMR opened #99 "Publish Address 0xFFFF"

[2018-11-19 14:00] shengMR commented on #99
Ask, when I set the device's publishing address to 0xFFFF, this time I go to press the button on the development board, why the phone can not be synchronized?

[2018-11-19 14:32] roshanrajaratnam commented on #99
Hi, I'm not entirely sure what you are trying to achieve. Could you explain the setup a little bit more?

[2018-11-19 14:38] shengMR commented on #99
This is the case, I want to press the button to control the indicator light on the Nordic development board, then my phone can synchronize the switch state, but I used the release address set to 0xFFFF no effect, 0xFFFF not the entire network can receive it?

[2018-11-19 14:42] roshanrajaratnam commented on #99
Are you trying receive GenericOnOffSet or GenericOnOffStatus on the phone? If you want the GenericOnOffSet,  I would suggest to get the light bulb to publish the status to the phone instead. So when you're inside the model int he app you should get the status.

[2018-11-19 14:51] shengMR commented on #99
Well, this is the case, I really want to receive GenericOnOffStatus, but the source address of the phone is 0x07FF, I use the phone to set the Bluetooth module's publishing address to 0x07FF, this time press the button on the development board, my phone can be obtained through GenericOnOffStatus Switch state, this is no problem, the problem is set to 0xFFFF, it is not possible, is it wrong?

[2018-11-20 06:48] #98 closed

[2018-12-05 02:39] WangManAndroid opened #103 "Get BluetoothLeScannerCompat from different Android Version"
`
public static BluetoothLeScannerCompat getScanner() {
		if (mInstance != null)
			return mInstance;
		if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.O)
			return mInstance = new BluetoothLeScannerImplOreo();
		if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.M)
			return mInstance = new BluetoothLeScannerImplMarshmallow();
		if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.LOLLIPOP)
			return

[2018-12-05 02:44] WangManAndroid commented on #103
my english  is poor  , idon`t know if  you can  know  the description of the i

[2018-12-05 04:56] WangManAndroid commented on #103
When the interface was stuck on connecting connecting lines, I found that the log was print  as follows:
onClientRegistered() - status=0 clientIf=6
onClientConnectionState() - status=133 clientIf=6 device=98:12:88:77:00:0B

[2018-12-05 05:39] roshanrajaratnam commented on #103
Hi @WangManAndroid different versions of Android have different Ble scanners. The Bluetooth scanner compat library is a backward compatible library that will give you a scanner instance based on the Android version.

I recommend you try the latest dev branch. Error 133 is a connection timeout. Also newer phones have always been more robust when it comes to reconnecting after provisioning, speciall

[2018-12-05 07:02] roshanrajaratnam commented on #65
@DomiR #101 have added the capabilities for this by migrating the existing preferences to the DB,. Currently the api nor the app supports this feature but the DB is designed to handle this. Let me know your thoughts about this!

[2018-12-05 08:52] WangManAndroid commented on #103
ok  i`ll   try  it ,  Thanks for your reply

[2018-12-10 08:33] WangManAndroid commented on #103
today   I found  new problems   while  Discovering services  ` gatt.discoverServices();
 @Override
        public void onConnectionStateChange(BluetoothGatt gatt, int status, int newState) {
          //  It's possible here    callback>  status=133
} `
in  some   android phone  will heppen     For example, some of xiaomi's mobile phones

[2018-12-10 09:18] roshanrajaratnam commented on #103
Yeah this is possible, you just have to work around it in my opinion. Sometimes this depends on the Android version on certain devices. You can also try turning on/off the bluetooth on the device to see if it helps?

[2018-12-10 10:36] roshanrajaratnam commented on #103
Well the only way around this is to make sure all the bluetooth related communication is done in the UI Thread and add some delays before connecting etc.

[2018-12-10 11:44] #103 closed

[2018-12-12 07:51] roshanrajaratnam commented on #81
Closing in favor of #32

[2018-12-12 07:51] #81 closed

[2018-12-12 10:35] DomiR commented on #65
Hey @roshanrajaratnam, I’ve been testing the new branch for a while now and it seems to be working fine, thank you very much for making the export work. I would like to extend the api to allow exporting the network to a json string directly, as we would like to send it via email and we don’t want to add file access permissions just to temporarily save files.

Another thing I’ve been noticing, is t

[2018-12-12 11:34] roshanrajaratnam commented on #65
@DomiR Sure send me a PR once you extend it to work towards the JSON string.
I had seen this bug, but it was fixed, if not the messages should not continue to work upon the app restart.

[2018-12-13 02:48] WangManAndroid opened #108 ".transport.LowerTransportLayer.sendBlockAck crash"
`12-13 10:43:30.429 7621-7621/no.nordicsemi.android.nrfmeshprovisioner D/BluetoothGatt: discoverServices() - device: 98:12:88:77:00:15
12-13 10:43:30.429 7621-7643/no.nordicsemi.android.nrfmeshprovisioner D/BluetoothGatt: onGetService() - Device=98:12:88:77:00:15 UUID=00001800-0000-1000-8000-00805f9b34fb
12-13 10:43:30.429 7621-7645/no.nordicsemi.android.nrfmeshprovisioner D/BluetoothGatt: onGetSe

[2018-12-13 02:59] WangManAndroid commented on #108
It may appear on some Android phones

[2018-12-13 08:44] 3bu1ihub commented on #79
Here are couple of logs i found, i am not sure if they are useful,

[code]

[2018-12-13 09:02] roshanrajaratnam commented on #79
@3bu1 Don't see anything here really. May be you should set your log filter to selected application so you can logs just from the mesh app. Also please try the latest version of the dev branch as this has some more fixes that have improved the issue you're facing

[2018-12-13 09:06] roshanrajaratnam commented on #108
@WangManAndroid Is it possible to provide more details on this? This is something I haven't seen and have you made any changes?

Also the library have moved on from using the version 1.0.4 library and the latest dev branch contains a lot of the new improvements and bug fixes. I highly recommend to switch to the newer version as it has fixed a lot of the internals in the library.

[2018-12-13 10:04] 3bu1ihub commented on #79
@roshanrajaratnam thank you will try dev branch once.

[2018-12-13 10:59] vikrant8051 opened #109 "sometimes TID remains same if controlling Group of NODEs"
As per Mesh Model Specification (on firmware end) ,
[code]
**Android #nRFMesh issue:**
If App is controlling Group of NODEs which actually has only one NODE then each button toggle event send message with new TID.  This is perfect implementation.

But it is observed that if there are many NODEs actually available then APP sends message with same TID. This happens intermittently. Because of it, abo

[2018-12-13 11:00] vikrant8051 commented on #109
Mentioned issue does not arise with any other Vendor App as well as with iOS version of nRFMesh.

[2018-12-13 12:11] roshanrajaratnam commented on #109
Hi @vikrant8051 Thanks for reporting this and yes there was a bug in the TID when it comes to unacknowleged messages. However this was fixed internally in the current dev version.

[2018-12-13 13:19] vikrant8051 commented on #109
@roshanrajaratnam Thanks for acknowledging the issue.

unacknowledged message ?
FYI, App (which is available on Google play store) always sends acknowledged message no matter what is Destination address.

Ideally, if Destination address is Group address then client should send unack message.

[2018-12-13 15:30] DomiR opened #111 "MeshMessages like GenericOnOffSet should not have to pass a node."
Why do we want to pass the node when generating new messages like `GenericOnOffSet(NODE,...,destinationAddress)`. When sending to groups we do not have a single node we can put there. Can we just remove this from all model messages, or why is it necessary?

[2018-12-14 05:58] roshanrajaratnam commented on #111
@DomiR you have a very good point. The only reason is or rather was, almost everything was stored in the node object so I had to pass around the node object. However now after separating the mesh network properties and node properties don't think we need to pass it around anymore. Currently I'm finishing up config relay set and I will look in to this and clean that up as well.

[2018-12-18 08:24] roshanrajaratnam opened #113 "Save sequence number for all outgoing messages"
The lib should save the sequence number for all outgoing messages. Currently we do that only for the Unacknowledged messages. In case a acknowledged message is lost, we lose the correct sequence number.

[2018-12-18 08:50] roshanrajaratnam commented on #109
@vikrant8051 sorry my bad. Currently the app uses the sequence number as the TID. In case an acknowledged message is lost you might notice the same sequence number in the next messages. Also there were some other improvements made internally that have fixed this.

[2018-12-18 09:02] roshanrajaratnam commented on #109
Closing in favor of #113

[2018-12-18 09:02] #109 closed

[2018-12-18 09:44] vikrant8051 opened #115 "Wrong nomenclature for paramenters under Retransmission"
@roshanrajaratnam @mostafaberg

Publish(under every Model) -> SET PUBLICATION -> Retransmission
...... has issue.

Here under Retransmission there are two sub-parameters:

    #RetransmitCount (#RC)
    #IntervalSteps (#IS)

When user set #RC & #IS values via App, at firmware level those get assign to #IS & #RC respectively.

Means nomenclature is wrong at APP level.

[2018-12-18 11:43] roshanrajaratnam commented on #111
@DomiR I have started looking in to this issue, I also think none of the messages require the node to be passed. I will make the much needed changes, although this means the `sendMeshConfigurationMessage `and `sendMeshApplicationMessage` in the MeshManagerApi will need to have the src and dst addresses in the signature.

[2018-12-18 11:55] roshanrajaratnam commented on #115
@vikrant8051 Thanks for reporting this. Will look and get back

[2018-12-18 12:00] DomiR commented on #111
True, we can let us inspire by https://git.kernel.org/pub/scm/bluetooth/bluez.git/tree/doc/mesh-api.txt`.
They have:
`void Send(object element_path, uint16 destination, uint16 key_index, array{byte} data)`
where `element_path` is the local client model, which we are currently not using, we could use the sourceAddress here. `key_index` is looking up the application key index of the local client mod

[2018-12-18 12:04] roshanrajaratnam commented on #111
I will take a look and see what I can use out of this.

[2018-12-18 12:05] DomiR commented on #111
Alright, let me know, where I can help 😄

[2018-12-18 12:06] roshanrajaratnam commented on #111
Thanks you sir! I'm on it already, some refactoring here :/

[2018-12-18 12:44] roshanrajaratnam commented on #115
Issue confirmed, sorry about this, the parameters were swapped in the message. Will push the changes later!

[2018-12-18 16:35] roshanrajaratnam commented on #111
@DomiR I think I have managed to refactor the code to remove the node from all messages. I have pushed the changes to the following branch improvements/remove-node-from-generic-messages-#111.
I have done a quick testing may be you can give it a test to see if everything works as expected?

[2018-12-19 04:31] vikrant8051 commented on #115
Please inform about it to iOS team because same issue is seen under iOS App.

[2018-12-19 06:06] roshanrajaratnam commented on #115
Please create an issue on the relevant repository for this. This makes it easier to keep track of things :) Thanks

[2018-12-19 09:45] roshanrajaratnam commented on #111
@DomiR Basically made a MINOR mess out of it ;) I believe this should solve your issue :)

[2018-12-19 12:13] #19 closed

[2018-12-20 07:43] roshanrajaratnam opened #118 "Implement proxy filter message"
As a power users, should be able to add/remove addresses to the white list filter. This will allow users to receive statuses published by models for example sensors.

[2018-12-20 09:22] foldl opened #119 "byte in Java is signed, so ConfigCompositionDataStatus.pareCompositionDataPages() may not parse those 16bit fields correctly"
For example, if accessPayload[2] = 0xaa, then companyIdentifier  will be 0xffffffaa.

Can I create a pull request for this?

[2018-12-20 09:36] roshanrajaratnam commented on #119
Oh yes, please do open a PR and sign the contributor license

[2018-12-28 05:19] DuyTrandeLion opened #122 "Binding key and publishing/subscribing health model"
I used the nRF Mesh app to config the health server to publish to a specific health client, they are all binded with the same app key. I use the app as the provisioner, but the health client doesn't receive any message.
Edit: after changing the period to 1s it worked, but keeping the default as 100ms it didn't work, I don't know why.

I don't know if the nRF Mesh app or library support binding for

[2019-01-02 06:19] roshanrajaratnam commented on #122
Hi @DuyTrandeLion sorry for the late reply as I was on vacation. So far the app only supports key binding message on the health server. Did you have trouble binding app keys?

[2019-01-04 09:59] DuyTrandeLion commented on #122
Hi @roshanrajaratnam ,
Thank you for your feedback, I don't have problem binding the key, but I don't know where to add the code for period configuration. I wonder when will Nordic support it?

[2019-01-04 10:09] roshanrajaratnam commented on #122
@DuyTrandeLion what do you mean by period configuration?

[2019-01-04 10:19] DuyTrandeLion commented on #122
@roshanrajaratnam my bad, I mean the publishing period.

[2019-01-10 11:24] HaukeRa opened #123 "ParseOutputOOBActions.selectOutputActionsFromBitMask selects weakest available method"
**Current behaviour:**
When parsing the mesh node's capabilities the method selectOutputActionsFromBitMask in ParseOutputOOBActions selects the weakest method the node offers.

**Expected behaviour:**
The provisioner selects the strongest available authentication method

**Possible solution:**
Instead of getting the fist element from the list:
https://github.com/NordicSemiconductor/Android-nRF-Mes

[2019-01-10 12:09] roshanrajaratnam commented on #123
Hi @HaukeRa yes currently the library defaults the weakest. This is something to be addressed down the line.

Yes we do accept pull requests as long as the changes are based on the dev branch. You must also sign the CLA agreement when sending a pull request.

[2019-01-16 13:49] #32 closed

[2019-01-16 13:49] #36 closed

[2019-01-16 13:49] #73 closed

[2019-01-16 13:49] #40 closed

[2019-01-16 13:49] #61 closed

[2019-01-16 13:49] #77 closed

[2019-01-16 13:49] #79 closed

[2019-01-16 13:49] #84 closed

[2019-01-16 13:49] #111 closed

[2019-01-16 13:49] #113 closed

[2019-01-16 13:49] #115 closed

[2019-01-16 13:49] #118 closed

[2019-01-16 13:49] #119 closed

[2019-01-16 13:52] #65 closed

[2019-01-16 13:53] #75 closed

[2019-01-16 13:53] roshanrajaratnam commented on #122
Closing this issue since there is no updates on this!

[2019-01-16 13:53] #122 closed

[2019-01-17 08:19] roshanrajaratnam opened #128 "Invalid TransactionID being used when sending messages to group addresses"
Incorrect transaction ids are used when sending messages to group addresses. This is due to the fact that the last received sequence number from a node is being used as the transaction Id when sending application layer messages. However when it comes to group addresses a single node's sequence number cannot be used as a transaction id.

[2019-01-17 09:59] roshanrajaratnam opened #129 "Add group controlling"
The user should be allowed to create groups which will allow users to add nodes and control them by sending group messages. Implementing this feature should also solve #128

[2019-01-22 10:02] HaukeRa opened #130 "onBlockAcknowledgementSent(byte[] dst) dst is null"
---

**Describe the bug**
The dst array parameter is always null in callback

**To Reproduce**
Steps to reproduce the behavior:
1. Set Breakpoint on NrfMeshRepository.java line 716 (first line of onBlockAcknowledgementSent(..))
2. Perform provisioning
3. See that dst is null

**Expected behavior**
dst schould not be null

**Platform details:**
 - Samsung Galaxy S7
 - Android 8.0
 - 1.1.0 Release

[2019-01-22 10:27] HaukeRa opened #131 "Provisioning fails on Nexus 5"
---

**Describe the bug**
Connecting to a device for provisioning fails on the Nexus 5 smartphone.

**To Reproduce**
Steps to reproduce the behavior:
1. Open App on a Nexus 5
2. Go to Scanner tab
3. Select node to provision
4. See error: MeshProvisionerActivity opens and closes immediately

**Expected behavior**
Provisioning should happen.

**Platform details:**
 - Device: Google Nexus 5
 - Androi

[2019-01-22 10:35] HaukeRa commented on #123
Hi @roshanrajaratnam, where can I find the CLA?

I would propose a configuration option for the app to specify it's own capabilities & auth method resolution strategy. I'm willing to create a pull request for this.

[2019-01-22 11:10] roshanrajaratnam commented on #131
Thanks for reporting this. I'll give this a go!

[2019-01-22 15:56] HaukeRa opened #132 "ProvisionedMeshNode Parcelable implementation broken"
---

**Describe the bug**
Generally Parcelable objects are expected to contain the same information before and after parceling them and retreiving them from a parcel.

Two issues:
1. ProvisionedMeshNode(Parcel in):
`110:  isProvisioned = in.readByte() != 1;
 111: isConfigured = in.readByte() != 1;
 137: blackListed = in.readByte() != 1`
inverts the state written to the parcel (written as true -->

[2019-01-22 20:52] HaukeRa opened #133 "Migrate to AndroidX"
**Is your feature request related to a problem? Please describe.**
All new developments on the Andorid support libraries is done under the new androidx. namespace.
All new projects should use libraries with the androidx. namespace. Even though there is the Jettifier tool which translates between android.support and androidx, it only works on artefacts (jar/aar), but not on source.

**Describe the

[2019-01-23 01:45] HaukeRa commented on #132
Another error:

* blackListed is written with Parcel.writeValue() but read with Parcel.readByte()

This results in an error in SOME cases. I spent all day trying to write a test for this, just now I found a way to test this.

While it works in most cases, sometimes it results in a hard to debug crash. Internally Parcel.writeValue writes two Integers, one as a flag for what type has been written an

[2019-01-23 02:00] HaukeRa opened #134 "More broken parcelable implementations"
---

**Describe the bug**
Some meshprovisioner.transport.MeshMessage subclasses implement Parcelable.
They implement writeToParcel as: `dest.writeValue(mMessage)` whre mMessage is a transport.Message.
But Message does not implement Parcelable so attemptint to parcelize a MeshMessage always fails.

Affected classes:
- GenericOnOffStatus
- GenericLevelStatus
- ConfigCompositionDataStatus
- ConfigMod

[2019-01-23 06:34] roshanrajaratnam commented on #133
This will also introduce compatibility issues with existing projects. But yes the plan is to move to Android X quite soon.

[2019-01-23 06:35] roshanrajaratnam commented on #132
Nice catch, ideally it shouldn't be writeValue at all.

[2019-01-23 10:36] PopradiArpad opened #135 "Provisoning after network reset stucks at "Sending composition data get""
---

**Describe the bug**
Provisoning after network reset stucks at "Sending composition data get",
after app restart provisioning works again.

**To Reproduce**
0. Build BLE Mesh Light Switch Server Demo from nRF5 SDK for Mesh 3.1.0 with SDK 15.2
    at Segger Embedded Studio, connect a DK to the PC, erase all, run.
1. Start nRF Mesh 1.1.0, no network is known
2.Go to 'Scanner'
3. Click on the de

[2019-01-23 10:55] PopradiArpad commented on #135
Without **network reset** the second device can be provisioned.

[2019-01-23 12:07] roshanrajaratnam commented on #135
Hi @PopradiArpad, thanks for reporting this issue. Is there any chance you could try this with the precompiled examples?

[2019-01-23 14:02] HaukeRa opened #136 "GenericOnOffServerActivity wrong parameter order when constructing GenericOnOffSet message"
---

**Describe the bug**
When constructing the GenericOnOffSet messages in GenericOnOffServerActivity, parameters are passed in in the wrong order. `delay` is passed into `tid`, `node.getReceivedSequenceNumber()` into `transitionSteps`, `transitionSteps` into `transitionResolution`, `transitionStepResolution` into `delay`

Affected Line: GenericOnOffServerActivity:240

**Platform details:**
 - 1.

[2019-01-23 15:14] HaukeRa commented on #134
**MeshModel.java**:
`try{]catch()` block in Constructor from Parcel can result in the same errors as I mentioned in the ProvisionedMeshNode issue. On an exception the parcel remains partially read, so any data after your own is offset now, resulting in wrong data or hard to debug crashes.

[2019-01-23 21:42] HaukeRa opened #137 "Database inconsistencies"
---

**Describe the bug**
Some properties are annotated with Ignored so that they are not persisted in the database. Some of them however are actually set during creation/provisioning etc.

One example is: isProvisioned in BaseProvisionedMeshNode. It is copied from UnprovisionedMeshNode (where it is set to true during the provisioning process).

When persisted and then loaded from database, these

[2019-01-24 06:42] roshanrajaratnam commented on #137
Hi @HaukeRa  thanks for reporting this. This has somehow escaped the refactoring that was done for release 1.1.0.

[2019-01-24 06:43] roshanrajaratnam commented on #136
Thanks and Fixed locally.

[2019-01-24 06:43] #136 closed

[2019-01-24 06:46] roshanrajaratnam commented on #123
Hi @HaukeRa Sorry I just saw this. When you send a pull request you are prompted with the CLA to sign it. Also please send the pull request to dev. Thanks for your contribution it really helps with a fresh set of eyes!

[2019-01-24 06:54] roshanrajaratnam commented on #137
Fixed internally

[2019-01-24 06:54] #137 closed

[2019-01-24 06:58] roshanrajaratnam commented on #132
True, but this is something wrong, it shouldn't be a Nullable value at all. Fixed internally! Thanks for pointing out!

[2019-01-24 06:58] #132 closed

[2019-01-24 07:03] roshanrajaratnam commented on #134
That was a redundant `try{]catch()`. If i recall correctly this was added to debug a app crash but not being removed after. Fixed internally.

[2019-01-24 08:14] HaukeRa commented on #134
Did you account for all the broken MeshMessages in the original bug report?

[2019-01-24 08:45] PopradiArpad commented on #135
Hi @roshanrajaratnam, thanks for the quick reply. Where can I find the precompiled examples? They are not supplied with the code anymore.

[2019-01-24 08:48] roshanrajaratnam commented on #135
@PopradiArpad If you download the mesh sdk 3.1.0 and unzip the file, you can find all the precompiled hex files in the following path nrf5SDKforMeshv310src\bin\merged\ospace\examples.

[2019-01-24 09:11] PopradiArpad commented on #135
@roshanrajaratnam . The same problem.
I have used
`nrfjprog -f nrf52 -e`
`nrfjprog -f nrf52 --program light_switch_server_nrf52832_xxAA_s132_6.1.0_merged_sd.hex --verify --sectorerase`

[2019-01-24 14:46] HaukeRa opened #138 "Replacing App Key inserts new key instead of replacing"
---

**Describe the bug**
When trying to replace an app key at a specific index (`BaseMeshNode.public void addAppKey(final int keyIndex, final ApplicationKey newAppKey)`), the method comments read:
_Adds an app key to the list of keys with the given key index. If there is an existing key with the same index, it will be replaced._

Internally the call is delegated to a Java `List.add` with index. I

[2019-01-24 15:03] HaukeRa opened #139 "First App Key not persisted"
---

**Describe the bug**
When Adding App Keys, the branch that is taken when the list of ApplicationKeys is empty does not call `notifyAppKeyAdded(newAppKey)`, resulting in it not beeing persisted in the Room Database. It transiently stays around though, so it only disappears when the app is completely restarted

**To Reproduce**
Steps to reproduce the behavior:
1. Start with an MeshNetwork witho

[2019-01-24 15:08] HaukeRa opened #140 "BaseMeshNetwork.updateAppKey(final int keyIndex, final String appKey) broken"
---

**Describe the bug**
`BaseMeshNetwork.java:339`
The running variable of the for loop is unsued (int _i_), and appKeys.get(**0**) is invoked on each iteration.

Resulting in the fact that only the first key can be updated.

[2019-01-24 15:31] HaukeRa commented on #140
Same error in updateNetKey(int,String)

[2019-01-24 16:18] zanibonilighting commented on #30
hi @roshanrajaratnam may I ask if there is any update on this one?

[2019-01-24 19:14] HaukeRa opened #141 "BaseMeshNetwork.removeAppKey not working under all circumstances"
---

**Describe the bug**
BaseMeshNetwork.removeAppKey(ApplicationKey) internally calls the Java List API .remove(..).
This API relies on an .equals() implementation to remove an item. ApplicationKey does not implement .equals() so this falls back to Object.equals() which just checks reference equality.

As ApplicationKey is also a Parcelable, multiple copies of the same key (meaning same keyIndex

[2019-01-25 00:07] DomiR commented on #128
What is the plan here? Should we just have a global counter for TIDs? They are valid for only several seconds, so it should not be a problem to use a global counter that overflows... We are using one in our app... The api to set custom TID should stay there though, as we are currently running into problems in high noise environments (>58 wifi nets surrounding us). We need to resend messages with t

[2019-01-25 05:59] roshanrajaratnam commented on #128
Well this is more of an issue related to the app side and using a sequence number of  a particular node as a TID to a group address. However its fixed for now by using the sequence number of the provisioner which increments at all times and also can be used for re-sending as well. I won't remove the custom api. I'll leave it for users to set their own like you had suggested before and it's more co

[2019-01-25 06:02] roshanrajaratnam commented on #140
Fixed internally.

[2019-01-25 06:02] #140 closed

[2019-01-25 06:06] roshanrajaratnam commented on #131
Fixed Internally.

[2019-01-25 06:06] #131 closed

[2019-01-25 06:08] roshanrajaratnam commented on #139
@HaukeRa Thanks for this. Your testing really helps!

[2019-01-25 06:15] roshanrajaratnam commented on #138
@HaukeRa thanks! the comment is what's wrong here, hence misleading. Same app key should not be allowed to be added. Also there is a separate method to update an app key I'll update the documentation.

[2019-01-25 06:17] roshanrajaratnam commented on #138
Fixed internally!

[2019-01-25 06:17] #138 closed

[2019-01-25 06:19] roshanrajaratnam commented on #135
@PopradiArpad sorry for the delay, Support issues like these should ideally go to the DevZone. Please be kind to open a ticket on our DevZone page. In the mean time I'll try to find some time to have a look at this. The chances of  getting help via DevZone is much higher though! Thanks for understanding!

[2019-01-25 10:52] HaukeRa commented on #138
Did you consider not using `List` as a container for the Keys? It is very error prone or at least misleading (in a sense that it is not clear whether the indices in the list really matter), that the index of the list and the key are connected in a way.

This means you have double the work ensuring that both match.

In general, how would it be handled if you have three keys, delete the first one, s

[2019-01-25 11:35] roshanrajaratnam commented on #138
Hi I see what you mean. The initial thinking was to have a list with ApplicationKeys where the index within the ApplicationKey is what dictates so that the indexes in the list do not matter. The indices in the list does not matter this way. If you Look in the example app Settings >> Manage App Keys >> deleting the first key in the list does not change the index. So index 0 is still available for u

[2019-01-25 11:50] roshanrajaratnam commented on #30
@zanibonilighting Currently there is no update on this one right now unfortunately!

[2019-01-25 12:10] HaukeRa commented on #138
Okay I understand. But then why bother placing the Key at the supplied keyIndex? I would go for removing the explicit separate keyIndex from the API alltogether.

And then managing the List (or some other container) within the BasheMeshNetwork class. Sorting it by the `keyIndices` of the `ApplicationKeys` seems appropriate.

[2019-01-25 12:32] roshanrajaratnam commented on #138
The idea was that a key could be placed in any index of the list, but this is actually not validated at all, given that someone tries to place it in an index larger than the size. However looking back not sure if its useful either...

[2019-01-25 13:01] HaukeRa commented on #138
When the list index has no iternal use (meaning it is not related to the keyIndex in any way that the stack uses this ordering) it is solely a presentation issue how the keys are ordered. In that way I would order the keys internally after their inherent index. If the UI needs a different ordering for presentation, it easily can sort them as needed in the UI (not affecting the stack).

[2019-01-28 06:39] roshanrajaratnam commented on #138
Yeah makes sense, when I was implementing the app it was easier to have it inserted at the specified index, but like you said probably makes sense to sort it within the app and maintain the insertion order.

[2019-01-30 17:10] gridar opened #144 "provide library through gradle implementation 'no.nordicsemi.android:..."
Hi Nordic, thanks for this repo it's great.
Is there a way to easily add the mesh library as dependency ? like `implementation 'no.nordicsemi.android:ble:1.2.0'`
for now the doc say we need to add :
`project(':meshprovisioner').projectDir = file('../../Android-nRF-Mesh-Library/android-nrf-mesh-library/meshprovisioner')` in the settings.gradle. That's working fine but it would be great to have it w

[2019-01-31 07:46] roshanrajaratnam commented on #144
Hi @gridar, currently we haven't published to jcenter yet. Something we would do sometime in the future. Hope this helps

[2019-01-31 14:56] POHakansson opened #145 "JSON files can only be loaded from nrf Mesh directory"
---

**Describe the bug**
When trying to load a JSON network config file, it only seems to work if the file's location is the Nordic Semiconductor / nrf Mesh directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Settings tab and chose Import from the menu
2. Select a file from for example the "Downloads" folder of your phone
3. The error message says "Invalid file type"

**Exp

[2019-01-31 15:10] POHakansson opened #146 "Impossible to re-use unicast address"
During provisioning of one of my 30+ office nodes the sequence was interrupted by some type of error on the node to be provisioned. I reset the node to be provisioned and intended to redo the provisioning using the address that I had allocated for that specific node. This used to be possible in older versions of the app, like the really old 0.2 from 2018 I've long been using.

I understand that pr

[2019-01-31 15:37] POHakansson opened #147 "Network config JSON files must be named same as meshUUID"
Describe the bug
When trying to load a JSON network config file, the file name must be identical to the meshUUID inside the file. Very annoying if you're trying to edit the file and happen to call it <something_else>.json :-)

To Reproduce
Steps to reproduce the behavior:
1) Change the name of a valid network config file to a name which is not "meshUUID".json
2) Try importing it
3) Error message "

[2019-02-01 11:31] HaukeRa opened #148 "AccessLayer state should handle more than one node concurrently"
**Is your feature request related to a problem? Please describe.**
All AccessLayers store a all their state only once and not on a per-node basis. For example mMeshNode is defined in AccessLayer and reused.

The same problem appears also for the PDU reassembly buffers, timers and timeouts etc. (all that is "state").

As far as I understand, mesh makes not make guarantees (how should it) about the

[2019-02-01 11:45] HaukeRa opened #149 "Implement Address"
**Is your feature request related to a problem? Please describe.**
All Addresses are represented as byte[] arrays. They are converted to int, whenever a comparision is needed. This can get a little anoying, especially when using the address as a key in a map, as byte[] can't be used as a key.

**Describe the solution you'd like**
A new type for addresses that implements equals() and hashCode() cor

[2019-02-01 12:14] HaukeRa opened #150 "Nodes provisioned by other provisioners"
**Is your feature request related to a problem? Please describe.**
Currently the app/stack can only communicate with nodes it provisioned itself. But there might be more than one provisioners in a network. So Nodes might exist that are part of the network which the nRf Mesh App doesn't know.

Currently communication with such nodes is not possible at all as the NetworkLayer discards all messages f

[2019-02-02 23:51] HaukeRa opened #151 "Implement parsing of all Messages"
**Is your feature request related to a problem? Please describe.**
Currently only a subset of mesh messages are parsed that are Status Messages and responses expected during the provisioning process.

While this works and is enough to interact with a mesh network, it would be interesting and useful to oversee and decode everything that is happening in the mesh network. As the mesh is more or less

[2019-02-03 10:30] HaukeRa opened #152 "Processing of unsolicited Vendor Specific Messages fails"
---

**Describe the bug**
When receiving a vendor specific message, the 3-byte long opcode branch in DefaultNoOperationMessageState decides upon the cached `mMeshMessage` what to do with the incomming message.

This only works if we sent a message ourselves previouly that requires a direct answer. So only the first branch for `VendorModelMessageAcked` seems to work. When we send a `VendorModelMess

[2019-02-03 15:58] HaukeRa opened #153 "wrong parsing of 3 byte OpCodes"
---

**Describe the bug**
`MeshParserUtils` line 478:
[code]
& 0xFF after shifting (and then casting to byte) yields always 0. The calculation above always results in the returned opCode always being equal to the first element of the accessPayload only, both bytes after that are effectively discarded.

**Expected behavior**
A clear and concise description of what you expected to happen.
Applying &

[2019-02-03 16:45] HaukeRa commented on #153
Also, the order is twisted. The Mesh specification states in table 3.43, that the byte at position 0 is the most significant byte, the current implementation uses it as the least significant byte

[2019-02-05 06:30] #144 closed

[2019-02-05 06:42] roshanrajaratnam commented on #150
@HaukeRa yes this is a valid point. When setting up networks it's normal have, multiple provisioners with an address range assigned to each provisioner where they can provision and configure nodes. However once this is completed it will require the configuration json to be imported and merged together and imported in to both provisioners, if they are to control/configure the network. This is not s

[2019-02-05 06:51] roshanrajaratnam commented on #151
@HaukeRa It's not necessary that the message always reach the access layer if its not directed to a particular node. However I understand your point. Setting up the proxy filter will allow all messages to reach the app. However this is not a permanent filter, every time you disconnect and reconnect to a proxy node, the said filter will be re-initialized to a whitelist filter. Currently this is out

[2019-02-05 07:01] roshanrajaratnam commented on #152
@HaukeRa What's the setup here? is the message sent from the app? if it's an unacknowledged message the app will not receive a message at all.

[2019-02-05 07:12] roshanrajaratnam commented on #153
Thanks for pointing this out. I have fixed this internally.

[2019-02-05 07:12] #153 closed

[2019-02-06 06:17] roshanrajaratnam commented on #99
Sorry for the delayed reply, you can now enable the blacklist filter on the proxy server you are connected to and then test this feature.

[2019-02-06 06:19] roshanrajaratnam commented on #108
Closing this due to inactivity. Please feel free to reopen!

[2019-02-06 06:19] #108 closed

[2019-02-06 06:42] roshanrajaratnam commented on #130
Fixed internally

[2019-02-06 06:42] #130 closed

[2019-02-06 06:49] roshanrajaratnam commented on #135
Closing this in favor of Devzone ticket.

[2019-02-06 06:49] #135 closed

[2019-02-06 06:51] roshanrajaratnam commented on #139
Fixed internally.

[2019-02-06 06:51] #139 closed

[2019-02-06 06:56] roshanrajaratnam commented on #141
@HaukeRa Unfortunately i'm not able to reproduce this issue. Deleting an app key from the manage app keys option in the settings lets me remove an app key.

[2019-02-06 07:15] roshanrajaratnam commented on #145
@POHakansson This does not seem to be the case when testing against the same device I have. The json file seems to get imported irrespective of the location. When you say select a file, are you trying to select any json file? It must be a json file or format exported from the same app (different phone).

[2019-02-06 07:18] roshanrajaratnam commented on #147
Hi @POHakansson, the library does not validate against a file name, It just imports any network information named with any file name. Just make sure that the JSON file is one that is exported by the nRF Mesh App.

[2019-02-06 07:58] roshanrajaratnam commented on #146
Hi @POHakansson, in the new version we introduced the device uuid as the unique which is the correct way to go instead of using the device uuid. Like you mentioned, the way to re-use an address is by resetting an existing node and re-using that address. You should also be careful when doing this so that the address do not overlap with another device.

Coming back to your issue, what do you mean by

[2019-02-06 07:58] #146 closed

[2019-02-06 09:03] POHakansson commented on #146
Hi

Thanks for your reply. I guess I didn't consider the security aspects of re-using an address.

In my network my 35 nodes (and growing)  have a specific number and location in the office. We have a node-RED application which logs values and when I'm forever updating the nodes I want to re-use the old addresses.

During my development there are many cases when provisioning fails or is partial (m

[2019-02-06 10:25] roshanrajaratnam commented on #146
@POHakansson I can understand your point and yes the security aspects are quite important here.

However have you looked at our latest sdk 3.1.0 which seems to work much better when it comes this assertion error. I see it very rarely so give it a go and if you see this please open a ticket on Devzone and our tech support team will be happy to  help you.

[2019-02-06 10:37] DomiR opened #154 "Provisioning with preshared key and select input/output OOB"
**Is your feature request related to a problem? Please describe.**
We would like to be able to select the oob type and also support preshared keys.

**Describe the solution you'd like**
Implement the api for this.

I'm starting working on this today and I wanted to get some feedback first. I would like to get access to the `ProvisionCapabilities` on `onProvisioningStateChanged` but I currently onl

[2019-02-06 12:08] roshanrajaratnam commented on #154
Hi @DomiR sounds interesting. The `ProvisioningCapabilities` are stored in the `UnprovisionedMeshNode` so you can call `getProvisioningCapabilities()` to find out the capabilities of a node.

It would be nice to implement this part as we haven't really spent time looking in to this as we were focusing on getting the basic mesh implementation out. Please do suggest any improvements wherever you thi

[2019-02-06 14:46] DomiR commented on #154
For reference: #123

[2019-02-08 07:41] #150 closed

[2019-02-08 07:41] roshanrajaratnam commented on #145
@POHakansson any updates on this?

[2019-02-08 07:45] roshanrajaratnam commented on #147
We could have used the network name but the reason for using the UUID as the name is to avoid overwriting files in case someone forgot to change the network name after resetting a network. I can always prompt the user to put in a desired name though.

[2019-02-08 08:52] POHakansson commented on #145
I must have made the same mistake several times when I decided to create an issue. Now when I'm testing, it works OK.

Sorry bout that,
Pär-Olof

[2019-02-08 08:52] #145 closed

[2019-02-08 11:10] roshanrajaratnam commented on #145
No problem :)

[2019-02-12 13:52] #128 closed

[2019-02-14 14:02] i-am-smirnoff commented on #145
Hello!
Let me concretize the issue which exists.

Everything works fine if you navigate to file for import via device internal storage file structure. But if you select a file in "Downloads" as mentioned or if you select a file from "Drive" storage then 'Invalid file type' error occures.

I've managed to import 'invalid' file from "Drive" after changing condition in `if` to `true` here:
_Android-n

[2019-02-15 13:03] DomiR commented on #154
Implemented in #157

[2019-02-22 15:03] DomiR opened #162 "Json export questions"
I'm currently implementing the export for iOS so an Android user could share the network with iOS users.

The exported nodes have the following properties, what is a bit weird:
[code]

[2019-02-22 15:17] DomiR commented on #162
Also while netkey has `minSecurity` which is `0` or `1` while node `security` field is `low` and `high`

[2019-02-28 02:25] kcjian opened #165 "Can App subscribe to an address like a device?"
**Is your feature request related to a problem? Please describe.**
When my App accesses the network, I want to receive the publish information of the device. I want to ask if the App can subscribe to an address?

**Describe alternatives you've considered**
Implementing this functionality through gateways and servers

[2019-02-28 07:27] roshanrajaratnam commented on #165
@kcjian Are you saying that you want to get the publication settings that's currently set on a node?

[2019-02-28 07:55] kcjian commented on #165
@roshanrajaratnam
Like mutual subscriptions between devices, I want to subscribe to devices with my mobile phone.
For example, there are two sensors A and B. When the data of A changes, they will publish information to address 0xAAAA. When the data of B changes, they will publish information to address 0xBBBB. I want to subscribe to these two addresses (0xAAAA, 0xBBBB) with my mobile phone to rece

[2019-02-28 07:59] roshanrajaratnam commented on #165
Right, this is something you can do by setting a proxy filter on one of the nodes you are connected. You can turn on the white list filter on one of the nodes and then add the two addresses you wish to receive the data from. Also note that once you disconnect from the node you will lose the proxy filter settings because its per connection and is cleared upon disconnection by the node itself.

[2019-02-28 08:12] kcjian commented on #165
I see. Thank you very much.

[2019-02-28 08:30] roshanrajaratnam commented on #165
@kcjian Happy to help! I will close this issue and if have anymore questions about this please reopen again.

[2019-02-28 08:30] #165 closed

[2019-02-28 10:52] DomiR commented on #162
I saw that the next unicastAddress can be calculated and the provisioner unicast address seems not to be important. But the other questions still remain.

[2019-03-01 23:31] HaukeRa opened #167 "BaseMeshMessageHandler has lots of redundant code"
---
BaseMeshMessageHandler has a lot of branches that discriminate based on the type of message sent, but all of the branches basically do the same.

I checked on some of the classes (xxxState) and found no changes in control flow elsewhere based on the actual instance type. Is there a good reason for all the branches? Otherwise I propose to generalize the code here to make it easier to read, less

[2019-03-01 23:46] HaukeRa commented on #149
Great to see progress here!

Two comments:

1. While a single Integer is definitely more usable than a byte array, it still is prone to errors. An int is easily mistaken for something else and basically needs a consistency check (i.e. valid ranges, reserved values group vs unicast etc.) in every place where it is finally used. When converting it to an own type you only have to check in one place (

[2019-03-02 00:24] HaukeRa commented on #167
If this is actually the case and there is now conditional execution based on the actual type of the states, then all the subclasses of GenericMessageState are redundant, as they all do exactly the same except of logging a different message during `executeSend()` which definitely is not worth the redundancy

[2019-03-02 12:03] HaukeRa opened #168 "BouncyCastleProvider is installed in an error-prone way"
---

**Describe the bug**
The installing of the Security provider is done within a static block in SecureUtils.java:
`    static {
        Security.insertProviderAt(new org.spongycastle.jce.provider.BouncyCastleProvider(), 1);
    }`
This is very error prone. There is no guaranty when the static block is executed so it can happen that one uses security functionality before the provider is inserted

[2019-03-04 07:45] roshanrajaratnam commented on #168
@HaukeRa Thanks for reporting this, I haven't seen this behavior the bouncy castle gets called during the provisioning state or either when sending a generating a mesh message. It does makes sense to not have it set up in a non-static way.

[2019-03-04 07:48] roshanrajaratnam commented on #167
The intial design of the library did not have its own classes for messages and it was the states that did handle generated the messages itself. However this is something in my backlog to clean up the state classes redundant extensions of the state classes and just leave the base state itself.

[2019-03-04 08:56] HaukeRa commented on #168
I haven't seen this behaviour previous to some refactoring, too. It just shows that an "unrelated" change can break something somewhere else. The Security.insertProviderAt method just does nothing if you install the same provider at the same position twice, so it should be safe to invoke it from the constructor of MeshManagerApi

[2019-03-04 08:57] roshanrajaratnam commented on #168
Okies, let's go with the safer option then!

[2019-03-04 08:57] HaukeRa commented on #167
Actually, the changes needed are not large at all. I've done it in my local dev branch.

[2019-03-04 09:27] roshanrajaratnam commented on #167
Of course not.

[2019-03-04 09:34] roshanrajaratnam commented on #149
Thanks

1. This was my initial plan, I defined types for each address types etc, however I ended up reverting because it was quite a big change and also considering the data migration required for this. Right now, all the checking is done (Hoping i haven't missed any) within the library just to make easier for the ones using the lib as a whole. I do not disagree with you on this.

2. Well the idea

[2019-03-04 10:26] HaukeRa commented on #149
1. The changes needed spread through the whole code, true. Maybe its something that can be done in the future nonetheless. Still, not having to deal with byte arrays is a big win already.

2. First I thought you did not implement any compatibility for Deprecated methods, but I figured out for some (most) of them you did. I need to check if I still find the methods that had no compatibility built i

[2019-03-04 13:37] bangonkali opened #169 "Expose attentionTimer as duration."
**Is your feature request related to a problem? Please describe.**
In the iOS Version of the library it seems the [`attentionTimer` is exposed as `duration`](https://github.com/NordicSemiconductor/IOS-nRF-Mesh-Library/blob/e2ce5afbb89b2200c659927d3634dd1c0a0bdba5/nRFMeshProvision/Classes/Provisioner/ProvisioningStates/InviteProvisioningState.swift#L26-L35).

[code]

**Describe the solution you'd l

[2019-03-04 13:40] roshanrajaratnam commented on #169
@bangonkali this is correct and the attention timer will be exposed.

[2019-03-04 13:52] roshanrajaratnam commented on #169
@bangonkali Fixed internaly

[2019-03-04 19:18] SamS3lly opened #170 "Individual controls controlling multiple elements"
**Describe the bug**
Not sure if this is a bug or it should work like this, summary: having 2 or more nodes, if we configure both/all elements and models to the same group address and then control one of the elements with the on/off button or the generic level slider, all nodes subscribed to the same group with change their state as well, is this suppose to happen?

**To Reproduce**
Steps to repro

[2019-03-04 19:48] roshanrajaratnam commented on #170
This is something to do with how the app is implemented because there is no other view to control groups. The problem being the app sends the message to group addresses if that model has susbcribed to any.

However this behaviour is  different on the latest thetest dev branch. The model configuration view now only sends to the unicast address and a separate group view has been implemented to contr

[2019-03-04 19:48] #170 closed

[2019-03-04 22:55] SamS3lly commented on #170
@roshanrajaratnam
Thank you for the quick reply! Another question we're wondering is:

We are implementing the groups into the UI already and we have an open question, when adding a new item to the group, should this "item" be a whole element with all its models? or should every model be added separately? let's say that we have a server with an on/off model and generic level model, should both mod

[2019-03-05 05:48] roshanrajaratnam commented on #170
@SamS3lly please do not open/create issues relating to other repos, it will only cause confusion to other users.

[2019-03-05 11:23] #129 closed

[2019-03-05 11:23] #134 closed

[2019-03-05 11:23] #149 closed

[2019-03-05 11:23] #152 closed

[2019-03-05 11:23] #168 closed

[2019-03-05 11:23] #169 closed

[2019-03-05 14:50] #154 closed

[2019-03-05 14:51] #123 closed

[2019-03-05 14:52] roshanrajaratnam commented on #141
Closing due to inactivity here, please feel free to open this again.

[2019-03-05 14:52] #141 closed

[2019-03-05 14:53] #99 closed

[2019-03-05 15:10] #41 closed

[2019-03-05 15:43] DevelopertwoAtBubblyNet opened #173 "Publishing address not working version 1.2.0"
---

**Describe the bug**
When I go to a client model and attempt to publish to an address the address does not stick once I tap apply. This just started happening on version 1.2.0.
I believe it has something to do with addresses now being ints instead of byte arrays.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Client model
2. Click on publish address (C888)
3. Type in address
4. c

[2019-03-05 15:47] zanibonilighting commented on #170
Hi! I would like to help my colleague a bit here :)
You are right, we shouldn't mix up repos questions, but the functionality relates to both, Android and iOS, but still is not good to mix different questions even if they are related, so I will post another separate question. Thanks!

[2019-03-05 16:17] zanibonilighting opened #174 "when adding items to groups, should be whole elements with all its models or individual models?"
**Is your feature request related to a problem? Please describe.**
More than a feature request is more a question regarding the specification / general implementation.
A quick summary, we ran the current Android groups implementation with few test users (friendly clients) and they found it a bit confusing and nonintuitive.

**Describe the solution you'd like**
They asked if the groups configuratio

[2019-03-05 23:17] SamS3lly opened #175 "Generic level & on/off states for groups"
When sending generic on/off and / or generic level messages to an element, current implementation requires a source address as well as a destination address, no matter what goes into the source address (e.g: Group address, Proxy unicast)
It will still control everything the same.

Should this happen, what is the correct source address we should use?

How should "group controls" work? whats the cor

[2019-03-06 07:27] roshanrajaratnam commented on #173
@DevelopertwoAtBubblyNet Thanks for reporting this issue. I will send out a fix for this.

[2019-03-06 08:02] roshanrajaratnam commented on #175
Hi @SamS3lly , this is up to the user, you can use a group address or a unicast address depending on what your destination is. If you want to send a message to a group, use a group address as the source or unicast address if you are sending it to the model itself.

Also we would prefer opening a new issue for a newer question but i will answer it here for now. When you subscribe an model to a grou

[2019-03-06 08:02] #175 closed

[2019-03-06 09:23] #173 closed

[2019-03-06 09:36] roshanrajaratnam commented on #174
@zanibonilighting Grouping can be a bit confusing. One of the things we thought about was going through all the elements and selecting the models can be a bit confusing for a user as well because there could be a lot of elements and models within a node. In addition automating this process of subscribing the models to a group can be a bit cumbersome because messages are not guaranteed to be delive

[2019-03-06 09:56] roshanrajaratnam commented on #170
@zanibonilighting Thanks for understanding and we are happy to help and its easier to keep track of :)

[2019-03-06 10:31] kcjian opened #178 "Publish Period settings do not work"
![321551864653_ pic](https://user-images.githubusercontent.com/15611112/53872766-defdcf80-4039-11e9-9585-a9a004f0ab4a.jpg)

 hi，according to the Mesh protocol I think
 **int period=(resolution << 6) | steps ;**
but in the [ConfigModelPublicationSet.java]( https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/master/android-nrf-mesh-library/meshprovisioner/src/main/java/no/nordicsemi

[2019-03-11 07:51] roshanrajaratnam commented on #178
@kcjian Thanks for reporting this. It is broken!

[2019-03-11 08:08] kcjian commented on #178
I found this problem in many places, such as SceneRecall,GenericOnOffSet, looking forward to your updates.

[2019-03-11 09:29] roshanrajaratnam commented on #178
I have merged this to dev branch now and it should work for you!

[2019-03-11 09:34] kcjian commented on #178
@roshanrajaratnam Thank you ~

[2019-03-14 10:10] roshanrajaratnam commented on #148
@HaukeRa I have managed to implement [this](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/commit/a9fc8fecb56a79be595e2da3cfdeec793474ead8). Let me know how this tests out for you.

[2019-03-19 22:05] #174 closed

[2019-03-20 08:26] roshanrajaratnam commented on #174
@zanibonilighting sorry I missed out on this issue. it's nice that its automated and I like this approach that you get to select the keys and then the models and they will be bound automatically!

[2019-03-26 14:35] #178 closed

[2019-03-28 10:28] #72 closed

[2019-03-28 10:28] #147 closed

[2019-03-28 12:36] DevelopertwoAtBubblyNet commented on #72
May I ask why this was originally added, then removed, and then eventually closed? This is a feature I have been attempting to get working but have been struggling with. Any hints on how to go about adding it? I understand its probably not a top priority for you.

[2019-03-29 07:14] roshanrajaratnam commented on #72
Hi @DevelopertwoAtBubblyNet, this is more like a feature towards the app not the library itself so its not a top priority for us, but it still remains in our internal backlog. One way to implement this is to divide the seekbar in to 10 or 20 points and when reaching each point you can send an unacknowledged generic level message, this way you will not overwhelm with so many messages.

[2019-04-03 11:35] DomiR opened #193 "After import from json it should also save it to db"
https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/master/android-nrf-mesh-library/meshprovisioner/src/main/java/no/nordicsemi/android/meshprovisioner/MeshManagerApi.java#L1053

We probably want to add `mMeshNetworkDb.updateNetwork(mMeshNetworkDao, mMeshNetwork);` there as well...

[2019-04-11 07:45] kcjian opened #195 "the unicast address of the connected node"
After connecting to the network, how can I know the unicast address of the connected node?

[2019-04-14 00:41] roshanrajaratnam commented on #195
Hi @kcjian The only way to find which node we are connected to is send a proxy filter message. You can only send them to only a proxy node with destination address set to 0x0000.

[2019-05-07 05:52] #195 closed

[2019-05-07 05:52] #162 closed

[2019-05-08 08:27] ximplarandy opened #196 "Responding from vendor model longer than 8 bytes"
---

**Describe the bug**
I have a vendor model, and I use the mesh app to send data to the server element.  With a status reply of fewer or equal to 8 bytes (when the message is not segmented).  However, longer messages which are sent in segments, would output an error message "Segment received is from a different src than the one we are processing, let's drop it" would appear, and no message is

[2019-05-08 11:03] roshanrajaratnam commented on #196
@ximplarandy Could you provide your specific vendor model example I can test against?

[2019-05-08 11:44] WangManAndroid opened #197 "Segment received is from a different src than the one we are processing, let's drop it"
i got problem,
05-08 19:18:04.253 16867-16882/no.nordicsemi.android.nrfmeshprovisioner V/NetworkLayer: Dst: 0x7FFF
05-08 19:18:04.253 16867-16882/no.nordicsemi.android.nrfmeshprovisioner V/NetworkLayer: Received a segmented access message from: 0032
05-08 19:18:04.253 16867-16882/no.nordicsemi.android.nrfmeshprovisioner V/NetworkLayer: current unicastAddress: 0031
05-08 19:18:04.253 16867-16882/no

[2019-05-09 00:55] ximplarandy commented on #196
@roshanrajaratnam , I need to get approval for sending the files.  However, the issue is not really about any specific model, but rather the few lines that I pointed out.  I would guess if I am reading from a model at the top, the two unicast addresses would be the same, and hence no problem.   I am wondering what the purpose of the statements.

[2019-05-09 00:58] ximplarandy commented on #197
This potentially is the same issue that I am facing?

[2019-05-09 01:29] WangManAndroid commented on #197
android {
    compileSdkVersion 28
    buildToolsVersion '28.0.3'

    defaultConfig {
        applicationId "no.nordicsemi.android.nrfmeshprovisioner"
        minSdkVersion 18
        targetSdkVersion 28
        versionCode 29
        versionName "1.2.1"
        testInstrumentationRunner "android.support.test.runner.AndroidJUnitRunner"
        multiDexEnabled true
        vectorDrawables.useSuppo

[2019-05-09 05:33] roshanrajaratnam commented on #197
closing issue in favour of #196

[2019-05-09 05:33] #197 closed

[2019-05-09 05:50] roshanrajaratnam commented on #196
Well the current dev branch should have ideally had removed this lines because now the library can process messages from different addresses simultaneously. Therefore these lines can be removed.

[2019-05-09 13:42] ximplarandy commented on #196
thanks! Removed and everything works.

[2019-05-09 13:42] #196 closed

[2019-05-10 12:09] SachienRaj opened #198 "Invoking a method in MeshProvisionerActivity"
In the MeshProvisionerActivity, i want to invoke the "mViewModel.getMeshManagerApi().startProvisioningWithStaticOOB(node);" method when i start the activity. Somehow I modified the code to invoke the method, but a ClassCastException is thrown (java.lang.ClassCastException: no.nordicsemi.android.meshprovisioner.provisionerstates.ProvisioningPublicKeyState cannot be cast to no.nordicsemi.android.mes

[2019-05-13 07:09] roshanrajaratnam commented on #198
Hi @SachienRaj I suppose you are trying to provision a device? If that's the case you have to call identify node first and then call start provision after.

[2019-05-23 01:11] WangManAndroid opened #200 "How I Check VirtualAddress validate?"
when I Send ConfigModelSubscriptionVirtualAddressAdd  Message ,then  the Server  response ConfigModelSubscriptionStatus message   and  then  how  i  check mSubscriptionAddress  validate?

[2019-05-23 06:11] #198 closed

[2019-05-23 06:14] roshanrajaratnam commented on #200
Hi @WangManAndroid you can call `MeshAddress.generateVirtualAddress(@NonNull final UUID uuid)` to see if they are the same. Hope this answers your question.

[2019-05-23 06:19] WangManAndroid commented on #200
i cant  see  this methord

`package no.nordicsemi.android.meshprovisioner.utils;

import android.support.annotation.NonNull;

import java.util.Locale;

/**
 * Abstract class for bluetooth mesh addresses
 */
@SuppressWarnings({"WeakerAccess", "unused"})
public final class MeshAddress {

    //Group address start and end defines the address range that can be used to create groups
    public static f

[2019-05-23 06:29] roshanrajaratnam commented on #200
@WangManAndroid it's on the latest dev [branch](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/dev/android-nrf-mesh-library/meshprovisioner/src/main/java/no/nordicsemi/android/meshprovisioner/utils/MeshAddress.java#L206). So you might have to pull the latest changes on the dev branch.

[2019-05-23 07:02] WangManAndroid commented on #200
thanks a lot !

[2019-05-23 07:03] #200 closed

[2019-05-24 07:06] roshanrajaratnam commented on #193
@DomiR Currently importing a new network will [insert](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/master/android-nrf-mesh-library/meshprovisioner/src/main/java/no/nordicsemi/android/meshprovisioner/MeshManagerApi.java#L1052) the network straightaway instead of updating and I have also added a conflict strategy to replace old data if the network exists already.

[2019-05-24 07:06] #193 closed

[2019-05-29 07:31] MeenalBahua opened #203 "'sendGenericOnOffGet' doesn't call 'updateMeshMessage' when invoked from onCreate"
---

When i tried to invoke sendGenericOnOffGet from onCreate method in GenericOnOffServerActivity. it never invokes updateMeshMessage. If we invoke sendGenericOnOffGet through a click event it works fine. During debug or if i add some delay before invoking the the get call, it works fine. What could be the possible reason for this behaviour?

[2019-05-29 07:38] roshanrajaratnam commented on #203
@MeenalBahua may be you send this before the observer is set up the observer?

[2019-05-29 08:24] WangManAndroid opened #204 "Scanning Provisioned Node Went Wrong"
2019-05-29 16:20:27.086 25987-25987/no.nordicsemi.android.nrfmeshprovisioner W/System.err: java.lang.NullPointerException: Attempt to get length of null array
2019-05-29 16:20:27.087 25987-25987/no.nordicsemi.android.nrfmeshprovisioner W/System.err:     at org.spongycastle.crypto.params.KeyParameter.<init>(KeyParameter.java:13)
2019-05-29 16:20:27.088 25987-25987/no.nordicsemi.android.nrfmeshprovi

[2019-05-29 08:26] WangManAndroid commented on #204
when we relaunch  app  i found  the  filed  identityKey   is null

[2019-05-29 08:32] roshanrajaratnam commented on #204
Thanks for reporting this, I'll take a look and get back to you on this.

[2019-05-29 08:47] MeenalBahua commented on #203
No, Observer is called in the base class (BaseModelConfigurationActivity) itself.

[2019-05-29 08:53] roshanrajaratnam commented on #203
Yes that's right, However have you checked if you get a reply from the device at all?

[2019-05-29 09:49] MeenalBahua commented on #203
Yes, We do receive reply from the device, and i traced its path till 'parseNotifications' in MeshManagerApi. It also But after this it looses its reference. 'parseMeshMsgNotifications' from BaseMeshMessageHandler never gets called. The 'unsegmentedPdu' is of the type 'PDU_TYPE_NETWORK', so it enters the correct switch case as well.

[2019-05-29 12:36] MeenalBahua commented on #203
Resolved it. There was issue due to multiple observers for same SingleLiveData object.

[2019-05-29 13:29] roshanrajaratnam commented on #203
Great, was this happenning in the original app or did it happen after your changes?

[2019-05-30 05:05] MeenalBahua commented on #203
Yes. To reproduce it, call the get method from onCreate in any of the model activities. The observer callback goes to previous activity (nodeconfiguration) instead of the model activity(like GenericOnOffActivity). I changed mMeshMessageLiveData in NrfMeshRepository from SingleLiveEvent to MutableLiveData.

[2019-05-30 05:27] roshanrajaratnam commented on #203
Right I see, but making it mutable live data will notify all observers including the nodeConfiguration and also will update every time you rotate the screen. May be you can remove the observer onStop() and set it again in onStart()

[2019-05-30 06:02] MeenalBahua commented on #203
Ok, OnStop gets called a little after next activity's OnCreate. OnPause was a better place to remove observer.

[2019-05-30 06:08] #203 closed

[2019-06-15 04:59] WangManAndroid opened #205 "Provisioning public key received..."
`06-15 12:57:23.670 25972-25983/no.nordicsemi.android.nrfmeshprovisioner D/BluetoothGatt: onCharacteristicWrite() - Device=38:D2:CA:03:07:11 UUID=00002adb-0000-1000-8000-00805f9b34fb Status=0
06-15 12:57:23.670 25972-25983/no.nordicsemi.android.nrfmeshprovisioner V/BleMeshManager: Data written: 0x03020000000000
06-15 12:57:23.670 25972-25983/no.nordicsemi.android.nrfmeshprovisioner V/MeshManagerAp

[2019-06-20 10:13] WangManAndroid opened #206 "relaunch app Rarely appear below ！"
`---

**Describe 06-20 18:10:03.718 14808-14837/no.nordicsemi.android.nrfmeshprovisioner W/System.err: java.lang.RuntimeException: An error occured while executing doInBackground()
06-20 18:10:03.718 14808-14837/no.nordicsemi.android.nrfmeshprovisioner W/System.err:     at android.os.AsyncTask$3.done(AsyncTask.java:300)
06-20 18:10:03.718 14808-14837/no.nordicsemi.android.nrfmeshprovisioner W/Syst

[2019-06-20 10:43] #206 closed

[2019-06-21 03:15] #205 closed

[2019-06-24 06:01] MeenalBahua opened #207 "Light CTL Temperature Get not working on Android"
Light CTL Temperature Get message does not return relevant Status message.
 I implemented the Light CTL Temperature Get & status messages inline with the other Models already implemented. But when i invoke send message, it never invokes the response status message.

While debugging, I have observed that when the response message is received, it comes till "private AccessMessage parseAccessMessage"

[2019-06-24 06:09] roshanrajaratnam commented on #207
Hi @MeenalBahua Did you add the status message opcode [here](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/master/android-nrf-mesh-library/meshprovisioner/src/main/java/no/nordicsemi/android/meshprovisioner/transport/DefaultNoOperationMessageState.java#L66)? Could you also log the source addresses and see if you are receiving any messages from a different node at the same ti

[2019-06-24 06:39] MeenalBahua commented on #207
Yes, the Opcode is added in the respective file. Also, I have only one node i am using for development. And the message received is from the same node. Though in othet case of other all othet Models/opcodes, "if (isSegmentedMessage(decryptedNetworkPayload[2]))" returns false, but in case of CTL Temperature, it returns True.

[2019-06-24 06:46] roshanrajaratnam commented on #207
It depends on the device you are communicating with because some devices may send it as a segmented message for extra security and also if the message is too long to be sent in one message. Could you pull the changes from the latest current dev branch to see if it fixes your issue?

[2019-06-24 06:54] MeenalBahua commented on #207
Let me check.

[2019-06-24 10:56] MeenalBahua commented on #207
Here's whats happening:

In the current setup, only CTL Temperature Status message is segmented. When we receive a segmented message, It checks if the src address of received message is same as the nodes unicast address. Unicast address for a node in android app is referenced by address of 1st Element in that node(Say 0001). Now when we click on CTL Temrature server, it is 2nd Element in the node(

[2019-06-25 05:37] roshanrajaratnam commented on #207
@MeenalBahua Right I see, actually this line is not needed anymore since I have implemented the concurrent processing of messages and this means each address will have its own mesh layers. Thanks for debugging this for me. if you want o contribute towards the repo you can also send us a pull request.

[2019-06-26 21:16] BubblyNetDev opened #208 "Importing network can't bind key config model"
---

**Describe the bug**
After importing a network from another device, unable to bind key or publish.

**To Reproduce**
Steps to reproduce the behavior:
1. Export network
2. Import network on new device
3. Navigate to configuration model
4. See error

**Expected behavior**
Ability to bind key to configuration model after importing a network.

**Platform details:**
 - Device: Galaxy Tab S5E
 - OS

[2019-06-26 21:23] BubblyNetDev opened #209 "Unable to bind configuration server"
---

**Describe the bug**
Unable to bind key to configuration server

**To Reproduce**
Steps to reproduce the behavior:
1. Go to configuration server
2. Click on bind key
4. See error

**Expected behavior**
Ability to bind key

**Platform details:**
 - Device: Galaxy Tab S5E
 - OS: Android 9.0
 - Library Version (dev and master branches)

**Logs / Screenshots**
![Screenshot_20190626-172009_nRF Mes

[2019-06-27 05:41] roshanrajaratnam commented on #208
Hi, you cannot bind a key to a configuration server.

[2019-06-27 05:41] #208 closed

[2019-06-27 05:41] roshanrajaratnam commented on #209
Hi, you cannot bind a key to a configuration server.

[2019-06-27 05:41] #209 closed

[2019-06-27 12:23] BubblyNetDev opened #210 "Disabling Relay"
---

**Describe the bug**
When turning off the enable relay toggle the node does not change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Configuration server
2. Click on set relay button
3. Switch toggle off
4. See error

**Expected behavior**
When the relay is off the node is no longer a relay.

**Platform details:**
 - Device: Galaxy Tab S5E
 - OS: Android 9.0
 - Library Version

[2019-06-27 12:38] PM-BubblyNet commented on #210
hi!

We found a toggle on the configuration server model that seems to be intended to enable/disable the relay functionality, we tested but its not really doing nothing on the node I believe?

Then we found https://infocenter.nordicsemi.com/index.jsp?topic=%2Fcom.nordic.infocenter.meshsdk.v3.1.0%2Fmd_MIGRATION_GUIDE.html on the Migration from v2.0.1 to v2.2.0 it says: Note that the transport-layer

[2019-06-27 13:07] roshanrajaratnam commented on #210
@BubblyNetDev Please don't create duplicate questions both on Devzone and Github this will only cause confusion for all users. However our tech support will get back to you on this.

[2019-06-27 13:10] #210 closed

[2019-06-27 13:16] PM-BubblyNet commented on #210
Confusion? why? this github is for the Android provisioning library and the question on DevZone is about the SDK, they are not duplicated questions but 2 separate questions related to each other, and when this happens its good practice and very helpful to link the questions.
For example, when I asked the question on the DevZone couple weeks ago it wasn't pointed out that the Android Library alread

[2019-06-27 21:57] BubblyNetDev opened #211 "Question: Min SDK"
Hey,

Was wondering if there would be any issues increasing the min SDK to 21?

[2019-06-28 03:11] WangManAndroid commented on #207
`  public static boolean isSrcInNode(ProvisionedMeshNode node,int src){
      List<Element>elements=new ArrayList<>(node.getElements().values()) ;
      if (elements.isEmpty())return true;
      boolean dstInNode=false;
      for (int i = 0; i <elements.size() ; i++) {
          String src1=MeshAddress.formatAddress(elements.get(i).getElementAddress(),false);
          String src2=MeshAddress.form

[2019-06-28 05:45] roshanrajaratnam commented on #211
We prefer supporting all devices that supports bluetooth low energy (sdk 18 and onwards). AFAIK, I don't think you are allowed to have two different min sdk versions in the app and the library. Therefore you'll have to update this in your own implementation (both app and lib) and I don't think it should be a problem.

[2019-06-28 05:46] roshanrajaratnam commented on #207
@MeenalBahua did you have any luck with this?

[2019-06-28 09:15] MeenalBahua commented on #207
Yes. In the current src code I added the following check for elements, which seems to working fine as of now:

`//Check if the received segmented message is from the same src as the previous segment
                if (src != mMeshNode.getUnicastAddress()) {
                    ///Code added to check unicast addr for all elements for a node : Meenal
                    Map<Integer, Element> tempEl

[2019-06-28 11:56] BubblyNetDev commented on #211
Sounds good, thank you.

[2019-06-28 11:56] #211 closed

[2019-07-01 05:48] roshanrajaratnam commented on #207
@MeenalBahua Ok great sounds great. In my opinion, if you're using the current dev version of the library, you can remove that check completely.

[2019-07-01 06:06] MeenalBahua commented on #207
Currently i am using the master version for the lib and its already into UAT. Though at some point i will have to integrate with updated dev version. By when do you plan to merge the current dev into master?

[2019-07-01 06:08] roshanrajaratnam commented on #207
I am nearing a release, so probably either later today or tomorrow.

[2019-07-01 06:19] MeenalBahua commented on #207
Ok. I guess i can plan something later next week to merge the new master into my current app.

[2019-07-10 07:49] roshanrajaratnam commented on #204
Hi @WangManAndroid sorry for the delay, yes this is certainly a bug in the library. Currently the identity key is not stored as a property of the mesh node. Howeer it should be part of the network key because its derived using a network key. await a fix!

[2019-07-18 15:16] dominicbar opened #214 "Connection failure after provisioning"
2019-07-18 20:26:08.093 23990-23990/no.nordicsemi.android.nrfmeshprovisioner D/BluetoothGatt: registerApp()
2019-07-18 20:26:08.094 23990-23990/no.nordicsemi.android.nrfmeshprovisioner D/BluetoothGatt: registerApp() - UUID=c5d4d7d1-72c1-433c-b4f6-dcf38145ad0c
2019-07-18 20:26:08.098 23990-24018/no.nordicsemi.android.nrfmeshprovisioner D/BluetoothGatt: onClientRegistered() - status=0 clientIf=7
201

[2019-07-18 23:40] roshanrajaratnam commented on #214
Hi @dominicbar, I see the error code appears to be 133. This usually happens on Android due to a connection timeout that can happen and ble resources not being released. I have added some delays before starting a connection to avoid this as much as possible, but this does not mean that it can never happen. Have you made any changes?

[2019-07-23 08:39] kcjian opened #215 "Sensor and Light linkage"
@roshanrajaratnam Hi，I have an idea. When the light is on, I store a scene, scene ID is 1. I want to turn on the light when the door magnetic sensor detects that the door is open. How can I use the scene function to set up the door magnetic sensor? Where can I find the documentation or sample code？

Look forward to your reply.

[2019-07-29 06:04] dev-sareno opened #216 "Uncalled onUnknownPduReceived()"
Hi, i've encountered a problem handling the unknown pdu without modifying the library, seems like MeshStatusCallbaks.onUnknownPduReceived() isn't called on [this line](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/aa21e2d6c6be5bad5a9b9bcb4bf91f58ec11c7d6/android-nrf-mesh-library/meshprovisioner/src/main/java/no/nordicsemi/android/meshprovisioner/transport/DefaultNoOperationM

[2019-07-29 06:08] dev-sareno commented on #214
I've encountered the same issue before but so far it was lessen after upgrading the no.nordicsemi.android:ble from 1.2.0 to 2.1.1

[2019-07-29 06:30] dominicbar commented on #214
where can i get the 2.1.1?
on playstore it is 1.2.1

[2019-07-29 06:37] roshanrajaratnam commented on #214
@dev-sareno Right, I'll look in to migrating to BLE library 2.1.1. @dominicbar dev-sareno is referring to the ble library used in the app

[2019-07-29 06:50] roshanrajaratnam commented on #214
@dominicbar @dev-sareno which mesh sdk are you using?

[2019-07-29 06:52] dominicbar commented on #214
We are using 1.2.1 SDK

[2019-07-29 06:54] roshanrajaratnam commented on #214
@dominicbar I am refering to the Mesh SDK on the fw.

[2019-07-29 07:14] xiaofengming opened #217 "error 133"
133 error when identifyNode and startProvisioning ?

[2019-07-29 07:59] dev-sareno commented on #214
me too v1.2.1

[2019-07-29 08:06] dominicbar commented on #214
@roshanrajaratnam 1.2.1 mesh sdk

[2019-07-29 08:09] dominicbar commented on #214
One thing we have noticed is that, it works fine for most of the redmi phones, 10 out of 10 times,
but for other phones it works fine 6/10 times

[2019-07-29 08:13] roshanrajaratnam commented on #214
There is no 1.2.1 version for nRF5 SDK for mesh, what you are referring to is the Android Library for Mesh. It has to be one of the versions listed [here](https://www.nordicsemi.com/Software-and-Tools/Software/nRF5-SDK-for-Mesh/Download#infotabs).

@dominicbar yeah like I said this is mostly an Android issue...What are the other phones you are referring to here? What make and model are they?

[2019-07-29 08:25] dominicbar commented on #214
@roshanrajaratnam  we are using
v3.0.0 nRF5 SDK for Mesh Software Development Kit

other phones are
asus zenphone max pro m1, m2,
lenovo A700-a,
moto G5,
Samsung J7

[2019-07-30 06:06] dev-sareno commented on #217
Similar to [this one](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/issues/214#issue-469830873).

[2019-07-30 07:21] xiaofengming commented on #214
What is your solution?

[2019-07-30 07:24] xiaofengming commented on #217
What is your solution?

[2019-07-30 10:01] dev-sareno commented on #217
I upgraded the BLE library from 1.2.0 to 2.1.1 as i mentioned [here](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/issues/214#issuecomment-515857878). It doesn't totally fixed the solution but however it lessen the occurrence of 133 error.

[2019-07-31 02:40] xiaofengming commented on #217
Execute this getNrfMeshRepository().getBleMeshManager().refreshDeviceCache();  before connecting

but it reduced the occurrence of 133 errors.

[2019-07-31 05:29] roshanrajaratnam commented on #217
@xiaofengming This is already done during every disconnect. Also @dev-sareno the reason for BLE library version 2.1.1 lessens this issue is that it has a retry mechanism implemented.

[2019-07-31 06:05] roshanrajaratnam commented on #216
@dev-sareno Nice catch, I'll fix this on the dev branch straight away.

[2019-07-31 06:47] xiaofengming commented on #217
Version 2.1.1 is not compatible with your library

[2019-07-31 07:35] roshanrajaratnam commented on #217
@xiaofengming yes it's in the backlog to be added

[2019-08-01 09:45] MeenalBahua commented on #207
I was wondering if & when you will be merging the current dev branch changes in the master branch? Or if the dev branch good enough to use for long term development?

[2019-08-01 11:27] roshanrajaratnam commented on #207
@MeenalBahua sorry it took a little longer than expected. However we are quite close to a release like I said last time ;)

In my opinion dev is good enough for long term development.

[2019-08-06 09:51] #34 closed

[2019-08-06 11:11] #151 closed

[2019-08-06 11:19] #148 closed

[2019-08-06 11:19] #167 closed

[2019-08-06 11:19] #204 closed

[2019-08-06 11:19] #207 closed

[2019-08-06 11:19] #216 closed

[2019-08-06 11:19] #133 closed

[2019-08-07 05:21] dev-sareno opened #228 "Redundant variable used"
Redundancy of variable used on [this line](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/87398b39004855f9e8eb54b840225104c3f1bc3c/Example/nrf-mesh/app/src/main/java/no/nordicsemi/android/nrfmeshprovisioner/ble/BleMeshManager.java#L141), **mMeshProvisioningDataInCharacteristic** is being used twice. Might be use like [this one](https://github.com/NordicSemiconductor/Android-n

[2019-08-07 06:29] #228 closed

[2019-08-13 13:02] DomiR opened #237 "Delta uv needs to be between 0x8000 and 0x7fff"
**Describe the bug**
The check should check for values between -32768 and 32767 because 0x8000 signed integer wont be converted in java. Same goes for unack message.

https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/d6fe80047d83bc17114b6f43b90e46c5c242ff23/android-nrf-mesh-library/meshprovisioner/src/main/java/no/nordicsemi/android/meshprovisioner/transport/LightCtlSet.java#L82

[2019-08-14 05:37] roshanrajaratnam commented on #237
@DomiR, thanks for reporting this. Unfortunately i don't have any devices to test this message. Any chance you could test this and send in a pull request?

[2019-08-20 05:00] MeenalBahua opened #238 "List of Changes in latest merge in master"
Hi,

I can some visible changes (like code review and bug fixes) in the latest Master branch. But, can you please list down anything specific or major changes or fix which will help in understanding the latest code merge.

Thank you.

[2019-08-20 06:24] roshanrajaratnam commented on #238
Hi the summary of changes are listed here #227. Hop this helps

[2019-08-20 06:59] MeenalBahua commented on #238
Yes. It definitely helps. Thank you.

[2019-08-20 06:59] #238 closed

[2019-08-24 23:00] HaukeRa commented on #141
Sorry for the inactivity. ApplicationKey/MeshKey by now implements equals() in a compatible way.
This should resolve this issue.

[2019-08-27 09:40] xiaofengming opened #239 "hello，Messages always accept errors"
DefaultNoOperationMessageState: Message reassembly may not be completed yet!

[2019-08-27 10:41] roshanrajaratnam commented on #239
Hi sorry about this, could you elaborate the issue please?

[2019-08-27 11:44] xiaofengming commented on #239
not solved ！ The message can be done, but I think the return data is too slow，
I want to accept the message quickly.

[2019-09-03 09:16] WangManAndroid commented on #239
我的用的就很正常啊  你是哪家公司？

[2019-09-03 09:17] WangManAndroid commented on #239
你看看是否是你们硬件协议栈问题    我用的就很正常

[2019-09-04 02:08] WangManAndroid opened #240 "BleManager error!"
09-03 20:43:35.880 23061-29332/no.nordicsemi.android.nrfmeshprovisioner W/BluetoothGatt: Unhandled exception in callback
    java.util.NoSuchElementException
        at java.util.LinkedList.removeFirstImpl(LinkedList.java:689)
        at java.util.LinkedList.removeFirst(LinkedList.java:676)
        at java.util.LinkedList.poll(LinkedList.java:895)
        at no.nordicsemi.android.ble.BleManager$Bl

[2019-09-04 02:36] #240 closed

[2019-09-04 14:07] xiaofengming commented on #239
深圳一家公司，循环设置ConfigModel 类的消息（比如BoundAppKey ，PublicationSet），你有收不到的情况吗？

[2019-09-05 02:00] WangManAndroid opened #243 "BluetoothGatt: Unhandled exception in callback"
9-03 20:43:35.880 23061-23120/no.nordicsemi.android.nrfmeluetoothGatt: onCharacteristicWrite() - Device=11:11:11:1000-1000-8000-00805f9b34fb Status=09-03 20:43:35.880 23061-23120/no.nordicsemi.android.nrfmeleMeshManager: Data written: 0xC05EC309FE8ADA509-03 20:43:35.880 23061-23120/no.nordicsemi.android.nrfmeluetoothGatt: Unhandled exception in callback java.util.NoSuchElementException at java.uti

[2019-09-05 02:14] WangManAndroid commented on #239
正常的ConfigMessage  GenericMessage 都会在150+（50*TTL）ms  收到，如果经常收不到你的抓包看看了，很有可能是你们硬件协议栈问题。我这边也会有时收不到相应的Status，但是很少很少。

[2019-09-05 02:48] WangManAndroid commented on #239
case MeshManagerApi.PDU_TYPE_NETWORK:

                    //This is not possible however let's return null
                    if (provisionerAddress == null) {
                        return null;
                    }

                    //Check if the message is directed to us, if its not ignore the message
                    if (provisionerAddress != dst) {
                        Log.v(TAG

[2019-09-05 06:55] WangManAndroid opened #244 "How we deal with IV Update procedure?"
if  Sequence Number = 16777216    what  should   i do?

[2019-09-05 08:40] roshanrajaratnam commented on #244
@WangManAndroid Currently we don't support the IV Update procedure yet. We will add this sometime soon

[2019-09-05 08:41] roshanrajaratnam commented on #243
@WangManAndroid This looks liek an issue in the Bluetooth Library. Have you changed anything here?

[2019-09-06 01:55] WangManAndroid commented on #243
`/*
 * Copyright (c) 2015, Nordic Semiconductor
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
 *
 * 2. Redistributions in binary form must

[2019-09-06 01:57] WangManAndroid commented on #243
Is there concurrency in this library？

[2019-09-06 07:10] HaukeRa opened #245 "BaseMeshMessageHandler sequence numbers not properly checked"
---

**Describe the bug**
Duplicate messages are not ignored. The sequence number is effectively only checked if it has the right format. If that is the case it is always accepted, even if it is the same as the last packet or even older.

**To Reproduce**
While this doesn't happen with a GATT bearer, because the proxy will probably never pass duplicate messages, it happens with an Advertising bear

[2019-09-06 07:53] roshanrajaratnam commented on #245
@HaukeRa thanks for reporting this, it indeed is a nice catch.

[2019-09-06 08:41] WangManAndroid commented on #244
@roshanrajaratnam    well  got  it

[2019-09-09 10:13] WuLFGit commented on #205
Hi @WangManAndroid ,

i have the same issue when trying to provision. Could you please explain what was the problem for you and how did you resolve?

Thank you in advance!

[2019-09-09 11:09] zhangping001 commented on #214
error 133问题有解决方案吗？悲剧，一直连接不上！

[2019-09-09 11:52] zhangping001 commented on #217
mHandler.postDelayed(new Runnable() {
            @Override
            public void run() {
                ConnectRequest connectRequest = mBleMeshManager.connect(bluetoothDevice);
               // mBleMeshManager.internalConnect(bluetoothDevice,connectRequest);//private method !!!!!
            }
        },1000);

in lib 2.1.1,Internal private method, how to connect BLE?

[2019-09-10 00:52] zhangping001 opened #246 "BLE connections often offline"
**After each successful connection, about a minute to disconnect! The following is the log:**

09-10 08:49:43.477 13955-13955/no.nordicsemi.android.nrfmeshprovisioner V/BleManager: Connecting...
09-10 08:49:43.477 13955-13955/no.nordicsemi.android.nrfmeshprovisioner D/BleManager: gatt = device.connectGatt(autoConnect = false, TRANSPORT_LE)
09-10 08:49:43.478 13955-13955/no.nordicsemi.android.nrfme

[2019-09-10 05:45] roshanrajaratnam commented on #246
Hi @zhangping001 if you look at the logs the error is 0x13, which means the Gatt connection was terminated by the peripheral.

[2019-09-10 08:06] xiaofengming commented on #239
Gatt链接的设备木有回不来情况，周围mesh设备config类型消息很大概率回不来

[2019-09-10 20:01] WuLFGit commented on #214
Hi everyone! i don't know if this may be useful, but i noticed that this error seems to happen only after i already provisioned the first device. From testing, i see that closing and re-opening my app let me provision another node, but then i get error code 133 again for further nodes. Only if i re-start my app over and over i can provision multiple nodes without getting the error. Could it be tha

[2019-09-11 03:28] xiaofengming commented on #239
@roshanrajaratnam hello，The mesh device is not a gatt device, and there is always a situation where ConfigMessage cannot receive it.

[2019-09-11 07:48] roshanrajaratnam commented on #239
Hi @xiaofengming what do you mean by the mesh device is not a gatt device? If the device supports the Mesh Provisioning Service and Proxy Service it will can communicate over the GATT bearer. Currently our sample application does not have the Advertising bearer implemented. The users of this library are welcome to implement their own advertising bearer and use the library as it is. Hope this answe

[2019-09-11 07:55] xiaofengming commented on #239
@roshanrajaratnam The proxy device will not accept the ConfigMessage failure. The device forwarded by the proxy will accept the ConfigMessage failure, not 100%, but it is very frequent.

[2019-09-11 07:58] roshanrajaratnam commented on #239
@xiaofengming have you checked the TTL to make sure if the message can reach the end device via the proxy?

[2019-09-12 06:46] xiaofengming commented on #239
globalTtl = 5 ，node  publishTtl =16；

[2019-09-16 05:58] WangManAndroid commented on #214
@xiaofengming   你可以等待入网完毕后，延迟2s然后再连接，不必再次扫描，前提是保存刚才入网的设备BluetoothDevice，这样极大加快后续操作流程

[2019-09-20 09:45] xiaofengming opened #247 "MeshMessageState: Incomplete timer has expired, all segments were not received!"
hello ,@roshanrajaratnam
2019-09-20 17:38:45.498 19450-19462/no.nordicsemi.android.nrfmeshprovisioner V/NetworkLayer: Received a segmented access message from: 0002
2019-09-20 17:38:45.498 19450-19462/no.nordicsemi.android.nrfmeshprovisioner V/LowerTransportLayer: SEG O: 0
2019-09-20 17:38:45.498 19450-19462/no.nordicsemi.android.nrfmeshprovisioner V/LowerTransportLayer: SEG N: 5
2019-09-20 17:38:

[2019-09-23 01:58] NIUNIUN opened #248 "Failed to send message to node after importing network"
---

**Describe the bug**
With the export/import network feature, a message cannot be sent to a node after the network is imported.

**Platform details:**
 - Device: Replay: src 0x0001 dst 0xc000 seq 0x00009c.

**Logs / Screenshots**
![image](https://user-images.githubusercontent.com/24909712/65398170-546b9a80-dde8-11e9-8d2b-5e3f311952da.png)

[2019-09-23 02:40] WangManAndroid commented on #247
@xiaofengming   你们的mesh 协议栈是自己开发的么？我使用就很正常，像这种问题你们应该跟你们协议栈开发人员 沟通。

[2019-09-23 02:45] WangManAndroid commented on #248
看这个消息应该是分组消息，你看看蓝牙硬件打印,调试一下

[2019-09-23 02:47] WangManAndroid commented on #248
@NIUNIUN   你试试看改一下src地址，有可能是重放保护了

[2019-09-23 06:02] roshanrajaratnam commented on #248
@NIUNIUN After exporting make sure you change the provisiner address as the sequence numbers are not shared the messages sent from the same address on a different phone will fail.

[2019-09-23 07:42] xiaofengming commented on #247
嗯嗯，谢谢！

[2019-09-23 12:51] hariharasudhanPerumalSamy opened #249 "NullPointerException when getting UUID"
---

**Describe the bug**
we try to provision the nrf52840-DK module, with android nordic library version 2.0.5.
sometimes we are getting NullPointer Exception in the middle of the provisioning from ProvisionedMeshNode.java where it tries to get the UUID which gives null.

**Logs / Screenshots**
D/STEPS : ( 8571): PROVISIONING_DATA_SENT
D/OzeoMeshManagerCallbacks( 8571): getMtu
D/OzeoMeshManagerCa

[2019-09-24 02:11] NIUNIUN commented on #248
@roshanrajaratnam thank you!

[2019-09-24 02:11] #248 closed

[2019-09-24 06:02] roshanrajaratnam commented on #249
@hariharasudhanPerumalSamy If you are using the library, please make sure you refresh the device gatt cache as Android uses the cache to avoid service discovery therefore the device will not find the Proxy service after the provisioning is complete. However this might be different from Android version 8 onwards if I am not wrong. In our sample app we do a refresh the gatt cache to avoid this.

[2019-09-24 06:02] #249 closed

[2019-09-24 06:03] roshanrajaratnam commented on #248
@NIUNIUN You're welcome!

[2019-09-24 06:40] WangManAndroid commented on #239
@xiaofengming   这个你得debug,然后发现问题，定位问题原因，我怀疑你们硬件mesh 协议栈问题，我现在开发就用的这个nordic 的demo，有小bug ，有些硬件协议栈实现问题，你得仔细debug,我也是一步一步摸索出来的，最总都能定位是什么问题，都能解决。

[2019-09-24 08:44] antoniovillanova opened #250 "Public key response mismatch when switching no.nordicsemi.android:ble dependency version"
---

I tried to provision a device multiple times failing using no.nordicsemi.android:ble:2.1.1 version. Switching back to no.nordicsemi.android:ble:1.2.0 makes provisioning work back again. What i noticed is a difference between response byte array i receive when sending public key to my device.

May i ask you why this behaviour happens? It sounds weird to me that switching ble library version re

[2019-09-24 15:39] antoniovillanova opened #251 "Sub-mesh networks"
**Is your feature request related to a problem? Please describe.**
In my app i've two requirements:

- to have multiple mesh networks on the same device
- to backup and restore mesh Room database from cloud

**Describe the solution you'd like**
For the first point, is that already possible? If yes, what's the best practice on how to do it with Android-nRF-Mesh-Library structure?

For the second po

[2019-09-24 18:05] isactornberg opened #252 "Quick start / Getting started"
Hey

I am currently trying to port this as well as the iOS-nRF-Mesh-Library to react-native but I am having a rough time picking out the "important/main" parts from the sample and library.

In the readme it's mentioned "_To start using the library in your own project take a look at the following snippet_." but it doesn't seem to contain any information on how to get started with scanning, provisio

[2019-09-25 05:56] roshanrajaratnam commented on #252
Hi @isactornberg, if I were you I would not pick adn choose classes to port it. Instead I would try to implement a wrapper based on the callbacks and the api provided by the mesh library. If not you will end up implementing the whole stack in react.

[2019-09-25 06:02] roshanrajaratnam commented on #251
Hi @WuLFGit, the room databse is designed to handle multiple mesh networks but I have not tested this and there is no api implemented in the mesh library to achieve this as of now. This is something that is already in the backlog so we will add this sometime down the line.

Regarding the second point the importing/exporting a mesh network should allow you to restore the network on different device

[2019-09-25 06:04] roshanrajaratnam commented on #250
It indeed looks different and it should not do that., Are you looking at the same responses?

[2019-09-25 06:05] roshanrajaratnam commented on #246
Closing this due to inactivity, but please feel free to reopen again.

[2019-09-25 06:05] #246 closed

[2019-09-25 06:21] isactornberg commented on #252
Hi @roshanrajaratnam, thanks for your reply.

That sounds like the proper way to go but I feel like the MeshManagerApi with the callback listeners set still lacks some functionality, but I might probably be wrong here.

E.g if I wish to start scanning for unprovisioned nodes and then provision one of them how would I use the API in this case? I can see there are different types of provisioning fun

[2019-09-25 06:35] roshanrajaratnam commented on #252
Hi, so the mesh library is just transport independent. It does not have any scanning or bluetooth connectivity. This is something we have left out from the mesh library allowing users to decide to use a preferred way of scanning and connecting. The example app uses our Scanner-Compat library as well as our BLE library v1.2.0.

[2019-09-25 06:40] philips77 commented on #252
Or BLE Library 2.x.

[2019-09-25 07:38] isactornberg commented on #252
Ah okey then I follow. :+1:

Then I guess you will do all the scanning/writing/reading using the ble library of your choice. How do you interface this with the meshprovisioner? Do you pass data from and to the ble library to be able to read/write information or is there a more straight forward way?

This might be outside this scope and I can probably dig through the example app to see how this wor

[2019-09-25 07:40] WuLFGit commented on #250
Yes, i double checked and the flow i follow is the exact same thing when switching from old ble version to new one.
Provisioning states that are triggered in parseProvisioningNotifications are in order:

- PROVISIONING_CAPABILITIES
- PROVISIONING_START
- PROVISIONING_PUBLIC_KEY

inside PROVISIONING_PUBLIC_KEY, validateMessage is successful with the old version, but unsuccesful with the new one, be

[2019-09-25 08:59] WuLFGit commented on #251
Ok that makes sense.
The only thing that comes to my mind is: What if i have to add a new node on the new device that may be on a different OS? As i read in iOS related post, when we import mesh network on a new device we should create a new Provisioner. Is this really necessary?

Also, what's really needed to save to make sure i can re-create a Provisioner on the new device?

[2019-09-25 09:04] roshanrajaratnam commented on #251
Well this is a requirement by mesh specification and is not related to an OS. Each message sent by a node has a uniqure sequence number that increments which is bound to the address of that node. So a new node means a new address which also means a neq sequence number. There are two approaches here, either you can have  a new provisioner or the second approach would be, change the address of that

[2019-09-25 09:06] roshanrajaratnam commented on #252
Just like you mentioned, its a pretty simple approach we pass data from the ble library to the mesh library. Basically everytime a notificaiton is received this is sent to mesh library. Hope this helps you getting started ;)

[2019-09-25 09:10] WuLFGit commented on #251
Sure. So we can create a new Provisioner to keep provisioning nodes on the same network. I guess i can create the new provisioner with same AppKey and NetKey i used before, right?

[2019-09-25 09:15] WuLFGit commented on #251
Ok, so i guess that a phone device which provisions other nodes is represented as a Provisioner in the mesh network. So to make sure the whole mesh network works on both devices the cleaner approach would be what you suggested. My next question then is: can i create a new provisioner with same AppKeys and NetKeys?

Btw, thank you for you support and quick responses!

[2019-09-25 10:32] roshanrajaratnam commented on #251
Yes you can do this, because a mesh network can have multiple provisioners. Creating a provisioner will always give access to all the keys available in that network

[2019-09-29 05:50] dev-sareno commented on #217
You have to call `connectRequest.enqueue()` for async or  `connectRequest.await()` for sync call.

[2019-09-30 09:51] hariharasudhanPerumalSamy commented on #249
@roshanrajaratnam i referred the sample app, as you mentioned above, you are refreshing the gatt cache on provisioning complete and so we are. but this null exception is happening during provisioning.

[2019-10-03 13:02] roshanrajaratnam commented on #250
@WuLFGit I'm currently busy with some other stuff at the moment. So you might want to continue your development with Ble Library 1.2. This is the same reason why I have mentioned the recomeded version is 1.2 as we have not tested the mesh library with 2.1. However it should ideally work out of the box.

[2019-10-05 05:09] warpfuturechina opened #253 "Please update the README.md"
1. When I read the readme document, I found some incorrect keyword description when comparing with the project file or folder. If you can, fix and update the documentation, thanks!
2. The project documents and library lack more descriptions, so I don't know how they are used and how to integrate them.

[2019-10-07 06:14] roshanrajaratnam commented on #253
@warpfuturechina nice catch, yes looks like the readme was not updated for a while. I'll fix it soon.

[2019-10-07 06:14] #252 closed

[2019-10-07 06:33] roshanrajaratnam commented on #214
Closing this issue. Please feel free to re-open if the need arises.

[2019-10-07 06:33] #214 closed

[2019-10-07 16:07] DevelopertwoAtBubblyNet opened #254 "LC Client Showing as Lightness Client"
---

**Describe the bug**
The LC Client is showing up as Light Lightness Client. It is a simple change in the case statement for LIGHT_LC_CLIENT.

**To Reproduce**
Provision a node with Light Controls Client.

**Expected behavior**
It to show the correct name for Light Controls model.

**Platform details:**
Oneplus 6
android Pie

**Logs / Screenshots**
<img width="819" alt="Screen Shot 2019-10-07

[2019-10-08 16:01] xxfenxx opened #255 "What's the next step after : `public void onScanResult(int callbackType, final ScanResult result) ` in Android"
### meshprovisioner library integration

While the code recevied callback `public void onScanResult(int callbackType, final ScanResult result) ` in Android, I did not know what is the next step（isMeshBeacon）.

**Now I guess：**

1、check Whether or not it a mesh beacon device
2、create a UnprovisionedMeshNode like iOS ? But the UnprovisionedMeshNode  structure function really confuse me.

**And compa

[2019-10-09 04:49] roshanrajaratnam commented on #255
Hi sorry for any inconvenience caused. We will soon be preparing some more documentation. However, in order to provision a node you connect to the node, call identify and then call provision. You don't need to create an unprovisioned node yourself. You may also refer the sample Android app.

[2019-10-09 07:45] xiaofengming opened #256 "update networkkey fail"
@roshanrajaratnam Update to database networkkey failed after application installation

[2019-10-11 09:52] #217 closed

[2019-10-11 09:53] #239 closed

[2019-10-15 10:28] xiaofengming opened #257 "the isValidUnassignedAddress() method is incorrect"
@roshanrajaratnam
/**
     * Validates an unassigned address
     *
     * @param address 16-bit address
     * @return true if the address is a valid unassigned address or false otherwise
     */
    public static boolean isValidUnassignedAddress(@NonNull final byte[] address) {
        if (isAddressInRange(address)) {
            return false;
        }
        return isValidUnassignedAddress(Me

[2019-10-16 10:34] jakkra commented on #17
Hi, we are also looking for this, any plan on adding it? Is it a big task?

[2019-10-18 03:00] theanhbp2018 opened #258 "Hi Warmly Team"
---
Hello
we can't provisioning with devices that have more than 2 elements, do you have plan in order to fix them ?

thanks

[2019-10-18 07:35] shilpa108 opened #259 "device not getting scanned on Android Version 10"
I have tried this app on Android version 9 and it is working fine but when tried on Android version 10, scanning does not show any device. Is there anything that I am missing or  I need to do something to support version 10? Please suggest

[2019-10-18 08:45] roshanrajaratnam commented on #259
Hi @shilpa, please disable/enable location permissions in the app settings and that should do the trick.

[2019-10-18 11:27] shilpa108 commented on #259
Hi @roshanrajaratnam ,it is working now,Thanks.Is this the problem with Android 10 or what?

[2019-10-18 13:06] roshanrajaratnam commented on #259
@shilpa108 yes we did notice Android 10 seemed to have an issue with apps that already had location permission. After upgrading to Android 10 location permission settings were kind of lost eventhough the apps already had it.

[2019-10-18 13:06] #259 closed

[2019-10-18 13:07] roshanrajaratnam commented on #258
Hi which nRF Mesh SDK version are you referring to? Could you provide some more information please?

[2019-10-18 13:10] roshanrajaratnam commented on #257
Nice catch, I'll be out of work for the next 2 weeks and will fix when I am back. Also free to contribute towards by sending us a pull request :) l

[2019-10-20 13:59] theanhbp2018 commented on #258
applicationId "no.nordicsemi.android.nrfmeshprovisioner"
        minSdkVersion 18
        targetSdkVersion 29
        versionCode 53
        versionName "2.0.5"
        testInstrumentationRunner "androidx.test.runner.AndroidJUnitRunner"
        multiDexEnabled true
        vectorDrawables.useSupportLibrary = true

above is some info I used them,

[2019-10-20 21:50] roshanrajaratnam commented on #17
Hi @jakkra this is something in our backlog but will take some time due to some other priorities.

[2019-10-20 21:55] roshanrajaratnam commented on #258
Hi, how about the nRF Mesh SDK version? Have you tested with some of the examples available in the sdk?

[2019-10-21 08:17] wanggan opened #260 ""COMPOSITION_DATA_GET_SENT",BLE no response"
2019-10-21 16:15:38.330 30423-30423/com.anthero.mesh V/NetworkLayer: Encryption key: 92C7C87DEE55079074F72E9AC4099BF7
2019-10-21 16:15:38.330 30423-30423/com.anthero.mesh V/NetworkLayer: Privacy key: 5C8780F6B669DB0B9EA35EFF9850DACF
2019-10-21 16:15:38.331 30423-30423/com.anthero.mesh V/NetworkLayer: Sequence Number: 000019
2019-10-21 16:15:38.333 30423-30423/com.anthero.mesh V/NetworkLayer: Encry

[2019-10-21 13:21] tayyars commented on #260
Hi ,
there a bug in isValidUnassignedAddress()
causing this problem.
#257

[2019-10-21 13:22] tayyars commented on #258
Hi ,
there a bug in isValidUnassignedAddress()
causing this problem.
#257

[2019-10-22 05:23] roshanrajaratnam commented on #260
@tayyars I'm t currently out of office. I'll fix it as soon as I am back. Thanks for reporting.

[2019-10-22 10:36] philips77 commented on #250
Hi @WuLFGit,
I'm the author of Android BLE Libraries (both 1.2 and 2.x). Could you enable logging in the BLE library (override the `log` method in the `BleManager`) 2.0 and send us the logs? Version 1.2 logs data in nRF Logger when you set the LogSession, this could also be helpful. Thank you.

[2019-10-22 14:24] bangonkali opened #262 "Timestamp in TAI"
---

**Describe the bug**
It seems that the timestamp was changed in Dev branch where it no longer needs an offset. Is this intentional with the move to AndroidX or with the support of Import/Export with iOS Nordic V2?

Of particular interest is the following pull request https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/pull/261/commits/83875dc0f9e89f3471314bc9ee70289dc405011b

This

[2019-10-23 04:01] roshanrajaratnam commented on #262
Hi @bangonkali, currently I'm out of office. I'll take a look at it when I am back. If I recall correctly TAI should have been completely removed from the mesh network JSON file. I think I might have missed this while refactoring. Thanks for pointing this.

[2019-10-24 05:31] LingoMeng opened #263 "When Send Transport Message to Node"
Desc: When transport message bigger than 11 but smaller than 15, should send as unsegmented way. according to `Mesh Profile Spec 1.0.0 3.5.2.1 Unsegmented Access message.`
https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/b6d32cb97a2212f3dfe574ee093b93fafe7da752/android-nrf-mesh-library/meshprovisioner/src/main/java/no/nordicsemi/android/meshprovisioner/transport/LowerTransportL

[2019-10-24 12:08] roshanrajaratnam commented on #263
@LingoMeng In my humble opinion the current implementation is correct. The lower transport layer only does the segmentation if the access message pdu is greater than 12 bytes. This is because the  max transport pdu can be 16 bytes including the 4 byte mic.

[2019-10-24 12:08] #263 closed

[2019-10-24 15:14] theanhbp2018 opened #264 "Auto connection for provisioned devices, Scene, Scheduler function, Auto bind App key, subcribe, public address.."
Hello Dear
how do you think about that, It's very useful for us when moving around the Mesh area. and some function you can improve to help us,

thank you so much

[2019-10-24 15:43] LingoMeng commented on #263
While I can send max up to 11 octet access message in unsegmentation ways. According to mesh profile section 3.7.3 Access payload

[2019-10-24 15:47] LingoMeng commented on #263
But in you currently code, when I send up to 9 octers access message, low transport layer will segmented, however 9octers access message able to send use unseg ways. According to mesh profile section 3.7.3 Access payload

[2019-10-25 02:18] theanhbp2018 commented on #258
I used SDK 3.2.0.

[2019-10-25 02:18] theanhbp2018 commented on #258
how I can fix them ?

[2019-10-25 05:30] roshanrajaratnam commented on #263
Ok I'll have to check this when I'm back at work. Don't really see why a 11 octet message would be sent as an unsegmented message and a 9 octet message is not.

[2019-10-25 05:36] roshanrajaratnam commented on #258
Hi, I'm currently out of office at the moment. I'll be back at work next week and I'll have a look at it. If you think 'isValidUnassignedAddress()' is causing the issue, check the comment from xiaofengming on #257 and try this

[2019-10-25 09:44] tayyars commented on #257
also :
 Lower transport layer has values in big endian byte order, not little endian

[2019-10-28 15:34] EnMMSegur commented on #198
I have the same problem even though I already identified the node first

[2019-10-28 20:00] EnMMSegur commented on #198
To add, my ProvisioningCharacteristic remain null no matter what i do;

[2019-10-30 07:37] shilpa108 commented on #260
Hi ,
After changing  isValidUnassignedAddress() to as following as mentioned in #257 , still COMPOSITION_DATA_GET_SENT is not working
/**
* Validates an unassigned address
*
* @param address 16-bit address
* @return true if the address is a valid unassigned address or false otherwise
*/
public static boolean isValidUnassignedAddress(@nonnull final byte[] address) {
if (!isAddressInRange(address))

[2019-10-30 08:05] roshanrajaratnam commented on #260
@shilpa108 Hi, I'm back at work. I'll take a look at this now. Could you confirm what nRF Mesh SDK version you are using?

[2019-10-30 08:06] roshanrajaratnam commented on #258
@theanhbp2018 What's the nRF Mesh SDK version you are using on the firmware side?

[2019-10-30 08:07] roshanrajaratnam commented on #258
@theanhbp2018 Sorry for the delay I will take a look at this.

[2019-10-30 08:10] roshanrajaratnam commented on #257
@tayyars according the mesh specification 1.0.1 section 3.5.1 "All multiple-octet numeric values in this layer shall be sent in “big endian”, as described in Section 3.1.1.1" in the lower transport layer.

[2019-10-30 09:19] shilpa108 commented on #260
I am using  nRF Mesh SDK version 3.2.0

[2019-10-30 09:55] roshanrajaratnam commented on #260
@shilpa108 please checkout the [fix](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/compare/bugfix/large-composition-data-get-failure)

[2019-10-30 09:55] roshanrajaratnam commented on #258
@theanhbp2018 check out the fix on the following [branch](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/compare/bugfix/large-composition-data-get-failure)

[2019-10-30 10:16] #254 closed

[2019-10-30 10:17] roshanrajaratnam commented on #256
Hi could you elaborate on this please? Is this after the application was upgraded?

[2019-10-30 10:17] #257 closed

[2019-10-30 10:18] #258 closed

[2019-10-30 11:28] #256 closed

[2019-10-30 11:28] #262 closed

[2019-10-30 11:35] #247 closed

[2019-10-30 11:36] #243 closed

[2019-10-30 11:40] #245 closed

[2019-10-30 11:52] #260 closed

[2019-10-30 11:53] #255 closed

[2019-10-30 11:55] roshanrajaratnam commented on #264
Hi @theanhbp2018

This is a good feature to have but unfortunately this has to be implemented in a later stage. As of now after provisioning the provisioner connects automatically to the newly provisioned device, however does not reconnect automatically whena provisioned device in range. Since this is a sample app we have let the user decide what keys to bind, subscribe etc. Anyway we can look in

[2019-10-30 11:57] #237 closed

[2019-10-30 12:46] tayyars commented on #257
/**
     * Validates a unicast address
     *
     * @param address Address in bytes
     * @return true if the address is a valid unicast address or false otherwise
     */
    public static boolean isValidUnicastAddress(@NonNull final byte[] address) {
        if (!isAddressInRange(address)) {
            return false;
        }

        return isValidUnicastAddress(**MeshParserUtils.unsignedByt

[2019-10-30 13:13] roshanrajaratnam commented on #257
The validation was wrong because of a missing `!` when checking if the address is in range. So in my humble opinion the current implementation is correct.

[2019-10-31 10:04] roshanrajaratnam commented on #263
ok, however have you checked the transport mic size of your message?

[2019-10-31 10:22] roshanrajaratnam commented on #263
Do you have a fw I can try this issue?

[2019-10-31 10:47] POHakansson opened #267 "Editing network / app keys causes provisioning to halt"
Hi

I  have a large network created with 1.x versions of the app. I've now updated to v2.1.0 and I can't seem to provision new nodes anymore.

I've tried various methods for transferring my 1.x json file to v.2.x.x. For example I removed all the "-" in the UUIDs since there was a new check using PATTERN_UUID_HEX. This will allow me to at least open the JSON file. But I've noticed that there are a

[2019-10-31 11:36] roshanrajaratnam commented on #267
@POHakansson Thanks for reporting this. It is reproduceable and i'll try to get a fix out

[2019-10-31 15:34] LingoMeng commented on #263
`if (upperTransportPDU.length <= MAX_UNSEGMENTED_ACCESS_PAYLOAD_LENGTH) { `

You will know if you try it.  ￼

[2019-10-31 16:03] theanhbp2018 commented on #258
thank you guys

[2019-10-31 16:05] theanhbp2018 commented on #264
ok I got it , thanks but have you got any good idea to me ? ^^

[2019-11-01 07:19] roshanrajaratnam commented on #263
ok will give ita go. I could probably use a GenericOnOffGet message to for a message shorter than 11 bytes.

[2019-11-01 16:41] mtiutiu opened #268 "Provisioning process is corrupted after the last update (2.1.0)"
---

**Describe the bug**
After hours of scratching my head and almost pulling my hair out I found out that the new release of this great application screws things up on my **Apache Nimble** powered mesh nodes when trying to provision a new one.

**To Reproduce**
Steps to reproduce the behavior:
1. Provision a new node via the app
2. Click on Identify Node (**OOB** is **disabled**)
3. Wait until t

[2019-11-01 21:59] roshanrajaratnam commented on #268
Hi, thanks for your feedback and sorry for any inconvenience caused. Could you kindly share a hex file so that I can test this first thing on Monday morning?

[2019-11-04 08:40] mtiutiu commented on #268
@roshanrajaratnam Hi, I can do that not a problem but I don't know how useful it will be for you as it doesn't work without a bootloader (Apache Mynewt uses `mcuboot` to load the main application during runtime although I don't think it's quite mandatory but I'm not sure yet because I wasn't able to run anything without it).

So instead of sending you the hex file you can for example compile my ex

[2019-11-06 10:07] roshanrajaratnam commented on #264
I would say, you will have to have the user pick, the Net Key, App Key, Groups and publication settings selected before starting the provisioning and then do the configuration right after the provisioning completes. Hope this helps.

[2019-11-06 10:07] #264 closed

[2019-11-07 18:37] EnMMSegur commented on #267
I think I found the problem, during the provisioning the unicast address of all the nodes is set to 1.

[2019-11-08 11:49] philips77 commented on #250
Hi, could you have a look at #269? We migrated this project to BLE Library 2.1.1 and could not replicate your issue.

[2019-11-09 06:50] BleonDev opened #270 "Device cache not refreshed after device is reset"
After the first Provisioning succeeds; Then, Reset Node and start Provisioning for the second time. APP uses   "Proxy Service"  for Provisioning. At this point, we need to restart bluetooth for Provisioning.

**Logs / Screenshots**
**step1**:After Provisioning succeeds for the first time, we will Reset Node in APP.
![reset_dev1](https://user-images.githubusercontent.com/46095566/68524150-34dbf300-

[2019-11-09 12:58] philips77 commented on #270
It's a caching issue. The library forces clearing the cache after provisioning, but not after resetting. It's a room for improvement.

[2019-11-11 01:53] BleonDev commented on #270
invoke refreshDeviceCache after provisioning,and refreshDeviceCache return is true; but next provisioning still use "proxy service"
![bug02](https://user-images.githubusercontent.com/46095566/68555469-e860f680-0468-11ea-8d45-6c02283adb92.png)

[2019-11-18 09:02] #270 closed

[2019-11-18 09:03] roshanrajaratnam commented on #268
@mtiutiu Sorry for the delayed response. the latest release fixes this issue.

[2019-11-18 09:03] #268 closed

[2019-11-19 12:26] EnMMSegur opened #274 "App fails to provisio."
The app fails to provision any node and gets stuck sending the public key.

[2019-11-20 07:42] philips77 commented on #274
I believe this is duplicate of #250. I may now have a way to reproduce this issue here, so I should be able to fix it. It's related to Android BLE Library 2.x and how it handles incoming notifications.

[2019-11-20 07:42] #274 closed

[2019-11-20 15:09] cjeyouni opened #275 "Ask a question - how to know the device online status?"
When the Device offLine,It didn't report。

[2019-11-20 15:11] roshanrajaratnam commented on #275
Currently only the correct/disconnect button will notify the connected/disconnected state to a proxy node.

[2019-11-20 15:34] cjeyouni commented on #275
There is something wrong with my question。Change the question，A device is close，the other device how to report A off state。with the Publish Address?,or other method?

[2019-11-21 06:49] roshanrajaratnam commented on #275
No problem. Yes you can set publishing.

[2019-11-21 09:24] cjeyouni commented on #275
thanks

[2019-11-21 09:24] #275 closed

[2019-11-24 07:00] 4smartiot opened #280 "Automatic Connection"
I saw in iOS App had been new function can able to connect by Proxy, I thought should do that in android App. You can think more.

thanks

[2019-11-25 02:45] NIUNIUN opened #281 "Light delta uv value use decimal instead of hexadecimal"
---

**Describe the bug**
Light delta uv value use decimal instead of hexadecimal.

Android-nRF-Mesh-Library/android-nrf-mesh-library/meshprovisioner/src/main/java/no/nordicsemi/android/meshprovisioner/transport/LightCtlSet.java

Line 82：
if (lightDeltaUv < -32768 || lightDeltaUv > 0x32767)

**Platform details:**
 - Library Version : v2.1.0

[2019-11-25 06:44] philips77 commented on #281
Good catch.

[2019-11-25 08:04] roshanrajaratnam commented on #281
This error was made when fixing issue #237

[2019-11-30 18:04] vikrant8051 opened #282 "Generic Level's Move: Remaining time issue"
When Gen. Level's Move is in progress & Client sends level get command
then even when NODE send Remaining time as 0x3F in response, nRFMesh
App shows Remaining Time as 6300 ms.

In this case, Rem Time should be display as "UNKWOWN"

[2019-12-02 06:56] roshanrajaratnam commented on #280
Do you mean automatically connect to proxies in range? Yes this is something that can be added.

[2019-12-02 06:59] roshanrajaratnam commented on #282
I think this might need to be reported [here](https://github.com/NordicSemiconductor/IOS-nRF-Mesh-Library) as currently Android version does not support Generic Level Move.

[2019-12-02 06:59] #282 closed

[2019-12-02 08:16] vikrant8051 commented on #282
Even though Move (which is related to Gen. Level state) is not supported kindly note that
Gen. Level could bounded with any other states (like Gen. OnOff, Light Lightness , Light CTL)

In that case, when client will ask status (when MOVE is in progress) via
 - gen. onoff get or
- gen, level get
- light lightness actual get or
- light ctl get
then here remaining time should get as "Unknown"

[2019-12-04 07:14] deverickasih opened #283 "Publishing to all nodes"
Hi, i am an iOS developer. I'm asking on behalf of an android developer.

In the iOS version of this library, i am capable of setting an element-model to publish to all nodes and when i touch the physical button of the element-model, in the iOS app, it instantly detect the changes of 'on' & 'off'. We tried to do the exact same thing in the android app, but in the app, the on/off state does not cha

[2019-12-04 07:50] theanhbp2018 commented on #280
I am here waiting for you

[2019-12-04 09:08] roshanrajaratnam commented on #283
Hi @deverickasih this is because the sample iOS app automatically adds all nodes address to proxy whitelist. However in the Android version you have to do this manually. This should do the trick I believe. Let me know if it works for you.

[2019-12-04 09:09] roshanrajaratnam commented on #280
Hi @theanhbp2018 unfortunately this is not something we will do right now due to some other priorities but will make sure to add this down the line.

[2019-12-05 03:36] deverickasih commented on #283
We have recently tried and found out that if we set blacklist on the sample app and add no addresses, we are capable of receiving the states of any of the element-models we have in the mesh network.

But if we choose whitelist and add the addresses we want to receive states from, when we toggle on/off on the element-models we have whitelisted, we do not get state updates from them.

Is this the in

[2019-12-05 05:21] philips77 commented on #283
Can you confirm, that you get the same results using the iOS nRF Mesh app? If yes, there's a bug in yours proxy firmware, or is doesn't fully support proxy filter. If not, and iOS app behaves correctly, is an Android app issue.

[2019-12-06 07:02] hardiksingh-rathore opened #284 "Lists only two provisioned devices in Network tab"
---

**Describe the bug**
- If I provision three mesh nodes (A,B and C), the app list only the last two devices(it's A & C OR B & C)

**To Reproduce**
Steps to reproduce the behavior:
1. Try provisioning  3 - 4 devices

**Expected behavior**
Should list all provisioned mesh nodes

**Platform details:**
 - Device: Galaxy A10s
 - OS: Android 9.0
 - App Version - 2.1.4

**Logs / Screenshots**
![Scree

[2019-12-06 08:48] roshanrajaratnam commented on #284
@hardiksingh-rathore do you know if the devices have unique device uuids? I suppose the device got overwritten because the device UUIDs were the same?

[2019-12-06 08:51] xiaofengming commented on #257
@roshanrajaratnam LowerTransportLayer.class

------final int blockAckSrc = MeshParserUtils.unsignedBytesToInt(dst[1], dst[0]);----
and
------MeshAddress.isValidUnicastAddress(dst)

return isValidUnicastAddress(**MeshParserUtils.unsignedBytesToInt(address[0], address[1]**));-----

There will always be a verification address

[2019-12-06 09:46] deverickasih commented on #283
We have two boards (A & B) using example firmware:
light_switch_server_nrf52832_xxAA_s132_6.1.1_merged.hex

We also set the on/off generic model for each board to publish to all nodes (0xFFFF)

Case 1 : Use Android proxy filter and set whitelist with address 0xFFFF
When we toggle on/off on the physical board A, in the app we receive updates for A
But without changing the view in the app (staying i

[2019-12-11 20:47] EnMMSegur opened #285 "Problem with sending the public key"
I recently upgraded to the current version from the one that didn't use the up to date ble library and now when sending the public I get on the device side this error "Proxy PDU type doesn't match GATT service" I am using a Samsung Galxy S4 and a ESP32 with Expressif BLE Mesh library

[2019-12-12 06:06] Baothien1301 opened #286 "Import and export / IOS and android"
Hi!
I found an issue:
- When i import a json file exported from IOS on android, it is success. But when i import a json file exported from Android on IOS, it is fail. And i read json files export from IOS and Android, i see difference. Json file export from Android have not "group" and when I add "group" and import again, it is success.
I think this issue will be solved soon.

[2019-12-12 06:21] philips77 commented on #286
Thank you for reporting the issue. The group field is mandatory, even if there are no groups.
FYI: the Json scheme is not finally defined yet same may change in the future. Hopefully no breaking changes, but until it's final you should not assume the Json files you generate more will work on future versions or other apps.
We will try to make the nRF Mesh apps accept current config files in the fut

[2019-12-12 13:40] hardiksingh-rathore commented on #284
Yes. the problem was because of the same UUIDs.
Thanks!

[2019-12-12 13:40] #284 closed

[2019-12-25 07:49] lenix1988 commented on #250
@philips77
I found a bug that if proxy segment PDU is more than two then app will stuck in provision because app parse proxy segment PDU failed.
![image](https://user-images.githubusercontent.com/3326955/71437361-494c4180-272c-11ea-9594-de05c7112790.png)

so we should update provision proxy segment PDU process function
Reference Code(I am not good at Java programming ):
[code]
![image](https://use

[2020-01-06 09:32] gridar commented on #144
Hello @roshanrajaratnam, any news on putting the lib in jcenter ? That'll help us making a flutter plugin out of it :)

[2020-01-06 13:52] roshanrajaratnam commented on #144
@gridar sorry about the delay, been a bit busy with some other priorities. I will take a look at this tomorrow and try to get a version on jcenter.

[2020-01-10 10:27] TimoKortbrae opened #287 "3-octet opcode is parsed incorrectly"
---

**Describe the bug**
The given code is a function from the MeshParserUtils.java file in the library meshprovisioner. I think if the opcodeCount is equal to 3 it doesn't return the desired value. Due to the cast to byte the bytes which are shifted left by 8 and 16 bits will get discarded and only the value of accessPayload[1] is returned.

Besides the casting I am not sure if the format of the

[2020-01-27 09:43] gridar commented on #144
Hello @roshanrajaratnam , just a friendly reminder about jcenter 😃

[2020-01-27 15:23] MeenalBahua opened #289 "Is BLE5 supported in this app"
I was wondering if the current android app supports Ble5 ?

[2020-01-27 17:55] philips77 commented on #289
What Ble 5 features do you have in mind? Bluetooth Mesh is designed to work with devices supporting Bluetooth 4.0+.

[2020-01-28 06:24] MeenalBahua commented on #289
We are looking for BLE5 long range mode for 125kbps speed.

[2020-01-28 09:09] philips77 commented on #289
The current spec does not mention BLE5 features. The ADV Bearer by spec should use PHY LE 1M, same as the proxy connection. But for private single vendor installations, as far as I know, nRF5 Mesh can be tweaked to work using 125kbps PHY. It is not implemented in Nordic Mesh SDK, however.
Now, when modern Android phones support Long Range, it is possible to experiment with phones as well, but this

[2020-01-29 17:13] #285 closed

[2020-02-10 10:32] bdent commented on #252
Hi @isactornberg,

How far did you manage to get with this?

I'm looking to do the same.

Do you have an email I can reach out to you at?

Thanks.

[2020-02-12 10:49] isactornberg commented on #252
Hey @bdent!

Put this sorta on hold first but now I am working on a flutter integration that I have sorta gotten working with limited feature set, you can reach out to me at isac.tornberg@gmail.com. :)

[2020-02-29 09:52] SonnySwolf opened #290 "Does it only support Nordic devices?"
---

**Describe the bug**
the android app can only provsion nordic device. and aroha and sillicon devices can't complete the provision. but ios app works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'ADD NODE'
2. Click on 'device'
3. Click on 'IDENTIFY'
3. app send 03 00 05 to the device, but the device not reply.

**Expected behavior**
A clear and concise description of what

[2020-03-02 06:44] roshanrajaratnam commented on #290
Hi  does the device identify itself when you send this message? for example blink?

[2020-03-03 19:14] BubblyNetDev commented on #244
Hello, I was wondering if there is any update on this feature, and when we could expect it?

[2020-03-04 02:43] SonnySwolf commented on #290
Hi ,
    I can get AB1611 log, AB1611 received 03 00 05 , but it not reply and report a error. provisiong data should be ignored.
![image](https://user-images.githubusercontent.com/13655121/75839799-a6d3cd00-5e04-11ea-9dcd-24af77f10ec5.png)
[android无法入网.log](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/files/4284783/android.log)

[2020-03-04 06:05] roshanrajaratnam commented on #290
Hi @SonnySwolf not entirely sure why this device is ignoring the provisioning data. What's this device AB1611?

[2020-03-04 06:07] roshanrajaratnam commented on #244
Hi unfortunately we have some other priorities so this feature will take some time to be implemented, not sure when though.

[2020-03-04 06:46] SonnySwolf commented on #290
Hi ,
    sorry, AB1611 not nordic's bt chip,  it is airoha's bt chip. I also using silicon lab's bt chip do same test. silicon lab's bt chip with same problem.

[2020-03-04 09:17] lin1990 opened #291 "3.10.4 Key Refresh procedure"
I found that the Key Refresh procedure function mentioned in document <mesh profile> is not implemented, do you have any plan about it?

[2020-03-04 11:50] roshanrajaratnam commented on #291
HI yes, it's not implemented yet. Unfortunately we have some other priorities. Will implement this at a later stage.

[2020-03-04 14:18] clma91 opened #292 "Notification from the Mesh Network"
**Is your feature request related to a problem? Please describe.**
Do I understand correctly that it is currently not possible to receive Mesh Messages via the API?

**Describe the solution you'd like**
It would be very helpful if there was an API function/callback to register on mesh messages to receive status messages from nodes.

**Describe alternatives you've considered**
Is it correct to assu

[2020-03-05 07:28] roshanrajaratnam commented on #292
@clma91 You should be able to receive the corresponding status message from the device to any of the messages sent vfrom the app/library. For example if the phone sends an acknowledged generic on off the app should receive the status and this applies to the configuration messages as well.

[2020-03-05 07:36] roshanrajaratnam commented on #289
Closing this issue for now.

[2020-03-05 07:36] #289 closed

[2020-03-05 08:12] GeekKernel commented on #250
This is my problem! Android mesh library cannot process more than 2 proxy segment PDUs,but if ATT MTU is 69  octets ,it's enough to store Public Key data。The foremost is ATT MTU exchange did'nt work correctly. I'm sorry,please close my comment.

[2020-03-05 09:58] roshanrajaratnam commented on #250
Hi Thanks for reporting this issue, will look in to this.

[2020-03-05 12:19] clma91 commented on #292
Alright, thank you very much for your answer. But the problem was actually not in our react native app but rather the firmware, developed by an other departement. This firmware version was not sending these messages over GATT.
But now I do not get the messages by any [MeshStatusCallbacks](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/4b29037c92cd83a75f0a1ce65c7be528e99c5142/

[2020-03-05 12:19] #292 closed

[2020-03-05 12:29] roshanrajaratnam commented on #292
You stil don't get the MeshStatusCallbacks? Have you called `setMeshStatusCallbacks()`, check [here](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/blob/b5125246d0fd6af225a272990b01b8f1a65050e6/Example/nrf-mesh/app/src/main/java/no/nordicsemi/android/nrfmeshprovisioner/viewmodels/NrfMeshRepository.java#L165). The library will parse the raw notification bytes and give you a MeshMes

[2020-03-05 15:12] clma91 commented on #292
No i don't, but like I said the problem now is not on the react native app but rather on the firmware. The network header is not yet filled correctly. As soon as this comes back correctly to the app we should also get the callback.

Thank you for your help.

[2020-03-06 06:30] WangManAndroid commented on #244
hi @roshanrajaratnam  How is this going? I am anxious to deal with this

[2020-03-24 22:54] kiyoshi-brilliant opened #293 "Access PDU Op codes computed differently in iOS implementation"
---

**Describe the bug**
Logic to compute Op codes does not match iOS implementation. Also filing on iOS repo.
Most concerning is the default / else case treatment but the other cases are slightly mismatched as well.
Please provide guidance as to which is correct.

iOS issue here: https://github.com/NordicSemiconductor/IOS-nRF-Mesh-Library/issues/260

Android:
https://github.com/NordicSemiconduct

[2020-04-03 05:44] dqapollo2018 opened #294 "Reset node crash App"
Hello Dear
I have seen issue as tittle, please tell me know how to fix them

many thanks

**this issue**
[code]

[2020-04-03 05:47] roshanrajaratnam commented on #294
Are you trying reset multiple nodes at the same time?

[2020-04-04 07:29] dqapollo2018 commented on #294
uhm, that issue sometimes is occur.

[2020-04-09 15:48] antoniovillanova opened #295 "ExtendedInvalidCipherTextException message response after switching from iOS to Android"
---

**Describe the bug**
We have the scenario in which same Mesh Network can be edited on both Android and iOS devices.
We managed to successfully restore Mesh Network with import and export built-in procedures, by creating different provisioners for each device and platform.
The issue we're facing is that after iOS can succesfully get the response after sending a Vendor Model Message, Android re

[2020-04-10 03:27] dqapollo2018 commented on #294
can you help me ?

[2020-04-14 06:51] roshanrajaratnam commented on #294
Hi @dqapollo2018 each node that is being reset is deleted from the network so if you are iterating through the same list of nodes you are bound to get ConcurrentModificationException because the same list is getting modified. I would also suggest to when you reset nodes, wait till you get the response before continuing with the next node.

[2020-04-16 06:34] roshanrajaratnam commented on #290
Hi @SonnySwolf have you had any luck with your issue?

[2020-04-16 06:35] #251 closed

[2020-04-16 11:55] #281 closed

[2020-04-16 13:26] SonnySwolf commented on #290
yes, this is my device fault.

[2020-04-16 13:26] #290 closed

[2020-04-16 14:06] #287 closed

[2020-04-16 14:07] roshanrajaratnam commented on #293
Well you are correct they do look different but they both have the same function as intended. However I have made it a little bit similar.

[2020-04-16 14:07] #293 closed

[2020-04-16 14:08] #244 closed

[2020-04-16 18:37] kiyoshi-brilliant commented on #293
Thanks! I think we had gotten confused about passing the op code w/ vs w/o the company identifier, we appreciate the changes!

[2020-04-18 19:08] benjak135765 opened #298 "check isProvisioningComplete"
Hi~
How can i get the "registerApp() - UUID" ?

I want check the device
if not exist in nodes then isProvisioningComplete = false
at red area

![image](https://user-images.githubusercontent.com/11077292/79668772-c58df780-81e9-11ea-9b89-317d28bcdd82.png)

[2020-04-20 05:47] roshanrajaratnam commented on #298
@benjak135765 this is an Android system log. What are you trying to achieve?

[2020-04-20 15:47] benjak135765 commented on #298
my app want scan Provisioned Device.
only connect it, not Provisioning again
but i don'w know how can i get the node...

[2020-04-21 05:48] roshanrajaratnam commented on #298
@benjak135765 I guess you mean that you want to  connect to the same device after restarting the app? You will have to scan for devices with devices advertising with the following 16-bit UUID 0x1828 and also match against the network id generated using the network key. Please refer to the sample app.

[2020-04-21 17:14] roshanrajaratnam commented on #295
Hi @antoniovillanova , so I gave this a try and i was unable to reproduce the same issue as you are facing. I can detail the steps I took just like you had mentioned.

1. Create Mesh Network from Android
2. Provision a Node
3. Import Mesh Network on iOS (I did not use the same provisioner as on Android as this is bound to fail because the sequence numbers are not exported for any given provisioner

[2020-04-22 05:56] roshanrajaratnam commented on #294
I'll close this issue and please feel free to re-open.

[2020-04-22 05:56] #294 closed

[2020-04-22 14:08] antoniovillanova commented on #295
HI @roshanrajaratnam,

a couple of things about the steps you mentioned.

4. Bind key to vendor model.
In my scenario i bind the app key on the vendor model first time on Android side. May this affect your tests.
5. Control vendor model.
What do you mean with "Control"? it's a simple Request/Response message?
6. Switch back to Android
When you switch back to Android, are you sure the provisioner i

[2020-04-22 14:43] antoniovillanova commented on #295
Furthermore, reading Bluetooth spec about Mesh Message encryption, both sequence number and IV Index are involved.

I know there will be a patch next week involving a bug fix you have on IV index handling. So both this and restoring Android previous provisioner (and its sequence number) could possibly cause the exception. Am i right?

Thank you again.

[2020-04-22 14:58] philips77 commented on #295
// FYI: IV Index Update has now been fix in the iOS library. It's on develop branch, not pushed to master yet. We are working on implementing the same on Android.

[2020-04-22 15:19] roshanrajaratnam commented on #295
@antoniovillanova  the current iv index patch will not affect this as long as you don't have run out of sequence numbers. I don't think this is the case for you since your issue occurs right after provisioning and for an IV Index update to take place the network have to function at least around 192 hours if i'm not completely wrong so I will exclude this case. Coming back to your original issue I

[2020-04-22 16:46] antoniovillanova commented on #295
We're using two different provisioners. The this is:
- Android creates a provisioner and provisions a node;
- Switching to iOS, he creates its own provisioner and uses it to send the message to peripheral
- Coming back on android we re-create a provisioner with the same address that we used the first time on Android, getting back its sequence number from a cloud backup

[2020-04-22 16:53] philips77 commented on #295
When exporting sequence number from iOS, do you get the value from UserDefaults at key `"S\(address.hex)"` (mind the `S` inside)?

[2020-04-22 17:02] philips77 commented on #295
I'll add methods to obtain and update sequence numbers on iOS.

[2020-04-23 07:41] fiveagle commented on #295
Hi, on iOS we recreate a new provisioner with a different address each time, hence I don't read or write any sequence. I just keep the android sequence on the cloud backup without modifying it.

This would certainly help. Do you think this issue is caused by this cross platform sequence management?

Thanks

[2020-04-23 08:01] philips77 commented on #295
I don't know but you requested it anyway. I will discourage using it on doc, but want people to use it correctly.

[2020-04-23 14:08] roshanrajaratnam commented on #295
@fiveagle @antoniovillanova  sorry for the delay but have been a bit busy with some other things. I believe it's something to do with cross platform sequence management, but in-order to clarify do you know if the same happens with SigModels? or does this happen only on VendorModels?

[2020-04-28 12:50] antoniovillanova commented on #295
I couldn't test with SigModels. Could you please provide me more details on how i can execute this test?

Furthermore i've some other question:

1. Have you identified the root cause of the problem?
2. When will you release the 2.2.2 version?
3. Do you plan to path the current version?

Thank you.

[2020-04-29 05:29] roshanrajaratnam commented on #295
@antoniovillanova I was referring to the same test you did on vendor models.

1. I will start testing now to find out your issue.
2. 2.2.2 will be released later during the day.
3. Not sure what you mean exactly here.

[2020-04-29 07:46] antoniovillanova commented on #295
Yep, sorry i edited.

If you'll manage to find the issue, will be released a patch for the actual version too?

Thank you

[2020-04-29 09:32] roshanrajaratnam commented on #295
@antoniovillanova I have retried to reproduce this issue but it does not happen in our side. After configuring and controlling from Android and importing to iOS, the iOS app uses the default provisioner created in the app. We do not export sequence numbers and is not recommended so there is no chance of using the same provisioner that was used on the Android side. After switching to the Android ph

[2020-04-29 11:02] ahmedmeeran opened #301 "App Crashing when trying to bound newly created network key into newly created App Key."
---

**Describe the bug**
I wanted to use my own App key and Network key generated from the server. So I created a Network key first, which created under Sub Network Keys. Then I created the App key and tried to bound the newly created network key. The moment you select the newly created Network Key App is getting Crashed.

I want to use my own Net Key and App key is there any other way to achieve

[2020-04-29 12:45] roshanrajaratnam commented on #301
@ahmedmeeran  Oops, thanks for catching this. Will fix it straightaway.

[2020-04-29 12:59] #301 closed

[2020-05-05 11:42] #286 closed

[2020-05-06 02:59] xxfenxx opened #303 "Can you update the README.md file"
Can you  update the README.md file?

[2020-05-08 08:28] xiaofengming opened #304 "Mesh node provisioning"
Do you use node distribution network?

link open always times out

[2020-05-08 09:11] roshanrajaratnam commented on #304
@xiaofengming what do you mean?

[2020-05-08 09:58] xiaofengming commented on #304
PB-ADV Provisioning

step1: link open
step2: Provisioning Process
step3: link close

step1:link open   always times out ,,,,,
result ： EE59000101
Instead of ： EE590000FF

[2020-05-08 10:47] roshanrajaratnam commented on #304
That app does not do provisioning using advertising. As of now the library only support provisioning based on GATT.

[2020-05-08 10:50] xiaofengming commented on #304
I know，Just ask

[2020-05-08 10:51] roshanrajaratnam commented on #304
I will close the issue then :)

[2020-05-08 10:51] #304 closed

[2020-05-08 10:52] xiaofengming commented on #304
ok

[2020-05-12 09:50] ankit-thealchemist opened #306 "unable to provision the node on esp32 using the nrf version 2.2.0"
Hello,
**Describe the bug**
while provisioning the node using the example [https://github.com/espressif/esp-idf/tree/master/examples/bluetooth/esp_ble_mesh/ble_mesh_node/onoff_server/main](url) , on esp32 dev kit v1, I am getting the error says prohibited.  nrf mesh version (2.2.0)

while I downloaded the old version of nrf mesh 2.1.4, it works flawlessly

**To Reproduce**
Steps to reproduce the b

[2020-05-12 10:19] roshanrajaratnam commented on #306
@ankit-thealchemistT that's strange that it's not working. It should work on any device and we have no issues with our mesh sdk examples. Could you provide me with a compiled hex file I can flash on a 52840 device please?

[2020-05-13 12:03] roshanrajaratnam commented on #267
@POHakansson Sorry for the delayed reply. Unfortunately I have been busy with a number of other tasks. Finally I managed to figure out the issue here. This has nothing to do with the Unicast Address or the Composition Data PDU or the provisioning. The provisioning succeeds but the initial configuration fails. The reason is that when creating a `NetworkKey` an `IdentityKey `is generated for each ke

[2020-05-13 12:30] POHakansson commented on #267
Excellent, thanks for fixing it!

[2020-05-14 07:13] #298 closed

[2020-05-14 07:14] roshanrajaratnam commented on #295
@antoniovillanova have you managed to solve your issue?

[2020-05-14 13:54] roshanrajaratnam commented on #283
@deverickasih sorry for the delayed reply due to being busy with other tasks. I found the issue relating to the list of addresses not showing up. However not entirely sure how to reproduce the issue here. Could you share a more detailed description to how you have setup the boards so that we can run through the exact same steps to reproduce.

[2020-05-15 03:15] BaiduSu opened #314 "provisioning or configuration process occur"
---

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Platform details:**
 - Device: [e.g. Pixel XL]
 - OS: [e.g. Android 8.0]
 - Library Version (or Commit)

**Lo

[2020-05-15 03:15] #314 closed

[2020-05-15 03:16] BaiduSu commented on #314
write error

[2020-05-15 03:32] BaiduSu opened #315 "in provisioning or configuration process occur gatt error"
I`m provisioning a mesh device using this library, I encountered some occasional problems.  when smartphone connect the mesh provisioning service, start provisioning, most scenes can be provisioned normally,  but occasionally encountered gatt error. configuration process will occur similar situation.  test conditions: 1 android system version is 6.0; 2 peripheral device firmware is other vendor;

[2020-05-15 05:54] BaiduSu opened #316 "Will maintain the connection of multiple devices at the bottom sdk"
Will maintain the connection of multiple devices at the bottom sdk? In no.nordicsemi.android.ble.BleManager.java maintain only one device connection. Will you consider maintaining multiple devices at the bottom sdk? Thanks

[2020-05-15 06:22] roshanrajaratnam commented on #316
@BaiduSu currently we don't maintain multiple connections in the sample
mesh app and don't see us implementing this since there are other important features in the backlog. However please feel free to implement this and send us a pull request if you do, we do accept contributions :)

[2020-05-15 06:22] #316 closed

[2020-05-15 06:36] roshanrajaratnam commented on #315
Hi GattError can occur from time to time, I have added some delays to avoid this. This error GattError 133 is mostly happenning on Older android devices(since Android 8.0 we almost never see this happenning). There is no clear reason for this error, however it can happen when the ble resources get overwhelmed. Does this happen with Nordic mesh example firmware? I will give it a test.

[2020-05-15 07:06] philips77 commented on #316
Although a single `BleManager` is responsible for one connection, you may have multipe instances of them. Have a look at [nRF Toolbox](https://github.com/NordicSemiconductor/Android-nRF-Toolbox) -> Proximity profile.

[2020-05-18 02:08] BaiduSu commented on #316
Thanks !!!

[2020-05-18 02:10] BaiduSu commented on #315
Thanks !!!

[2020-05-18 02:11] BaiduSu commented on #315
I will try android 8.0

[2020-05-18 17:06] Kleak commented on #144
i think this issue should stay open until you publish the sdk on a package manager.

[2020-05-18 17:09] philips77 commented on #144
It's there already! Since last week! Sorry, we forgot to update this issue.

[2020-05-19 07:17] Kleak commented on #144
awesome thanks

[2020-05-19 07:36] philips77 commented on #144
Mind that package names have changed, simplified.

[2020-05-20 20:34] zacwbond commented on #306
@ankit-thealchemist @roshanrajaratnam
FYI, I am experiencing this same problem, a "prohibited" message when I try to provision an ESP32 device that is running their esp_ble_mesh.

Interestingly, I am able to provision an ESP32 perfectly well if I use the Nimble mesh implementation; it only fails with the esp_ble_mesh implementation.

The error occurs during the public key exchange.  Here's some de

[2020-05-22 06:14] roshanrajaratnam commented on #306
Hi @zacwbond  thanks for the detailed feedback. Could you try the same with our nRF Mesh iOS app as well to see if you could reproduce the same?

[2020-05-26 02:38] Campou commented on #306
Hi @ankit-thealchemist @roshanrajaratnam @zacwbond

Have found the root cause, because esp32 uses 23 as the default MTU size, which causes the failure on the App side. After changing the MTU size to 69, the provisioning procedure is completed successfully.

I have tried with the nRF Mesh Android App (version 2.1.3) and the latest iOS App, this issue doesn't exist.

Thanks.

[2020-05-26 06:02] roshanrajaratnam commented on #306
@Campou yes I had a feeling this could be the MTU and yes thanks for confirming this. So the app does a default MTU request and can you check the logs if you get a response for this? If the app does not get a response it uses the default MTU which is 23 and if you look at the logs everything is sent in chunks of 23.

[2020-05-27 08:25] hhy-ccj opened #317 "Publish Retransmission error"
When the APP sets the "retransmit count" to 1 and the "Interval" to 200, the device receives 0x61, and the decomposition is "count 1 interval 650ms". When the device returns the original value (0x61) and returns the status, the APP displays the "retransmit count" is 3 and the "Interval" is 100.

[2020-05-27 08:38] ankit-thealchemist commented on #306
yes changing the mtu to the 69 helps. It just connect to the nrf mesh but does connect to the other apps like RSL 10 mesh by on semiconductor.

[2020-05-27 11:49] ankit-thealchemist commented on #306
@roshanrajaratnam @zacwbond @Campou The most unusual thing is that when mtu is set at default 23 and the esp 32 sends the provisioning PDU, of length of 65 bytes,
D (40085) BLE_MESH: SEND conn 0x3ffc6a04 type 0x03 len 65: 0320b003d2f297be2c5e2c83a7e9f9a5b9eff49111acf4fddbcc0301480e359de6dc809c49652aeb6d63329abf5a52155c766345c28fed3024741c8ed01589d2

it split into the four packet according to the m

[2020-05-27 13:39] roshanrajaratnam commented on #306
@ankit-thealchemist Thanks for the detailed reply, yes you are correct the app should handle the number of packets dynamically as far as I remember I have not seen this issue happenning with lower MTU with the Nordic Mesh SDK. Not sure what caused this exactly, i'll do some debugging and get back to you, but unfortunately it might have to wait till Monday.

[2020-05-29 18:03] Thecave3 commented on #306
I'm having the same issue and I'm trying to change the MTU of the esp while this is going to be solved. Can you explain how you've done that?

[2020-05-30 10:50] ankit-thealchemist commented on #306
@Thecave3 Kindly navigate to the esp idf folder, then navigate to \components\bt\host\bluedroid\stack\include\stack\gatt_api.h find the variable GATT_DEF_BLE_MTU_SIZE set it to whatever value you want.

Remember it might broke connection to many other ble application,  so please note it down the path and the default value.

[2020-06-03 12:27] antoniovillanova opened #319 "[REQUEST] Is it possible to specify TTL for single VendorModel message?"
Hi,

i was considering if it is possibile to specify a custom ttl for some vendol model specific messages. On iOS side i see that TTL parameter can be specified for whatever message we send using

`unc send(_ message: MeshMessage,
              from localElement: Element? = nil, to model: Model,
              withTtl initialTtl: UInt8? = nil) throws -> MessageHandle`

Is there an Android equivalen

[2020-06-03 13:07] roshanrajaratnam opened #318 "Is it possible to specify TTL for single VendorModel message?"
@antoniovillanova I suggest this issue should be created [here](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library). However, right now there is no way of setting an extra ttl than the one provided in the provisioner.

_Originally posted by @roshanrajaratnam in https://github.com/NordicSemiconductor/Android-BLE-Library/issues/196#issuecomment-638175900_

[2020-06-03 13:41] roshanrajaratnam commented on #318
duplicate of #319

[2020-06-03 13:41] #318 closed

[2020-06-04 07:17] Eklow02 opened #320 "Nodes have all the same unicastaddress"
---

**Describe the bug**
HI, I have the problem that every provisioned node has the same unicastaddress. The code where the bug is looks like this:
[code]
After the validation is done the address of the meshnetwork is used. But not the new unicastAddress. As workaround I assign a new address to the meshNetwork using nextAvailableUnicastAddress before I start with the provisioning. The sample app

[2020-06-04 08:15] roshanrajaratnam commented on #320
Hi @Eklow02, how is this possible? have you provisioned multiple devices and they have the same address? Could you share a screenshot of the list of devices?

[2020-06-04 08:16] roshanrajaratnam commented on #315
@roshanrajaratnam did you manage to get around this?

[2020-06-04 08:18] roshanrajaratnam commented on #283
Closing due to inactivity, but please re-open if you think the problem persists and describe step by step how to reproduce this.

[2020-06-04 08:18] #283 closed

[2020-06-04 08:19] roshanrajaratnam commented on #295
@antoniovillanova closing due to inactivity!

[2020-06-04 08:19] #295 closed

[2020-06-04 21:17] ChadyG opened #321 "Elliptical Curve Error during Provisioning"
---

**Describe the bug**
Hello,  I'm following the BLE-Mesh-Node guide and am getting errors when using this Android app to provision nodes.  I'm getting the error in both the Play Store build and my own build using the current HEAD of this repo.  The specific error is below, and the full logcat is attached.
`E/MeshProvisioningHandler: Exception in PROVISIONING_PUBLIC_KEY : Invalid point coordina

[2020-06-08 05:43] roshanrajaratnam commented on #321
@ChadyG Thanks for reporting this issue, I was initially thinking if it's an MTU issue. However I see that this does not seem to be the issue. Could you see if you are facing the same with the iOS version as well? Unfortunately I don't have any hardware to test this myself and everything seems to be working fine on our end with the nRF5 Mesh Sdk and Zephyr.

[2020-06-08 05:48] #250 closed

[2020-06-08 06:50] roshanrajaratnam commented on #321
Looks like there seems to be a slight issue here. Let me give this a go.

[2020-06-08 07:57] Eklow02 opened #322 "ConfigCompositionDataGet not working"
Hi, maybe you can help me with this problem. I'am using your library for my own app. After I have provisioned a device I want to sent the `ConfigCompositionDataGet`. But this request is not working. Either nothing is happening or I get into `onTransactionFailed`. In your sample App it's working. I'm pretty sure I'm doing the same steps as in the sample app. Maybe you can help me out? I have attach

[2020-06-08 08:02] Eklow02 commented on #320
Hi, in your sample app it's working because you also assign the the new address to the network before you start the provisioning. I missed this step and then every device get's the same address. My expectation was that the library is assigning the new address to the node. And because I haven't found any docu for this, I have lost a lot of time to find this issue. Maybe you can add some docu if thi

[2020-06-08 08:12] roshanrajaratnam commented on #320
Ah yes. Well the provisioner has an address range and the provisioner is assigned an address by default and this will assign the rest of the unassigned addresses sequentially to the newly provisioned addresses. Yes I will include some documentation required

[2020-06-08 09:54] roshanrajaratnam commented on #322
@Eklow02 please bear with me, I have invalidly referenced and closed your issue. I will take a look at this in a while.

[2020-06-08 10:29] #306 closed

[2020-06-08 10:29] #321 closed

[2020-06-08 11:48] Eklow02 commented on #322
@roshanrajaratnam I will close this one. Don't need your help anymore. It was a problem with my ble connection ✌️

[2020-06-08 11:48] #322 closed

[2020-06-08 14:04] ChadyG commented on #321
Confirmed working here.

Thank you!

[2020-06-09 05:46] roshanrajaratnam commented on #315
Closing due to inactivity!

[2020-06-09 05:46] #315 closed

[2020-06-10 10:09] roshanrajaratnam commented on #319
@antoniovillanova please check #326.

[2020-06-15 08:20] roshanrajaratnam commented on #253
Sorry for not taking up this earlier, will update this shortly.

[2020-06-15 08:22] #267 closed

[2020-06-17 10:04] #253 closed

[2020-06-17 10:04] #317 closed

[2020-06-17 10:04] #319 closed

[2020-06-17 10:12] #320 closed

[2020-06-17 10:12] #303 closed

[2020-06-24 12:34] taaltechIOT commented on #99
we have node 1 as generic on/off client with publish address 0xFFFF and then node 2,3 &4 as generic on/off server with subscribe address 0xC001. Doe this work? i assume being publish adress 0xFFFF which is broadcast, node 2,3 & 4 can receive the data even though the subscription address is different.

Can you please confirm

[2020-06-25 09:43] philips77 commented on #99
Yes, that's true. 0xFFFF should reach all elements on all nodes in the same subnetwork.

[2020-06-30 14:12] Eklow02 opened #333 "NumberFormatException during DB import"
---

**Describe the bug**
After starting the App several times I get a `NumberFormatException` during the import of the db.

**To Reproduce**
Steps to reproduce the behavior:
Build and deploy the App several times via Android Studio. I don't know if this also happens in the Sample app.
The only solution of this is to clear all data of the app.

**Expected behavior**
Don't crash during db import.

[2020-07-09 07:52] Andrewpini opened #334 "String error after disabling retransmit count"
---
When setting the retransmit count to “disabled”, it is prompted as “1 time” when you re-enter the same menu after leaving it. It seems like it is only the string that is wrong though.

In the “before” picture you can see that I’m disabling the retransmit count. After applying the config I re-enter the same menu as you can see in the “after” picture. Even though I just configured the retransmit

[2020-07-23 12:48] Eklow02 opened #335 "Scheduler Messages"
Do you already know when you want to implement scheduler related messages?

[2020-07-27 13:04] philips77 commented on #334
Hello,
Thank you for the bug report. We will address it in the next release. Right now @roshanrajaratnam is on vacations so it may take a while.

[2020-07-27 14:33] philips77 commented on #335
Hello,
I don't see those messages coming to the library this year. We plan to do new release in October-ish, but it's unlikely that those messages will be included. You may speed things up by submitting a PR! We will gladly accept it!

[2020-07-28 07:35] yjfkpyu opened #336 "Import & Export settings"
---

**Describe the bug**
Export current settings to a json file,reset settings and  import the json file ,can see the nodes and can connect to these nodes,but can't send any data to node，unless power off and power on the node device。

**To Reproduce**
Steps to reproduce the behavior:
1.create a mesh network, connect provisioned node, read state OK.
2. Go to 'Settings'
3. Click on top right menu ，

[2020-07-28 12:00] bradjwilson commented on #336
Have you tried changing the Unicast address of the provisioner once you import the file? Sounds like you have two provisioners with the same unicast address so the sequence numbers are off and the messages are being ignored in the mesh network.

[2020-07-28 12:19] yjfkpyu commented on #336
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

        Thanks for your reply!After importing the settings file, I did not modify the unicast address of the provisioner, and the network only had one provisioner. The same operation is normal on the iPhone mesh demo app, I can send data to the device without restarting the devi

[2020-08-05 11:30] kcjian opened #337 "Proxy data instable"
---

My app receives proxy data by setting the proxy. The Publish Period of the device is 0.8 seconds per time. When the device scans for a specific beacon, the beacon  data will be sent to the app.

Through the test, when there are ten devices in the mesh network and the number of peripherals is gradually increased to 40 beacons, the control of the device is basically ineffective (for example, tu

[2020-08-17 11:34] openmotion opened #339 "Communication between two smartphones to create a chat"
Hello
can i use your library to communicate between two BLE smartphone or with google glass ?

---

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Platform detai

[2020-08-17 11:42] philips77 commented on #339
No, but you could try https://github.com/NordicSemiconductor/Android-BLE-Library if you really want to use Bluetooth LE. But there are many other ways to exchange information between Android phones. And Google Glass? Seriously?

[2020-08-17 11:42] #339 closed

[2020-08-17 12:41] openmotion commented on #339
hello yes the last model of google glass

[2020-08-20 09:29] Lelight-Iot commented on #336
Same Step:

[2020-08-31 09:44] Lelight-Iot opened #340 "How to receive group messages through proxy node?"
The node periodically sends group messages. How does the Provisioner receive group messages in the mesh network

[2020-08-31 09:48] philips77 commented on #340
You need to add this group address to the proxy filter (use the proxy tab in the sample app).

[2020-08-31 10:07] Lelight-Iot commented on #340
That's it, thanks

[2020-08-31 10:07] #340 closed

[2020-09-02 13:21] antoniovillanova opened #341 "Crash db occurrence when deleting provisioned node"
---

**Describe the bug**
Randomly when deleting a provisioned node this exception occurs:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Delete a provisioned node

**Expected behavior**
Node successfully removed from mesh db

**Platform details:**
 - OS: [e.g. Android 8.0]
 - Library Version (or Commit): meshprovisioner: 2.1.4
                                                    ble

[2020-09-16 09:06] antoniovillanova commented on #341
Did you manage to replicate the issue?
In which version this issue will be fixed?

Thanks.

[2020-09-16 12:25] philips77 commented on #341
Hi,
The maintainer of this repo, @roshanrajaratnam, is currently on leave. This issue should be fixed in the next release, before end of this year, I guess. But I will leave it to him to investigate. Sorry, that we cannot address it faster.

[2020-09-25 09:24] Lelight-Iot opened #342 "no such algorithm: ECDH for provider SC"
---

**Describe the bug**
Method: ProvisioningPublicKeyState＃generateKeyPairs()
**log**
[code]
**build.gradle**
[code]
**proguard-rules.pro**
[code]

**To Reproduce**
Steps to reproduce the behavior:
startProvisioning
1. App run on debug is ok
2. App run on release mode is crash (minifyEnabled true)

I noticed that [issues#186](https://github.com/NordicSemiconductor/Android-nRF-Mesh-Library/issues

[2020-09-27 06:05] BaiduSu opened #343 "Proxy Provisioner add Subscription"
hi, how Provisioner subscribe to a group address, for Peripherals report state to the group address? Example, Provisioner subscribe 0xC000, all Peripherals report state to provisioner by 0xC000 group address.

[2020-09-27 07:36] BaiduSu commented on #343
i see, should use proxy filter white list achieve this case;

[2020-09-27 07:36] #343 closed

[2020-10-12 14:09] Kleak opened #344 "Add GenericDeltaSet for android"
on iOS there is a `GenericDeltaSet` but not on android.
It would be great if the 2 platforms have the same capabilities.

[2020-10-14 05:50] roshanrajaratnam commented on #344
Hi @Kleak, yes as of now this is not supported on Android due to other priorities. I will try to add it in the next release.

[2020-10-14 05:52] roshanrajaratnam commented on #342
Did you have any luck with this?

[2020-10-14 06:59] roshanrajaratnam commented on #341
@antoniovillanova cannot seem to reproduce this on Android 11. Will give it a shot on Android 8.0

[2020-10-14 07:48] roshanrajaratnam commented on #341
@antoniovillanova I provisioned 3 nodes and deleted them one after the other and seemed to be working fine on Android 8.0.

[2020-10-14 07:48] #341 closed

[2020-10-14 08:33] roshanrajaratnam commented on #336
Hi @yjfkpyu, what @bradjwilson says is correct. iOS app comes with built in a local node that includes a provisioner. However you would still need to switch the provisioner or change the address so that the sequence numbers do not clash.

[2020-10-14 08:33] #336 closed